{% load staticfiles %}
<div class="section contact-section">

    <div class="container">

        <h2>Contact Us</h2>
        <ul>
            <li>
                <h4 class="less-font-weight">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                    By Phone: +1 800 863 5555
                </h4>
            </li>
            <li>
                <h4 class="less-font-weight">
                    <span class="glyphicon glyphicon-envelope"></span> By Email: contact@jobin.ca
                </h4>
            </li>
            <li>
                <h4 class="less-font-weight">
                    <span class="glyphicon glyphicon-home"></span> By Mail: 11 college str, Montreal, QC, Canada H3A 2J2
                </h4>
            </li>
        </ul>

    </div>

</div>