{% extends 'home/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/news.css' %}"/>
{% endblock %}

{% block title %}Jobin Home{% endblock %}

{% block content %}
    <div class="section home-section">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-7 col-lg-8 home-info-div">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-3">
                            <div class="div-image">
                                <img src="{% static 'home/images/jobin5.gif' %}">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-9">
                            <h3>At Jobin, we bring the jobs to you!</h3>
                            We give you access to the many jobs that are posted and all you have to do is decide
                            whether you want to apply or not. We believe in changing the future of hiring.
                        </div>
                    </div>
                    <div class="video-container" style="background-color: #f6f6f6; text-align: center;">
                        <div class="video-loader-icon"><h1><i class="fa fa-spinner fa-spin"></i></h1></div>
                        <video width="640" height="380" controls class="hidden" id="intro-video">
                            <source src="https://s3.amazonaws.com/jobin-media/static/home/promovid.mp4" type="video/mp4">
                            Video cannot be viewed.
                        </video>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div class="panel panel-default login-panel">
                        <div class="panel-heading">
                            <h2 class="text-center">Login</h2>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {% if success_msg %}
                                <div class="alert alert-success">
                                    {{ success_msg }}
                                </div>
                            {% endif %}
                            <div class="">
                                <form id="login-form" action="{% url 'home:index' %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input id="id_username" class="form-control" type="text" name="email"
                                               placeholder="Email"/>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="password"
                                               placeholder="Password"/>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </form>
                            </div>
                            <div class="padding">
                                <a href="{% url 'home:new_password' %}">Forgot your password?</a>
                            </div>
                            <hr/>
                            <h4>Don't have an account?</h4>
                            <div class="padding">
                                <a href="{% url 'home:register' 'student' %}" class="btn btn-default btn-block">
                                    New Student Account
                                </a>
                            </div>
                            <div class="padding">
                                <a href="{% url 'home:register' 'company' %}" class="btn btn-default btn-block">
                                    New Company Account
                                </a>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#id_username')[0].maxLength = 100;
                                let vid = $('#intro-video');
                                vid.on('canplay', function( event ) {
                                    let loader = $('.video-loader-icon');
                                    if(vid.hasClass('hidden')){
                                        vid.removeClass('hidden');
                                    }
                                    if(!loader.hasClass('hidden')){
                                        loader.addClass('hidden');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {% include 'home/index_page/what.html' %}
    <div class="container">

        <h2>Contact Us</h2>
        <ul>
            <li>
                <h4 class="less-font-weight">
                    <span class="glyphicon glyphicon-envelope"></span> By Email: contact@jobin.ca
                </h4>
            </li>
        </ul>

    </div>

{% endblock %}
