{% load staticfiles %}
<div class="section news-section bg-grey">

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">New Schools!</h3>
                            <div class="div-image news-image">
                                <img src="{% static 'home/images/buildings.gif' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="news-text">
                                As the Jobin platform expands, support for more and more schools will be added in order
                                to give every student the Jobin experience.
                                <br/>
                                As schools are added, any student pre-registered for that school will be notified that the
                                service has been opened for his/her establishment.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">Mobile App!</h3>
                            <div class="div-image news-image">
                                <img src="{% static 'home/images/mobile.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="news-text">
                                The Jobin mobile app is coming soon to bring the convenience from the Jobin web platform
                                to your phone!
                                <br/>
                                The mobile app will bring new and easy ways to apply for jobs, and keep track of your
                                applications and saved events!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">Language Support</h3>
                            <div class="div-image news-image">
                                <img src="{% static 'home/images/languages.png' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="news-text">
                                The Jobin Team is working hard to translate the Jobin platform into your language so that it
                                can be used world-wide.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

    </div>

</div>




