{% load staticfiles %}
<div class="section about-section bg-grey">

    <div class="container">

        <h2>What do we do?</h2>
        <h4>
            At JobIn, our mission is to help people find jobs in a way that reflects the fast paced society that we live in.
        </h4>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <div class="div-image about-image">
                                <img src="{% static 'home/images/jobin5.gif' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="about-text">
                                Applicants shouldn’t have to fill out multiple forms for every jobs they
                                are applying for nor should they have to bring their resume in person.
                                We believe that applying for a job should be as easy as clicking on a button.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">Student</h3>
                            <div class="div-image about-image">
                                <img src="{% static 'home/images/gradcap.gif' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="about-text">
                                Fellow students! All you need is your school email address,
                                five minutes to register and setup your profile, and the willingness
                                to find a job. Apply to the job of your dreams in a simple click!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">Organization</h3>
                            <div class="div-image about-image">
                                <img src="{% static 'home/images/buildings.gif' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="about-text">
                                Register today, create a job posting and use our simple and efficient talent
                                management tool to recruit the best candidate for your company. Guess what?
                                It’s all free!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row carousel-item">
                        <div class="col-lg-4">
                            <h3 class="text-center">How Jobin Works</h3>
                            <div class="div-image about-image">
                                <img src="{% static 'home/images/gears.gif' %}">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <p class="about-text">
                                Jobin works by facilitating the application and recruitment process for students and
                                recruiters, respectively. Our platform allows students to easily apply to jobs and keep
                                track of them, and it allows recruiters to create job postings, manage them and
                                use our efficient talent management tool to choose the best fit for their company!
                                Start using Jobin today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

    </div>

</div>




