<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jobin Home{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'home/navigation_script.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#homenav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:index' %}">Jobin</a>
            </div>
            <div class="collapse navbar-collapse" id="homenav">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-item" href="{% url 'home:index' %}" data-sectitle="home">Home</a>
                    </li>
                    <li>
                        <a class="nav-item" href="#" data-sectitle="about">About Us</a>
                    </li>
                    <li>
                        <a class="nav-item" href="#" data-sectitle="mission">Mission</a>
                    </li>
                    <li>
                        <a class="nav-item" href="#" data-sectitle="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <div class="hidden">
        {% block hidden %}{% endblock %}
        <div id="page-name">
            {% block page_name %}blank{% endblock %}
        </div>
    </div>

</body>
</html>