{% extends 'company/base.html' %}

{% block title %}{% endblock %}

{% block side_content %}
    <div class="panel panel-default secondary-panel">
        <div class="panel-heading">
            <h4 style="text-align: center">Note</h4>
        </div>
        <div class="panel-body">
            Changing the email attached to this account will result in
            your account being blocked until you verifiy the new email
            you have entered.
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4 class="text-center">Change User Info</h4>
        </div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <div>
                <form class="form" action="{% url 'home:change_info' ut='company' %}"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="padding secondary-color horizontal-padding">
                        <h4>Enter Current Password:</h4>
                    </div>
                    <div class="form-group">
                        <label class="required">Current Password:</label>
                        <input class="form-control" type="password" name="old_password" value=""
                               placeholder="Current Password"/>
                    </div>
                    <div class="padding secondary-color horizontal-padding">
                        <h4>Change Email/Username:</h4>
                    </div>
                    <div class="padding">
                        <div class="form-group">
                            <label class="required">Email:</label>
                            <input class="form-control" type="email" name="email" placeholder="New Email"/>
                        </div>
                        <div class="form-group">
                            <label class="required">Confirm Email:</label>
                            <input class="form-control" type="email" name="confirm_email"
                                   placeholder="Confirm New Email"/>
                        </div>
                        <div>
                            <a href="{% url 'company:profile' %}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                    <div class="padding secondary-color horizontal-padding">
                        <h4>Change Password:</h4>
                    </div>
                    <div class="padding">
                        <div class="form-group">
                            <label class="required">New Password:</label>
                            <input class="form-control" type="password" name="password"
                                   placeholder="New Password"/>
                        </div>
                        <div class="form-group">
                            <label class="required">Confirm Password:</label>
                            <input class="form-control" type="password" name="confirm_password"
                                   placeholder="Confirm New Password"/>
                        </div>
                        <div>
                            <a href="{% url 'company:profile' %}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}