{% if error %}
    <div class="danger-message">
        <span>{{ error }}</span>
    </div>
{% endif %}

<h4 class="title-color w3-container w3-padding-8">Change Email/Username:</h4>
<div class="w3-row">
    <p>
        <label>Email: *</label>
    </p>
    <div class="w3-col s12">
        <input class="w3-input" type="email" name="email" value="" placeholder="New Email"/>
    </div>
</div>
<div class="w3-row">
    <p>
        <label>Confirm Email: *</label>
    </p>
    <div class="w3-col s12">
        <input class="w3-input" type="email" name="cemail" value="" placeholder="Confirm New Email"/>
    </div>
</div>
<div class="w3-padding-16">
    <a href="{% url 'student:profile' %}" class="w3-btn regular-btn">Cancel</a>
    <button type="submit" class="w3-btn submit-btn">Submit</button>
</div>
<h4 class="title-color w3-container w3-padding-8">Change Password:</h4>
<div class="w3-row">
    <p>
        <label>New Password: *</label>
    </p>
    <div class="w3-col s12">
        <input class="w3-input" type="password" name="pass" value="" placeholder="New Password"/>
    </div>
</div>
<div class="w3-row">
    <p>
        <label>Confirm Password: *</label>
    </p>
    <div class="w3-col s12">
        <input class="w3-input" type="password" name="cpass" value="" placeholder="Confirm New Password"/>
    </div>
</div>
