{% if error %}
    <div class="alert alert-danger">
        <span>{{ error }}</span>
    </div>
{% endif %}

<h4>Change Email/Username:</h4>
<div class="row form-group">
    <label class="control-label col-md-3">
        Email: *
    </label>
    <div class="col-md-7">
        <input class="form-control" type="email" name="email" placeholder="New Email"/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row form-group">
    <label class="control-label col-md-3">
        Confirm Email: *
    </label>
    <div class="col-md-7">
        <input class="form-control" type="email" name="cemail" placeholder="Confirm New Email"/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="container margined" style="width:inherit;">
        <a href="{% url 'company:profile' %}" class="btn regular-btn">Cancel</a>
        <button type="submit" class="btn submit-btn">Submit</button>
    </div>
</div>
<hr/>
<h4>Change Password:</h4>
<div class="row form-group">
    <label class="control-label col-md-3">
        Current Password: *
    </label>
    <div class="col-md-7">
        <input class="form-control" type="password" name="old_pass" placeholder="Current Password"/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row form-group">
    <label class="control-label col-md-3">
        New Password: *
    </label>
    <div class="col-md-7">
        <input class="form-control" type="password" name="pass" placeholder="New Password"/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row form-group">
    <label class="control-label col-md-3">
        Confirm Password: *
    </label>
    <div class="col-md-7">
        <input class="form-control" type="password" name="cpass" placeholder="Confirm New Password"/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="container margined" style="width:inherit;">
        <a href="{% url 'company:profile' %}" class="btn regular-btn">Cancel</a>
        <button type="submit" class="btn submit-btn">Submit</button>
    </div>
</div>