{% if error %}
    <div class="alert alert-danger">
        <span>{{ error }}</span>
    </div>
{% endif %}

<h4>Change Email/Username:</h4>
<div class="row form-group">
    <label class="control-label col-md-2">
        Email: *
    </label>
    <div class="col-md-6">
        <input class="form-control" type="email" name="email" placeholder="New Email"/>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row form-group">
    <label class="control-label col-md-2">
        Confirm Email: *
    </label>
    <div class="col-md-6">
        <input class="form-control" type="email" name="cemail" placeholder="Confirm New Email"/>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'company:profile' %}" class="btn btn-default">Cancel</a>
    </div>
    <div class="col-md-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
<hr/>
<h4>Change Password:</h4>
<div class="row form-group">
    <label class="control-label col-md-2">
        Password: *
    </label>
    <div class="col-md-6">
        <input class="form-control" type="password" name="pass" placeholder="New Password"/>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row form-group">
    <label class="control-label col-md-2">
        Confirm Password: *
    </label>
    <div class="col-md-6">
        <input class="form-control" type="password" name="cpass" placeholder="Confirm New Password"/>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'company:profile' %}" class="btn btn-default">Cancel</a>
    </div>
    <div class="col-md-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>