{% extends 'home/base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}

    <div class="panel panel-default login-panel">
        <div class="panel-heading">
            <h2 class="text-center">Login</h2>
        </div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {% if success_msg %}
                <div class="alert alert-success">
                    {{ success_msg }}
                </div>
            {% endif %}
            <div class="">
                <form id="login-form" action="{% url 'home:index' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="id_username" class="form-control" type="text" name="email"
                               placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password"
                               placeholder="Password"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
            <div class="padding">
                <a href="{% url 'home:new_password' %}">Forgot your password?</a>
            </div>
            <hr/>
            <h4>Don't have an account?</h4>
            <div class="padding">
                <a href="{% url 'home:register' 'student' %}" class="btn btn-default btn-block">
                    New Student Account
                </a>
            </div>
            <div class="padding">
                <a href="{% url 'home:register' 'company' %}" class="btn btn-default btn-block">
                    New Company Account
                </a>
            </div>
        </div>
        <script>
            $(function () {
                $('#id_username')[0].maxLength = 100;
                let vid = $('#intro-video');
                vid.on('canplay', function (event) {
                    let loader = $('.video-loader-icon');
                    if (vid.hasClass('hidden')) {
                        vid.removeClass('hidden');
                    }
                    if (!loader.hasClass('hidden')) {
                        loader.addClass('hidden');
                    }
                });
            });
        </script>
    </div>

{% endblock %}


