{% extends 'home/base.html' %}

{% block title %}Password forgotten{% endblock %}
{% block homeactive %}active{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="w3-card-4 w3-white">
            <header  class="alert alert-success">
                <h3 class="w3-text-white">Student Information:</h3>
            </header>
            <form name="Change_password" method="post" action="{% url 'home:Change_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="w3-container w3-padding-16">
                    <label>Enter email:</label><input class="form-control" id="id_email_forgotten" maxlength="254" name="email" placeholder="Email" type="text" value="{{ form.ForgetFormUSer.email }}" /><br/>
                </div>
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Get a new password" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}