<div style="padding:64px 32px;">
    <h2>Jobin Solution Incorporated Privacy Policy</h2>
    <p>
        At JobIn Solutions Incorporated ('JobIn'), protecting your privacy is very important to us. JobIn treats
        your personal information with the utmost respect and in accordance with this Privacy Policy. This Privacy
        Policy explains how personal information, about you, may be collected, used, or disclosed as a consequence
        of your activities on the JobIn website. We urge you to read it carefully. By registering on this site, by
        submitting your resume or any information through the use of this site, or by otherwise accessing this site
        or using any of our services, you agree to the terms of this Privacy Policy and consent to the policies and
        practices described for the collection, use or disclosure of personal information.
    </p>
    <ul>
        <li>Protection of Personal Information</li>
        <li>What Information Do We Collect</li>
        <li>Use of Information by JobIn</li>
        <li>Retention of Information</li>
        <li>Your Consent</li>
        <li>Disclosure of Information</li>
        <li>Access and Accuracy and Update of Personal Information</li>
        <li>Safeguards</li>
        <li>Changes to JobIn Privacy Policy</li>
        <li>Co-Branded and Other Associated sites</li>
    </ul>
    <h3>
        Protection of Personal Information
    </h3>
    <ol>
        <li>
            Canadian law governs the collection, use and disclosure of personal information in a manner that recognizes
            individuals' right of privacy with respect to their personal information.
        </li>
        <li>
            The federal Personal Information Protection and Electronic Documents Act ('PIPEDA') sets out rules and
            principles for the management of personal information by commercial organizations. JobIn services are
            made available to employers and job seekers across Canada.
        </li>
        <li>
            The type of personal information that is protected includes almost any information about an identifiable
            individual, such as your name, address, telephone number, age, sex, marital status and nationality.
            Personal information may not, however, include certain types of business or employment related information.
            It does not, for example, include the name, title, business address or telephone number of an employee of
            an organization. Information contained in resumés that you elect to post to this site may constitute
            personal information and would be subject to this Privacy Policy.
        </li>
        <li>
            PIPEDA provides certain fundamental principles which apply to the collection, use and disclosure of your
            personal information. One of the most significant, is that your personal information generally cannot be
            collected, used or disclosed without your consent. It also allows you to find out why your personal
            information is being collected, how it is being used, where it's being stored and to whom it's disclosed.
            It requires the use of appropriate safeguards to secure your personal information. It also grants you
            access to your personal information and provides mechanisms for ensuring compliance.
        </li>
        <li>
            JobIn does not collect, use or disclose your personal information without your consent except where
            required or allowed by law.
        </li>
    </ol>
    <h3>
        What Information Do We Collect?
    </h3>
    <ol>
        <li>
            JobIn limits the collection of your personal information to that which is required or permitted by law.
            JobIn collects such personal information as is required for the purposes identified in this
            Privacy Policy or identified by JobIn at the time that we collect the information from you.
        </li>
        <li>
            JobIn requests certain information from you if you elect to register as a user of this site
            ('Registration Information'). Registration Information includes your full name,
            email address and postal code.
        </li>
        <li>
            If you are a registered user of the site, you may elect to post one or more resumés ('Resumés') to the
            site. The extent of the information that is collected when you post a Resumé depends on what you choose
            to place in your Resumé. At a minimum, if you post a Resumé, JobIn will require that you provide your
            full name, postal code, phone number and email address. Your Resumé may contain additional information
            such as your experience, education, skills or any other information about yourself that you decide to
            provide.
        </li>
        <li>
            At times, JobIn may ask you to provide general information about yourself to assist us in meeting your
            various needs or to better understand the requirements, profiles and experience of our site visitors.
            JobIn may also ask you to provide or allow us access to specific information about you, contained on
            other databases. This information includes: information that is collected if you choose to participate
            in a survey; if you ask to be kept updated about new developments, services or features offered by JobIn
            or its business partners; if you utilize any of our services or features; or if you contact JobIn. All of
            the information in this paragraph is referred to in this Privacy Policy as 'User Information'.
        </li>
        <li>
            You can visit this site without telling us who you are and without providing JobIn with any information
            about yourself. However, certain anonymous information ('Anonymous Information') may be collected
            automatically as you navigate through the site or use our services, including usage details, sites
            visited prior to visiting our site, IP addresses and information collected through cookies, web beacons
            and other tracking technologies. Please note that portions of this site will not function if you do
            not accept cookies.
        </li>
        <li>
            With the exception of the Anonymous Information described above, you will always know when we are
            collecting information from you and therefore have the opportunity not to provide the information.
        </li>
        <li>
            The purposes for which JobIn collects any information will always be as set out in this Privacy Policy
            or as otherwise expressly communicated to you before we collect the information.
        </li>
    </ol>
    <h3>
        Use of Information by JobIn
    </h3>
    <ol>
        <li>
            <h5>Registration information</h5>
            <ul>
                <li>
                    Registration Information is collected primarily for the purpose of identifying
                    you as a user of this site.
                </li>
            </ul>
        </li>
        <li>
            <h5>User Information</h5>
            <ul>
                <li>
                    User Information, which generally includes the Registration Information, is used primarily
                    to update you on the site, and to email you regarding new site developments and information
                    about our services or those of our affiliates, to answer your questions, and to provide you
                    with services that you have requested.
                </li>
                <li>
                    User Information may also be used to determine appropriate new features, content or services
                    for this site, to permit JobIn or its business partners to contact you in a more specific and
                    focused manner depending on the content of your User Information, or to provide advertisers and
                    business partners with aggregate but not personally identifiable information about our customers
                    and their preferences, including statistical information about the source of visitors, sales,
                    traffic patterns and use of services.
                </li>
                <li>
                    If you are a registered user of this site and have provided JobIn with Registration Information,
                    we may use your Registration Information and User Information to provide tailored job opportunities
                    or other information to you.
                </li>
            </ul>
        </li>
        <li>
            <h5>Anonymous Information</h5>
            <ul>
                <li>
                    Anonymous Information is used primarily by us and our business partners to measure the number
                    of visits, average time spent, page views, and other statistics about visitors to this site.
                    JobIn may also use this data to monitor site performance for systems administration purposes,
                    to make this site and some of our services easier and more convenient to use, for law enforcement
                    purposes, and to share information in aggregate but not personally identifiable form with our
                    advertisers and business partners.
                </li>
                <li>
                    If cookies are enabled for your internet browser, then they are used to help us measure the number
                    of visits, average time spent, page views, and other statistics relating to your use of this site.
                    If you are performing a search on our site, then a cookie is used to carry the search request
                    data from the request page to the results page. This cookie, by itself, does not tell us your
                    email address or who you are.
                </li>
                <li>
                    If JobIn uses your Registration Information and User Information to provide tailored job
                    opportunities or other information to you, we use cookies to recognize you on subsequent
                    visits to our site and to make your on-line experience more convenient.
                </li>
                <li>
                    Anonymous Information may be used to serve you with targeted advertising or tailored job
                    advertisements on this site. Targeted advertisements and tailored job advertisements maybe be
                    more interesting for you and are more productive for our advertisers and employers. While JobIn
                    does not collect personal information automatically, if you are using the site as a Registered
                    User we may tie this information to personal information about you that we collect from other
                    sources or you provide to us.
                </li>
            </ul>
        </li>
        <li>
            <h5>Resumés</h5>
            <ul>
                <li>
                    Resumés are accessed by employers, recruiters, human resource professionals and other
                    registered users of the JobIn Resumé database.
                </li>
                <li>
                    JobIn makes every effort through contractual means and through the use of user IDs and passwords
                    to restrict those who have access to our Resumé database from using Resumés other than for the
                    purpose of fulfilling a job posting. However, JobIn cannot guarantee that all employers,
                    recruiters and other persons with access will adhere to the limitations that JobIn imposes on
                    them, or that unauthorized persons will not gain access to the database. If at any time you would
                    like your Resumé removed from the JobIn site, you may do so by using the 'Delete Resumé' function
                    located on the site (certain features of the platform might then be restricted to you). However,
                    employers, recruiters and others who have subscribed for access to the Resumé database, or for
                    whose job posting you may have applied, may already have retained a copy of your Resumé in their
                    own systems and databases.
                </li>
                <li>
                    Some job postings which are posted on this site allow you to follow links to other sites where
                    you can apply for specific job postings or submit your Resumé. In some cases these sites are
                    co-branded with the sites of employers, human resources customers or with the sites of our
                    business partners. In some cases, such sites are still within the control of the JobIn web server.
                    <br/>
                    Any Resumé or other information of any kind that you provide, including as a part of a job
                    application process, is outside the control of JobIn and its web servers. In such cases, you
                    will be providing your Resumé directly to the employer, recruiter, human resources professional
                    or other person, and your Resumé will be subject to their practices and their privacy policies or
                    practices. JobIn is not responsible for the privacy policies or practices of such third parties.
                    In such cases, we encourage you to review the third party's privacy policy.
                </li>
                <li>
                    In addition to the provisions of the JobIn Privacy Policy, the collection, use and disclosure of
                    your Resumé is governed by the terms and conditions of use of this site, a copy of which can
                    be obtained from the home page of this site.
                </li>
            </ul>
        </li>
        <li>
            <h5>Surveys</h5>
            <ul>
                <li>
                    When information is collected from you by JobIn as a part of an online or email survey, unless
                    you request to receive the results of the survey, no personally identifiable information is
                    requested during such surveys and all collected information is used on an aggregated basis only.
                </li>
            </ul>
        </li>
        <li>
            <h5>Communication with JobIn</h5>
            <ul>
                <li>
                    If you contact JobIn, we may keep a record of the correspondence but we do not make any use of
                    the email address or other contact information, other than to respond to the communication.
                </li>
            </ul>
        </li>
        <li>
            <h5>Improper Use of Personal Information</h5>
            <ul>
                <li>
                    Although JobIn uses all reasonable means to ensure that the information you provide to us is not
                    used by third parties for purposes other than those described in this Privacy Policy, JobIn is not
                    responsible for any improper use of your personal information that is beyond our reasonable control.
                </li>
            </ul>
        </li>
    </ol>
    <h3>
        Retention of Information
    </h3>
    <ol>
        <li>
            You may choose to delete your Resumé from our JobIn records at any time. We also delete Resumés from
            our records in accordance with internally developed experience criteria based upon when your Resumé 
            was created, last edited or last used to apply for a job posting, as well as your use of your account.
            Certain Registration Information regarding your account with us will normally be retained such as your
            name, email address and postal code should you wish to post a Resumé or access our services subsequently.
        </li>
        <li>
            We maintain record retention practices and policies which apply to personal information that is no longer
            necessary or relevant for the identified purposes, or that is no longer required or permitted by
            law to be retained.
        </li>
        <li>
            All personal information destroyed or erased from our records is done so securely with due regard to
            the sensitivity of the information.
        </li>
    </ol>
    <h3>
        Your Consent
    </h3>
    <ol>
        <li>
            JobIn does not collect, use or disclose your personal information without your consent except
            where required or permitted by law.
        </li>
        <li>
            JobIn may, for example, collect, use or disclose personal information without your knowledge or
            consent in the case of an emergency where the life, health or security of an individual is threatened.
        </li>
        <li>
            JobIn may also disclose personal information without knowledge or consent to a lawyer or other advisor
            representing JobIn, to collect a debt, to comply with a subpoena, warrant or other court order or rules,
            is required for the investigation or enforcement of laws, or as may otherwise be required or authorized
            by law. Where a request for personal information is made by an organization claiming lawful authority for
            the request, JobIn will take reasonable steps to ensure that the requesting party properly identifies
            its legal authority.
        </li>
        <li>
            JobIn will generally obtain your consent electronically on our site. However, it may also be obtained
            in writing or verbally. In determining the appropriate form of consent, we will consider the sensitivity
            of and reasonable expectations regarding the personal information.
        </li>
        <li>
            JobIn will not require you to consent to the collection, use or disclosure of personal information as
            a condition to the supply of any products or services, except to the extent reasonably required to
            fulfill the purposes identified in this Privacy Policy or otherwise identified at the time that we
            collect your personal information.
        </li>
        <li>
            You may withdraw your consent to the continued collection, use or disclosure of your personal information
            by JobIn at any time by contacting us. We would also require reasonable advance notice to effect any
            requested changes. A request that JobIn no longer collect or use your Registration Information or
            certain User Information or Anonymous Information, may mean that we will no longer have practical
            means to provide you with our services or products. You may no longer be able to log in to our site
            or may lose certain functionality when visiting the site, including functionality that depends on 
            Anonymous Information such as the placement of cookies.
        </li>
        <li>
            If you withdraw your consent to the disclosure of personal information that you have previously
            authorized JobIn to share with others, such as your Resumé, you should know that employers, recruiters
            and others who have subscribed to the Resumé database or for whose job posting you may have applied,
            may already have retained a copy of your Resumé or such personal information in their own systems
            and databases.
        </li>
    </ol>
    <h3>
        Disclosure of Information
    </h3>
    <ol>
        <li>
            JobIn will not sell, trade, rent or license personal information that you provide to us.
        </li>
        <li>
            JobIn uses domestic and foreign third party service providers to host and process certain data,
            including Resumés for Resumé database search functionality, and credit card transactions if employers,
            recruiters or others have subscribed for access to paid services such as the Resumé database. Third party
            service providers are required to comply with privacy laws and principles comparable to ours.
        </li>
        <li>
            JobIn may disclose your personal information to third parties who acquire all or a substantial part of
            the JobIn business, including by merger, amalgamation, a sale of our assets or in the unlikely event of
            bankruptcy. Subject to a court order, at the time of such merger, amalgamation, sale or bankruptcy,
            JobIn would contractually require any resulting entity that obtains your personal information to comply
            with its obligations under PIPEDA regarding your personal information, including the applicable terms
            and conditions of this Privacy Policy.
        </li>
    </ol>
    <h3>
        Access and Accuracy and Update of Personal Information
    </h3>
    <ol>
        <li>
            JobIn will take reasonable steps to ensure that your personal information is as accurate, complete
            and up-to-date as is appropriate for its purposes and to minimize the possibility that inappropriate
            information may be used to make a decision about you.
        </li>
        <li>
            JobIn provides you with the means to access, update, edit or delete Registration Information and
            certain other personal information you have provided to us at any time on your own by going to My Profile
            on the site and changing or deleting your Registration Information and other personal information as
            desired. We ask that you regularly log in to the site and update your personal information and in
            particular your contact information to ensure its accuracy.
        </li>
        <li>
            You can update or delete your Resumé at any time by logging on to the site and making the required changes.
            However, employers, recruiters and others who subscribe to the Resumé database or for whose job posting
            you may have applied, may already have retained a copy of your Resumé in their own systems and databases.
        </li>
        <li>
            You may similarly contact us to address errors or omissions relating to your personal JobIn
            does not share your identifiable personal information with any third party.
        </li>
        <li>
            If you decide at any time that you do not want to receive any updates to which you have subscribed,
            you can log in to the site and change your personal preferences, or you can contact us.
        </li>
        <li>
            JobIn may require additional information from you in order to verify your identity following an access
            request. Such personal information will only be used for the purpose of identity verification and will
            itself be subject to protection under the terms of this Privacy Policy.
        </li>
        <li>
            JobIn will respond to all requests for access within 90 days or as otherwise required or permitted by law.
        </li>
        <li>
            In some circumstances, we may not be able to provide access to all of the personal information that we
            hold about you. JobIn may not provide access to information if doing so would likely reveal personal
            information about a third party, could be expected to threaten the life or security of an individual,
            reveal confidential commercial information, if the information is protected by a legally recognized
            privilege, if it was created as part of a settlement or dispute resolution process, or if it was
            collected in relation to the investigation of a breach of an agreement or a contravention of law.
            JobIn will provide the reasons to you if it refuses an access request.
        </li>
        <li>
            An individual shall be able to challenge the accuracy and completeness of their information
            and have it amended as appropriate.
        </li>
    </ol>
    <h3>
        Safeguards
    </h3>
    <ol>
        <li>
            Where JobIn considers it appropriate, having due regard to the sensitivity of the particular
            information that we collect, use or disclose, JobIn uses encryption or authentication tools, among
            other methods, practices and procedures, to protect your personal information irrespective of which
            format it is stored in. Our practices and procedures for safeguarding your information are regularly
            reviewed.
        </li>
        <li>
            E-mails you send to JobIn are not necessarily secure when they are transmitted to us. If your
            communication is sensitive or includes confidential information you must provide it instead via by
            telephone or by post. If your communication includes a credit card number you must contact JobIn.
        </li>
        <li>
            It is important that you keep your user ID and password information secure and that you not share it
            with anyone, in order to safeguard your personal information on our JobIn site.
        </li>
        <li>
            There are occasionally fraudulent 'phishing' emails targeting individuals who the perpetrators believe
            might be registered users of this site. JobIn never sends an email that requests users to visit a
            webpage or place a call to provide their user ID, password or any personal information. We will never
            ask you to confirm your user ID or password via email. If you ever receive such an email, do not log in
            from any referred link and do not provide any personal information. You should contact us immediately
            and inform us of the email.
        </li>
        <li>
            Our employees receive regular privacy training. Employees are instructed to only use personal
            information in adherence with the principles set forth in this Privacy Policy and the laws applicable
            to each specific business. The only employees who have access to your personal information are
            administrative personnel. Employees who misuse customer personal information may be subject
            to disciplinary action.
        </li>
    </ol>
    <h3>
        Changes to Our Privacy Policy
    </h3>
    <ol>
        <li>
            JobIn reserves the right to modify or supplement this Privacy Policy statement at any time. If we make
            any material change to this Privacy Policy, we will update this site to include such changes and post a
            notice on our home page, for a period of 30 days, with a link to the updated Privacy Policy. Please read
            any such notice and the new policy statement. If you return to this site after a period of more than 30
            days, please check this Privacy Policy to confirm that you are aware of the details of the most recent
            update. Please look at the top of this Privacy Policy to check the date that it was updated and to
            confirm that you are familiar with the terms of the most recent update. Your continued use of this site
            after we post such notice will constitute your acceptance of the new terms and their application to your
            use of this site and the personal information disclosed for such use, including personal information
            previously furnished us, as if they were the initial terms, and your consent to the use of your personal
            information as described in this privacy policy and elsewhere on our website.
        </li>
        <li>
            JobIn will always seek your consent if we want to use your personal information for purposes other
            than for those set out in this Privacy Policy or to which you have previously agreed.
        </li>
    </ol>
    <h3>
        Co-Branded and Other Associated sites
    </h3>
    <ol>
        <li>
            The JobIn site may contain links to other sites, including those of our business partners,
            vendors and advertisers. While we try to link only to sites that share our high standards and respect
            for privacy, please understand that we are not responsible for the content of, or the privacy
            practices employed by, other sites.
        </li>
    </ol>
</div>
