{% extends 'home/base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default primary-panel">
            <div class="panel-heading">
                <h3>New {{ type }} registration:</h3>
            </div>
            <div class="panel-body">
                <form id="register-form" action="{% url 'home:register' ut='student' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error {% if not error %}hidden{% endif %} alert alert-danger">
                        {{ error }}
                    </div>
                    <div class="form-group">
                        <label class="required">Email:</label>
                        <input id="email" placeholder="Email"
                               name="email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <label class="required">Confirm Email:</label>
                        <input id="confirm_email" placeholder="Confirm Email"
                               name="confirm_email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <label class="required">Password:</label>
                        <input id="password" placeholder="Password"
                               name="password" class="form-control" type="password"/>
                    </div>
                    <div class="form-group">
                        <label class="required">Confirm Password:</label>
                        <input id="confirm_password" placeholder="Confirm Password"
                               name="confirm_password" class="form-control" type="password"/>
                    </div>
                    <div>
                        <a href="{% url 'home:index' %}" class="btn btn-default">Cancel</a>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <p>
                    Once you signup you will be sent an email where
                    you can verify your account to activate it.
                    {% if type == 'student' %}
                        <br/>
                        <strong>Make sure you use your school email.</strong>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            $('#email')[0].maxLength = 100;

            $('#register-form').submit(function () {
                let email = $('#email').val();
                let c_email = $('#confirm_email').val();
                if (email !== c_email) {
                    $('.form-error').append('<br/>Emails do not match.<br/>');
                    return false;
                }
                let pass = $('#password').val();
                let c_pass = $('#confirm_password').val();
                if (pass !== c_pass) {
                    $('.form-error').append('Passwords do not match.');
                    return false;
                }
            });
        });
    </script>
{% endblock %}