{% extends 'home/base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default primary-panel">
            <div class="panel-heading">
                <h3>New {{ type }} registration:</h3>
            </div>
            <div class="panel-body">
                <form id="register-form" action="{% url 'home:register' ut=type %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error {% if not error %}hidden{% endif %} alert alert-danger">
                        {{ error }}
                    </div>
                    <div class="form-group">
                        <div class="hidden emails-error alert alert-danger">
                        </div>
                        <label class="required">Email:</label>
                        <input id="email" placeholder="Email"
                               name="email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <label class="required">Confirm Email:</label>
                        <input id="confirm_email" placeholder="Confirm Email"
                               name="confirm_email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <div class="hidden passwords-error alert alert-danger">
                        </div>
                        <label class="required">Password:</label>
                        <input id="password" placeholder="Password"
                               name="password" class="form-control" type="password"/>
                    </div>
                    <div class="form-group">
                        <label class="required">Confirm Password:</label>
                        <input id="confirm_password" placeholder="Confirm Password"
                               name="confirm_password" class="form-control" type="password"/>
                    </div>
                    <div class="form-group">
                        <div class="hidden must-agree alert alert-danger">
                            You must agree to the Terms and Conditions and Privacy Policy to continue.
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="tcpp-checkbox">
                                I agree to the
                                <a target="_blank" href="{% url 'home:terms' %}">Terms and Conditions</a>
                                and
                                <a target="_blank" href="{% url 'home:policy' %}">Privacy Policy</a>.
                            </label>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'home:index' %}" class="btn btn-default">Cancel</a>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function show(el) {
            if(el.hasClass('hidden')){
                el.removeClass('hidden');
            }
        }

        $(function () {
            $('#email')[0].maxLength = 100;

            $('#register-form').submit(function () {
                let email = $('#email').val();
                let c_email = $('#confirm_email').val();
                let e = $('.emails-error');
                if(email && c_email){
                    if (email.toString().toLowerCase() !== c_email.toString().toLowerCase()) {
                        e.text('Emails do not match.');
                        show(e);
                        return false;
                    }
                }
                else{
                    e.text('Email and Confirm Email cannot be left empty.');
                    show(e);
                }

                let pass = $('#password').val();
                let c_pass = $('#confirm_password').val();
                let pe = $('.passwords-error');
                if(pass && c_pass) {
                    if (pass !== c_pass) {
                        pe.text('Passwords do not match.');
                        show(pe);
                        return false;
                    }
                }
                else{
                    pe.text('Password and Confirm Password cannot be left empty.');
                    show(pe);
                }
                let check = $('#tcpp-checkbox');
                if(!(check.is(':checked') && check.prop('checked'))){
                    show($('.must-agree'));
                    return false;
                }
            });
        });
    </script>
{% endblock %}