{% extends 'student/base.html' %}

{% block title %}User Info Update{% endblock %}

{% block content %}
    <div class="w3-container">
        <div class="w3-card-8">
            <div class="primary-color w3-container w3-text-white">
                <h4 class="w3-center">Change User Info</h4>
            </div>
            <div class="w3-container w3-pale-yellow">
                <p>
                    Changing the email attached to this account will result in
                    your account being blocked until you verify the new email
                    you have entered. Your school will also be changed to match
                    the new email you provide.
                </p>
            </div>
            <div class="w3-container">
            {% if error %}
                <div class="w3-container w3-padding message-danger w3-display-container">{{ error }}</div>
            {% endif %}
                <form method="post" class="w3-form" enctype="multipart/form-data"
                      action="{% url 'home:change_info' ut='student' %}">
                    {% csrf_token %}
                    <h4 class="secondary-color w3-container w3-padding">Enter Current Password:</h4>
                    <div class="form-group">
                        <label for="current_password" class="required">Current Password:</label>
                        <input class="w3-input w3-border" type="password" name="old_password" id="current_password"/>
                    </div>
                    <h4 class="secondary-color w3-container w3-padding">Change Email:</h4>
                    <div class="form-group">
                        <label for="new_email" class="required">New Email:</label>
                        <input id="new_email" class="w3-input w3-border" type="email" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="confirm_email" class="required">Confirm Email:</label>
                        <input class="w3-input w3-border" type="email" name="confirm_email" id="confirm_email"/>
                    </div>
                    <div>
                        <a href="{% url 'student:profile' %}" class="w3-btn w3-border w3-border-black">Cancel</a>
                        <button type="submit" class="w3-btn w3-border w3-border-green w3-text-green">Submit</button>
                    </div>
                    <h4 class="secondary-color w3-container w3-padding">Change Password:</h4>

                    <div class="form-group">
                        <label for="new_password" class="required">New Password:</label>
                        <input class="w3-input w3-border" type="password" name="password" id="new_password"/>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="required">Confirm Password:</label>
                        <input class="w3-input w3-border" type="password" name="confirm_password" id="confirm_password"/>
                    </div>
                    <div>
                        <a href="{% url 'student:profile' %}" class="w3-btn w3-border w3-border-black">Cancel</a>
                        <button type="submit" class="w3-btn w3-border w3-border-green w3-text-green">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}