{% extends 'home/base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Jobin Solution Incorporated Terms And Conditions</h2>
        <p>
            This web site (this "Site") is provided by JobIn, conditional on your acceptance of the terms and conditions
            of use set forth below (the "Terms and Conditions"). By accessing, using or downloading messages, information,
            data, text, software, images or other materials from this Site (the "Content"), or by sending messages,
            information, data, text, software, images or other materials to this Site ("Materials"), you agree on your
            own behalf and on behalf of any entity on whose behalf you may act to accept and abide by these Terms and
            Conditions for each use and each visit of this Site. If you do not agree to abide by these Terms and Conditions,
            you should not use this Site or download or use Content from it.
        </p>
        <ol>
            <li>Changes to Terms and Conditions</li>
            <li>Changes to this Site</li>
            <li>Permitted and Prohibited Uses</li>
            <li>Rights To Use Materials</li>
            <li>Registration and Password</li>
            <li>Proprietary Rights</li>
            <li>Links and Third Party Materials</li>
            <li>Agreement to Privacy Policy</li>
            <li>Disclaimers</li>
            <li>Limitation of Liability</li>
            <li>Indemnity</li>
            <li>Choice of Law</li>
            <li>Arbitration</li>
            <li>General</li>
        </ol>
        <h3>
            1. Changes to Terms and Conditions
        </h3>
        <p>
            JobIn has the right, in its sole discretion, to add to, remove, modify or otherwise change any part
            of these Terms and Conditions in whole or in part, at any time. Changes will be effective when notice
            of such change is posted at this Site. Please check these Terms and Conditions frequently for updates
            by checking the date of "Last Update" at the top of this document. If any change is not acceptable to
            you, you must discontinue your use of this Site immediately. Your continued use of this Site or downloading
            or use of Content from it after any such changes are posted will constitute acceptance of those changes.
        </p>
        <h3>
            2. Changes to this Site
        </h3>
        <p>
            JobIn may terminate, change, suspend or discontinue any aspect of this Site, including (i) changing the
            availability of any features at any time without notice or liability; (ii) changing any fees or charges for
            use of the Site, including instituting new or increased fees or charges for the use of the Site or any other
            Site-related services (the "Services") or any features thereof; (iii) removing, adding, modifying or otherwise
            changing any Content on or from this Site; or (iv) imposing limits on certain features and Services or
            restricting your access to parts or all of this Site without notice or liability for any reason whatsoever.
            JobIn reserves the right but not the duty, in its sole discretion, to correct any errors or omissions in
            any portion of this Site at any time without notice.
        </p>
        <h3>
            3. Permitted and Prohibited Uses
        </h3>
        <p>
            The Site may be used only for lawful purposes by individuals seeking employment and career information
            ("Candidates"), and by employers ("Employers") and recruitment companies ("Recruiters") seeking employees.
            You agree to use the Site only to send Materials and receive Content that are proper and related to the
            purpose of the Site.
            <br/>
            Subject to these Terms and Conditions, JobIn grants you a non-exclusive, non-transferable, limited right to
            access, use and view this Site and the Content thereon, solely for your own personal or internal company use,
            provided, however, that you may not, nor may you allow others to, directly or indirectly: (i) remove, from
            any copy of the Content downloaded, the copyright or other proprietary notices contained in the Content;
            (ii) sell, reproduce, modify or attempt to modify the Content in any way or reproduce or publicly display,
            perform, or distribute or otherwise use them for any public or commercial purpose, including without
            limitation use of the Content on any other web site; (iii) transfer the Content to any other person without
            the written consent of JobIn; (iv) print or copy any of the HTML or other computer programs that are accessible
            at this Site; (v) use this Site in any manner that could damage, disable, overburden or impair this Site;
            (vi) interfere with the security of, or otherwise abuse, this Site or any services, system resources, accounts,
            servers or networks connected to or accessible through this Site or affiliated or linked sites; (vii) disrupt
            or interfere with any other person's use or enjoyment of this Site or affiliated or linked sites;
            (viii) upload, post or otherwise transmit on this Site any Materials that would negatively affect the
            functioning of the Site, including without limitation computer viruses, Trojan horses, worms or other
            harmful, disruptive or destructive files or computer programs or that imposes an unreasonable or
            disproportionately large load on this Site's infrastructure; (ix) use any robot, spider or other automatic
            program or device, or manual process to monitor, copy, summarize, or otherwise extract information from this
            Site or the Content in whole or in part; (x) use or attempt to use another's account, password, service, system
            or other information without prior written authorization from JobIn; (xi) create or use a false identity on
            this Site; (xii) attempt to obtain unauthorized access to this Site or portions of this Site that are
            restricted from general access; (xiii) transmit on, to or from this Site spam, chain letters, junk mail
            or any other type of unsolicited mass e-mail; (xiv) harvest or otherwise collect information about others,
            except for the sole stated purposes provided by this Site, including e-mail addresses, without their consent;
            or (xv) register an e-mail address that you do not own or for which you do not have the express permission
            of the owner to register.
            <br/>
            You may post certain Materials to the Site. You may only post Materials for the lawful, stated purposes of this
            Site. You agree, that in posting Materials, you will not, nor will you allow others to, directly or indirectly:
            (i) post any incomplete, false or inaccurate biographical information or information which is not your own
            accurate resume; (ii) post any franchise, pyramid scheme, multi-level marketing (MLM) opportunity,
            "club membership", distributorship or sales representative agency arrangement or other business opportunity
            which requires an up-front or periodic payment, requires recruitment of other members, sub-distributors or
            sub-agents; (iii) delete or revise any material posted by any other person or entity; (iv) post or transmit
            any Materials that are unlawful, harmful, threatening, abusive, harassing, defamatory, libellous, vulgar,
            obscene, or tortuous or materials which infringe or violate any third party's copyright, trademark,
            trade secrets, privacy or other proprietary or property right or that could constitute a criminal offence,
            give rise to civil liability or otherwise violate any applicable law; (v) impersonate any person or entity,
            including without limitation a JobIn employee or agent, an authorized user of JobIn' Services, a Candidate,
            an Employer or a Recruiter, or otherwise misrepresenting your affiliation with any person or entity;
            (vi) post opinions, notices or advertisements, commercial or otherwise or solicit business from Recruiters
            or Employers who post on the Site, including any solicitation by any of our competitors of Recruiters or
            Employers who post on the Site.
            <br/>
            In addition, you agree that you are solely responsible for actions and communications undertaken or
            transmitted in the course of your usage of this Site, and that you will comply with all laws that apply or
            may apply to your use of or activities on this Site or in respect of the Materials and Content. JobIn will
            investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement
            authorities in prosecuting users who are involved in such violations.
            <br/>
            JobIn reserves the right at all times to disclose any Materials provided by you as necessary to satisfy any
            law, regulation or governmental request, or to edit, refuse to post or remove any Materials, in whole or in
            part, that in JobIn' sole discretion is objectionable or in violation of these Terms and Conditions.
        </p>
        <h3>
            4. Rights to Use Materials
        </h3>
        <p>
            To the maximum extent permitted by law, if you post content or submit material to JobIn, including photographs,
            including material you submit for a job solicitation hosted on JobIn, you grant JobIn a nonexclusive,
            worldwide, perpetual, irrevocable (except as described herein), fully paid, royalty-free, sublicensable
            (through multiple layers of sub-licensees) right and license to make, use, sell, sublicense, reproduce,
            distribute, perform, display, prepare derivative works from and otherwise exploit all such content and
            materials for any purpose without restriction. Furthermore, you grant JobIn the right to use your name
            and/or user name in connection with the content. When you apply for a job, through JobIn, you are sending
            your resume and application information to JobIn, and asking JobIn to share that information with a third
            party. As an employer, when you respond to or contact a jobseeker who has used the JobIn, you are sharing
            that information with JobIn and asking us to share it with the jobseeker. When you, an employer or job
            candidate, send materials through JobIn, JobIn may use those materials for data analysis, quality control,
            and to provide better search quality and candidate quality results for job seekers and employers. JobIn may
            also note if the words of a job seeker’s resume match the words of certain job descriptions, in order to
            improve service to job seekers and employers. You represent and warrant that: (i) you own the content posted
            by you on or through the Website or otherwise have the right to grant the license set forth in this section,
            (ii) the posting and use of your content on or through the Website does not violate the privacy rights,
            publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person
            or entity, and (iii) the posting of your content on the Website does not result in a breach of contract between
            you and a third party. You agree to pay for all royalties, fees, damages, and any other monies owed to any
            person or entity by reason of content you post on or through the Website. You agree to defend and indemnify
            JobIn and its affiliates from any claims resulting from any content or materials you provide hereunder.
            <br/>
            At your discretion, you may provide feedback to JobIn concerning the functionality
            and performance of the Website from time to time, including, without limitation, identifying potential
            errors, improvements, modifications, bug fixes, or enhancements (“Feedback”). If you, through your
            evaluation or otherwise, suggests any Feedback, you hereby grant JobIn a nonexclusive, worldwide,
            perpetual, irrevocable, royalty-free, sublicensable (through multiple layers of sublicensees) right
            and license to make, use, sell, sublicense, reproduce, distribute, perform, display, prepare derivative
            works from and otherwise exploit all such Feedback and materials for any purpose without restriction.
            You agree that JobIn may disclose that Feedback to any third party in any manner and you agree that JobIn
            has the ability to sublicense all Feedback in any form to any third party without restriction. By submitting
            any Feedback, you agree that your disclosure is gratuitous, unsolicited and without restriction and will
            not place JobIn under any fiduciary or other obligation, and that we are free to use the Feedback without
            any additional compensation to you, and/or to disclose the Feedback on a non-confidential basis or otherwise
            to anyone. You further acknowledge that, by acceptance of your Feedback, JobIn does not waive any rights to
            use similar or related ideas previously known to JobIn, or developed by its employees, or obtained from
            sources other than you.
        </p>
        <h3>
            5. Registration and Password
        </h3>
        <p>
            You are responsible for maintaining the confidentiality of your registration information and password.
            You shall be responsible for all uses of your registration, whether or not authorized by you.
            You agree to immediately notify JobIn of any unauthorized use of your registration or password.
        </p>
        <h3>
            6. Proprietary Rights
        </h3>
        <p>
            Limited License and Copyright. This Site, including all Content, is protected by Canadian and worldwide
            copyright laws and treaty provisions. You agree to comply with all copyright laws worldwide in your use of
            this Site and to prevent any unauthorized copying of the Content. Except as expressly provided herein,
            JobIn does not grant any express or implied right or license to you under any intellectual property right,
            including under any patent, trademark, copyright, trade secret, or confidential information, of JobIn.
            <br/>
            Trademarks. The Service names, company names and logos used on this Site may be trademarks, including
            registered trademarks of JobIn. Such Service names, company names and logos of JobIn may not be copied,
            imitated or used, in whole or in part, without the prior written consent of JobIn. Other services and company
            names mentioned on this Site may be the trademarks of their respective owners.
            <br/>
            Reservation of Rights. JobIn' Services, methods and processes may be covered by one or more patents or other
            intellectual property rights, and are subject to trade secret and other proprietary rights. JobIn reserves
            all such rights.
            <br/>
            Software. Any software, including calculator software, as well any files or images generated by such software,
            code and data accompanying such software (the "Software"), used or accessible through this Site is the
            copyrighted work of JobIn or its licensors. Unless provided for elsewhere, you are licensed to use the
            Software on a non-exclusive basis for the purposes expressly stated on this Site. Except as permitted by
            law, you may not use the Software for any other purpose or attempt to decipher, decompile, disassemble or
            reverse engineer any of the Software comprising or in any way making up a part of the Site.
        </p>
        <h3>
            7. Links and Third Party Materials
        </h3>
        <p>
            Certain links on this Site may take you to other web sites. JobIn provides these links only as a convenience.
            These linked sites are not necessarily under the control of JobIn. If you use these sites, you will leave
            this Site. If you decide to visit any linked site, you do so at your own risk and it is your responsibility
            to take all protective measures to guard against viruses and other destructive elements.
            <br/>
            JobIn is not responsible for the contents of any such linked page or any other page not under its control.
            JobIn makes no representation or warranty regarding, and does not endorse, any linked web sites, the
            information appearing thereon or any of the products or services described. Links do not imply that JobIn
            sponsors, endorses, is affiliated or associated with, or is legally authorized to use any trademark, trade
            name, logo or copyright symbol displayed in or accessible through the links, or that any linked site is
            authorized to use any trademark, trade name, logo or copyright symbol of JobIn.
        </p>
        <h3>
            8. Agreement to Privacy Policy
        </h3>
        <p>
            You agree to abide by the JobIn privacy policy, a copy of which is accessible from the home page of this Site.
        </p>
        <h3>
            9. Disclaimers
        </h3>
        <p>
            You acknowledge that any use of or reliance on this Site or any Content shall be at your sole risk. JobIn
            makes no representation or warranty of any kind regarding the Site and/or the Content, including with respect
            to the information provided by third party legal and other consultants, all of which are provided on an "AS IS"
            basis. JOBIN EXPRESSLY DISCLAIMS ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, INCLUDING WITHOUT LIMITATION
            ANY IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, NON-INFRINGEMENT AND FITNESS
            FOR A PARTICULAR PURPOSE AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR
            USAGE OF TRADE. JOBIN DOES NOT WARRANT THAT THIS SITE WILL CONTINUE TO OPERATE, OPERATE WITHOUT INTERRUPTIONS
            OR THAT IT WILL BE ERROR-FREE.
            <br/>
            Without limiting the generality of the foregoing, the information provided on
            this Site is for general informational purposes only.
            <br/>
            This Site acts as a venue, among other things, for Recruiters and Employers to
            post job opportunities and Candidates to post resumes.
            <br/>
            JobIn does not screen or censor the listings offered. As a result, JobIn has no control over the quality,
            safety or legality of the jobs or resumes posted, the truth or accuracy of the listings, the ability of
            Recruiters or Employers to offer job opportunities to Candidates or the ability of Candidates to fill job
            openings. In addition, there may be risks, including but not limited to risk of physical harm of dealing with
            strangers, foreign nationals, underage persons or people acting under false pretences. You assume all risks
            associated with dealing with other users with whom you come in contact through the Site.
            <br/>
            Because user authentication on the Internet is difficult, JobIn cannot and does not confirm that each user
            is who they claim to be. Because we do not and cannot be involved in user-to-user dealings or control the
            behaviour of participants on this Site, in the event that you have a dispute with one or more users, you
            release JobIn (and our agents and employees) from all claims, demands and damages of every kind and nature,
            known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
            connected with such disputes.
            <br/>
            JobIn is under no legal obligation to, and generally does not, control the Materials provided by other users
            which is made available through the Site. By its very nature, other people's information may be offensive,
            harmful or inaccurate, and in some cases will be mislabelled or deceptively labelled. JobIn does not guarantee,
            and makes no representations or warranties as to the truthfulness, accuracy, reliability, currency, veracity
            or completeness of the Content or about the results to be obtained using the Content. The use of the Site and
            the Content is at your own risk. Changes are periodically made to the Site and may be made at any time.
            <br/>
            This Site contains materials, data and information which is provided, posted or offered by third parties,
            including third party provided content, advertisements and user content. You agree that JobIn shall have no
            liability whatsoever for any such third party material, data or information.
            <br/>
            You acknowledge and agree that you are solely responsible for the form, content and accuracy of any resume,
            posting or other Materials placed by you, as applicable on the Site.
            <br/>
            JobIn shall not be responsible for any employment decisions, for whatever reason made, by any
            entity posting jobs on the Site.
        </p>
        <h3>
            10. Limitation of Liability
        </h3>
        <p>
            YOU AGREE THAT JOBIN AND ANY THIRD PARTY MENTIONED ON THIS SITE WILL NOT BE RESPONSIBLE OR LIABLE FOR ANY
            LOSS OR DAMAGES WHATSOEVER, INCLUDING WITHOUT LIMITATION INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES OR OTHER
            DAMAGES (INCLUDING WITHOUT LIMITATION DAMAGES FOR HARM TO BUSINESS, LOSS OF INFORMATION OR PROGRAMS OR DATA,
            LOSS OF PROFIT, LOSS OF SAVINGS, LOSS OF REVENUE), ARISING FROM OR IN CONNECTION WITH THE USE OF OR ACCESS TO,
            OR THE INABILITY TO USE OR ACCESS, THIS SITE, THE MATERIALS, ANY CONTENT PROVIDED OR ANY LINKED WEBSITE OF A
            THIRD PARTY, EVEN IF JOBIN, OR SUCH A THIRD PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE OR LOSS.
            In any event, you agree that JobIn' aggregate liability for damages shall be limited to $100.
            <br/>
            The limitations of liability and disclaimers in these Terms and Conditions apply regardless of the form of
            action, whether in contract, warranty, civil liability, delict, quasi-delict, strict liability, negligence,
            or other tort and shall survive a fundamental breach or breaches, or the failure of the essential purpose
            of contract or the failure of an exclusive remedy.
        </p>
        <h3>
            11. Indemnity
        </h3>
        <p>
            You agree to defend, indemnify and hold harmless each of JobIn, its affiliates, and each of their officers,
            directors, employees and agents, including all third parties mentioned at the Site, from and against any and
            all claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging
            or resulting from your use of the Site and the Content or your breach of these Terms and Conditions.
        </p>
        <h3>
            12. Choice of law
        </h3>
        <p>
            This Site is controlled, operated and administered by JobIn from its offices within Canada. JobIn makes no
            representation or warranty that materials at this Site are appropriate or available for use at any locations
            outside Canada. If you access this Site from outside Canada, you are responsible for compliance with all local
            law. You may not export any of the Content accessible through this Site in violation of applicable export
            laws and regulations. These Terms and Conditions shall be interpreted, construed and governed by the laws
            in force in the Province of Ontario, without reference to its conflict of laws principles, except where
            prohibited by mandatory provisions of the laws applicable in your jurisdiction. Except in respect of any
            matter relating to the enforcement of intellectual property rights and protection of confidential information,
            the parties agree that any action, suit or proceeding arising out of or related to these Terms and Conditions
            shall be commenced in Toronto or, if no jurisdiction exists, in the Province of Ontario. Each party hereby
            agrees to submit to the jurisdiction of the courts of Ontario and to waive any objections based upon venue in
            any such action, suit or proceeding. The United Nations Convention on Contracts for the International Sale of
            Goods does not apply to these Terms and Conditions.
        </p>
        <h3>
            13. Arbitration
        </h3>
        <p>
            Any and all disputes arising out of these Terms and Conditions, its performance, breach, enforcement,
            existence or validity, including any failure of the parties to reach agreement with respect to matters
            provided for in these Terms and Conditions and all matters of dispute relating to the rights and obligations
            of the parties, which cannot be amicably resolved, even if only one of the parties declares that there is a
            difference, will be referred to and finally settled by private and confidential binding arbitration before a
            single arbitrator held in Toronto, Ontario in English and governed by Ontario law pursuant to the Arbitration
            Act, 1991 (Ontario), as amended, replaced or re-enacted from time to time. The arbitrator shall be a person
            who is legally trained and who has experience in the information technology field in Canada and is independent
            of either party.
            <br/>
            Notwithstanding the foregoing, each party may pursue the protection intellectual property rights and
            confidential information through injunctive or other equitable relief through the courts.
        </p>
        <h3>
            14. General
        </h3>
        <p>
            (i) These Terms and Conditions constitute the entire agreement between JobIn and you with respect to the
            subject matter hereof; (ii) Any cause of action you may have with respect to your use of this Site or which
            is the subject of these Terms and Conditions must be commenced within one (1) year after the claim or cause
            of action arises; (iii) If for any reason a court of competent jurisdiction finds any provision of these
            Terms and Conditions or portion thereof to be unenforceable, that provision shall be enforced to the maximum
            extent permissible so as to effect the intent of these Terms and Conditions, and the remainder of these
            Terms and Conditions shall continue in full force and effect; (iv) The relationship of the parties is solely
            that of independent contractors and neither party shall have any authority to act for or bind the other party;
            (v) The waiver of any breach or default hereunder shall not constitute the waiver of any other or subsequent
            breach or default; (vi) No changes to these Terms and Conditions shall be made except by a revised posting on
            this page.
        </p>
    </div>

{% endblock %}