{% extends 'company/base.html' %}

{% block title %}Event Details{% endblock %}

{% block page_body_class %}company-events event-details{% endblock %}

{% block page_title_div %}
    <div class="pagetitle company-events event-details">
        <h1>Event Details</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4>{{ event.title }}</h4>
        </div>
        <div class="panel-body">
            <label>Times saved:</label><span>{{ event.times_saved }}</span><br/>
            <label>Date and Time:</label><span> {{ event.start_date }} at {{ event.start_time }}</span><br/>
            {% if event.end_date %}
                <label>End Date:</label><span> {% if event.end_date %}{{ event.end_date }} {% if event.end_time %} at {{ event.end_time }}{% endif %}{% else %}N/A{% endif %}</span><br/>
            {% endif %}
            <label>Address:</label>
            <span> {{ event.address }}, {{ event.city }}, {{ event.state }}, {{ event.zipcode }}</span><br/>
            <label>Website:</label><span> {% if event.website %}{{ event.website }}{% else %}N/A{% endif %}</span><br/>
            <label>Description:</label>
            <p class="string-to-html">{{ event.description }}</p>
            <div>
                <a href="{% url 'event:company_events' %}" class="btn btn-default">Back to list</a>
                <button class="warning-open btn btn-danger" data-id="close-event" data-name="{{ event.title }}"
                        data-url="{% url 'event:close' pk=event.id %}" data-redirect="{% url 'event:company_events' %}">
                    Cancel Event
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block hidden_block %}
    <div id="warning-close-event">
        <p class="message">
            Are you sure you want to cancel <u><span class="name"></span></u>?
        </p>
        <p class="note">
            This will cancel this event so that it is no longer visible to students.
            <br/>
            <b>Note:</b> events are closed automatically when the event date is reached.
        </p>
    </div>
{% endblock %}

