{% extends 'company/company_base.html' %}

{% block title %}New event{% endblock %}

{% block eventactive %}active{% endblock %}

{% block side_content %}
    {% include 'company/company_info.html' %}
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4>Create a New Event</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'event/form_template.html' %}
                <div class="margined">
                    <a href="{% url 'event:companyevents' %}" class="btn regular-btn">Cancel</a>
                    <button class="btn submit-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}