<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date and Time</th>
            <th>Active</th>
            <th>Website</th>
            <th></th>
            <th><a href="{% url 'event:new' %}"><button class="btn btn-success">New Event</button></a></th>
        </tr>
    </thead>
    <tbody>
    {% for x in list %}
        <tr>
            <td>{{ x.title }}</td>
            <td>{{ x.date }} {{ x.time }}</td>
            <td>{{ x.active }}</td>
            <td>{{ x.website }}</td>
            <td><a href="{% url 'event:companyevent' pk=x.pk %}">Details</a></td>
            <td><a href="{% url 'event:update' pk=x.pk %}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>