{% extends 'student/base.html' %}

{% block title %}Event List{% endblock %}

{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'event/student_event_util.js' %}"></script>
    <script>
        $(function(){
            hide($('.event-loader-icon'));
            show($('.main-event-container'));
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="events-header">
            <h3 class="w3-center">Events ({{ count }})</h3>
        </div>
        <div class="event-loader-icon">
            <h2 class="w3-center"><i class="fa fa-spinner fa-spin"></i> Loading events...</h2>
        </div>
        <div class="w3-content w3-container main-event-container w3-hide">
            {% if events %}
                {% for x in events %}
                    <div class="w3-display-container mySlides w3-animate-right ">
                        <div class="row">
                            <div class="w3-col s4">
                                <div class="w3-container">
                                    <h4>Company</h4>
                                </div>
                                <div class="w3-container">
                                    {% if x.logo %}
                                        <div class="logo-container">
                                            <img src="{{ x.logo.url }}">
                                        </div>
                                    {% endif %}
                                    <h5>{{ x.name }}</h5>
                                    <label>Address:</label><span> {{ x.caddr }}</span><br/>
                                    <label>Website:</label><span> <a href="http://{{ x.cweb }}" target="_blank">{{ x.cweb }}</a></span>
                                </div>
                            </div>
                            <div class="w3-col s8">
                                <div class="w3-container">
                                    <h4>Event Information</h4>
                                    <span class="pk w3-hide">{{ x.pk }}</span>
                                </div>
                                <div class="slide-container w3-container scrollable">
                                    <h5>{{ x.title }}</h5>
                                    <label>Date:</label><span> {{ x.start_date }}</span><br/>
                                    <label>Time:</label><span> {{ x.start_time }}</span><br/>
                                    <label>Address:</label><span> {{ x.address }}</span><br/>
                                    <label>Website:</label><span> <a href="http://{{ x.website }}" target="_blank">{{ x.website }}</a></span><br/>
                                    <label>Description:</label><br/>
                                    <span>{{ x.desc | linebreaksbr }}</span>
                                </div>
                                <div class="w3-display-topright w3-medium w3-container">
                                    {% if not x.interested %}
                                        <button class="w3-btn save-btn save"
                                                data-url="{% url 'event:save' pk=x.pk %}">
                                            Save Event
                                        </button>
                                    {% else %}
                                        <button class="w3-btn save-btn" disabled>
                                            Already saved.
                                        </button>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="w3-center"> No events found.</h3>
            {% endif %}
            <a class="w3-btn w3-display-left slider-nav-btn" onclick="plusDivs(-1)">❮</a>
            <a class="w3-btn w3-display-right slider-nav-btn" onclick="plusDivs(1)">❯</a>
        </div>
    </div>

{% endblock %}

{% block page_name %}events{% endblock %}
