{% for x in list%}
    <div class="w3-display-container mySlides w3-animate-right  w3-white" style="margin: 0 30px 0 30px">
        <div class="row">
            <div class="w3-col s4">
                <div class="w3-container w3-padding-8 title-color">
                    <h4 class="w3-text-white">Company</h4>
                </div>
                <div class="w3-container">
                    {{ x.logo }}
                    <h5>{{ x.name }}</h5>
                    <label>Address:</label><span> {{ x.caddr }}</span><br/>
                    <label>Website:</label><span> {{ x.cweb }}</span>
                </div>
            </div>
            <div class="w3-col s8">
                <div class="w3-container w3-padding-8 title-color">
                    <h4 class="w3-text-white">Event Information</h4>
                    <span style="display: none;" class="pk">{{ x.pk }}</span>
                </div>
                <div class="slide-container w3-container scrollable">
                    <h5>{{ x.title }}</h5>
                    <label>Date:</label><span> {{ x.date }}</span><br/>
                    <label>Time:</label><span> {{ x.time }}</span><br/>
                    <label>Address:</label><span> {{ x.address }}</span><br/>
                    <label>Website:</label><span> {{ x.website }}</span><br/>
                    <label>Description:</label><br/>
                    <span>{{ x.desc | linebreaksbr}}</span>
                </div>
                <div class="w3-display-topright w3-medium w3-container w3-padding-16">
                    {% if not x.interested %}
                        <a class="w3-btn apply-btn w3-padding-8 w3-text-black w3-border w3-border-white"
                           href="{% url 'event:interest' pk=x.pk %}">Save Event</a>
                    {% else %}
                        <div class="w3-container w3-padding-8 already-applied">
                            Already Saved.
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endfor %}