<div>
    <div id="view-buttons-walkthrough" class="first-walk"
         data-walk="view-buttons" data-pos="left">
        <div class="walk-container">
            <p>
                Use these buttons to navigate from viewing multiple applicants at a time
                (Multiple Applicant View) to one at a time (Single Applicant View) or vice versa.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="post-apps"
                        data-pos="left" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="post-apps-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                This section will show you all the applicants for this post and help you filter through them all.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="app-filters"
                        data-pos="left" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="app-filters-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can add filter values to find the applicants that meet the desired criteria.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="app-list"
                        data-pos="left" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="app-list-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                This is where you view all your applications, or the results of a filtered search.
                <br/>
                For each applicant, you can view his/her application in detail by clicking on his/her name,
                you can also save the application or discard it.
                <br/>
                <strong>Note:</strong> not saving an application doesn't discard it, saving an application is just used to
                mark the application so it can be found easily later.
            </p>
            <div>
                <button class="next-walk btn btn-default" data-next="view-buttons"
                        data-pos="left" type="button">Restart</button>
                <button class="skip-walk btn btn-success" type="button">Got It</button>
            </div>
        </div>
    </div>

</div>