<div>
    <div id="walkthrough-walkthrough" class="first-walk"
         data-walk="walkthrough" data-pos="bottom">
        <div class="walk-container">
            <p>
                If you need a quick tutorial on any page, click on this icon and I will walk you through it.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="active-posts"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="active-posts-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view your active posts. You also have a quick link to view that posts' applications.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="upcoming-events"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="upcoming-events-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view your upcoming events. You also have a quick link to view that events' details.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="jobin-nav"
                        data-pos="bottom" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="jobin-nav-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                <strong>Last but not least!</strong>
                <br/>
                Use the navigation bar to navigate to the different parts of the
                platform!
            </p>
            <div>
                <button class="next-walk btn btn-default" data-next="walkthrough"
                        data-pos="bottom" type="button">Restart</button>
                <button class="skip-walk btn btn-success" type="button">Got it</button>
            </div>
        </div>
    </div>
</div>