<div>
    <div id="suggestion-form-walkthrough" class="first-walk"
         data-walk="suggestion-form" data-pos="left">
        <div class="walk-container">
            <p>
                To send the Jobin Team a suggestion on an improvement or new feature you would like to see
                on the platform, fill out and submit the following form.
            </p>
            <div>
                <button class="next-walk btn btn-primary" data-next="suggestions-list"
                        data-pos="left" type="button">Next</button>
                <button class="skip-walk btn btn-default" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="suggestions-list-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can see a list of all your previous suggestions and add comments to those in
                case there are things you forgot or would like to add.
            </p>
            <div>
                <button class="next-walk btn btn-default" data-next="suggestion-form"
                        data-pos="left" type="button">Restart</button>
                <button class="skip-walk btn btn-success" type="button">Got It</button>
            </div>
        </div>
    </div>
</div>