
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
}

.bg-grey{
    background-color: #f6f6f6;
}

.jobin-nav{
    border-radius: 0;
    background-color: #255c99;
    border: none;
}

.jobin-nav .navbar-nav>li>a, .jobin-nav h2{
    color: #FFFFFF;
}

.navbar-header img{
    max-width: 100px;
}

.navbar-brand{
    padding: 5px 0 0 0;
    margin-right: 10px;
}

.jobin-nav .navbar-nav>li>a:hover{
    background-color: #FFFFFF;
    color: #000000;
}

.section{
    padding-bottom: 20px;
    width: 100%;
}

.less-font-weight{
    font-weight: normal;
}

footer{
    padding: 32px;
}

footer a{
    color: #2782be;
}

footer a:hover{
    color: #2782be;
    text-decoration: underline;
}


.div-image img{
    max-width: 100%;
    height: auto;
}

.btn, .form-control{
    border-radius: 0;
}

.padding{
    padding: 8px 0;
}

.padding-1{
    padding: 16px 0;
}

/* PANELS */

.primary-panel{
    border: 1px solid #255c99;
    color: #000000;
    border-radius: 0;
}

.primary-panel .panel-heading{
    background-color: #255c99;
    color: #FFFFFF;
    border-radius: 0;
}

.primary-panel .btn, .primary-panel input, .primary-panel textarea{
    border-radius: 0;
}

.secondary-panel{
    border: 1px solid #eeeeee;
    color: #000000;
    border-radius: 0;
}

.secondary-panel .panel-heading{
    background-color: #eeeeee;
    color: #000000;
    border-radius: 0;
}

.secondary-panel .btn, .secondary-panel input, .secondary-panel textarea{
    border-radius: 0;
}

