{% extends 'home/base.html' %}

{% block title %}{% if errors %}Activation{% else %}Activation Successful{% endif %}{% endblock %}

{% block content %}
    {% if errors %}
        <div style="padding:128px" class="text-center">
            <h3>
                Problem activating your account.
            </h3>
            <p>
                <strong>
                    To get a new activation link go to the login screen login in with
                    your username and password.
                </strong>
            </p>
            <div class="text-center alert alert-danger">
                {{ errors }}
            </div>
        </div>
    {% else %}
        <div style="padding:128px" class="text-center">
            <h3>
                Account activation successful, you can now login with your username and password and start
                using Jobin!
            </h3>
            <script>
                $(function(){
                    to_home_page_from_activation();
                });
                function to_home_page_from_activation(){
                    setTimeout(
                        function() {
                            window.location.replace('https://jobin.ca');
                        }, 5000);
                }
            </script>
        </div>
    {% endif %}
{% endblock %}