{% extends 'home/utils/email/base.html' %}

{% block title %}{% if errors %}Activation{% else %}Activation Successful{% endif %}{% endblock %}

{% block content %}
    {% if errors %}
        <div>
            <h2 class="text-center">
                Problem activating your account.
            </h2>
            <h3>To get a new activation link:</h3>
            <p>
                1) Go back to the home page<br/><br/>
                2) Enter your username and password<br/><br/>
                3) Click on the login button<br/><br/>
                4) On the screen that appears click on the 'Click Here' button<br/><br/>
                5) Use the new activation link in your email to verify your account.<br/><br/>
            </p>
            <div class="alert alert-danger">
                {{ errors }}
            </div>
        </div>
    {% else %}
        <div>
            <h1 class="text-center">
                Account activation successful!
            </h1>
            <p class="text-center">You can now login with your username and password and start using Jobin!</p>
            <script>
                $(function(){
                    to_home_page_from_activation();
                });
                function to_home_page_from_activation(){
                    setTimeout(
                        function() {
                            window.location.replace('https://jobin.ca');
                        }, 5000);
                }
            </script>
        </div>
    {% endif %}
    <a href="{% url 'home:index' %}" class="btn btn-default" style="color:black;">Back to Home</a>
{% endblock %}