{% extends 'home/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}
    <div style="padding:128px">
        <h3>
            To get a new password enter your email below and submit the form. You will receive a new
            password by email.
        </h3>
        <div>
            <p>
                <strong>Note: We advise that you change the password after loggin in.</strong>
            </p>
            <form action="{% url 'home:new_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input name="email" type="email" placeholder="Enter Email" style="min-width: 400px;">
                </div>
                <div>
                    <button class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}