{% extends 'home/utils/email/base.html' %}

{% block title %}Registration successful{% endblock %}

{% block content %}
    <div>
        {% if new %}
            <h1 class="text-center">Your registration was successful!</h1>
            <p class="text-center">
                Check your email and click on the activation link to get started using Jobin!
            </p>
        {% else %}
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors | linebreaksbr }}
                </div>
            {% endif %}
            {% if msg %}
                <div class="alert alert-info">
                    {{ msg | linebreaksbr }}
                </div>
            {% endif %}
            {% if not email %}
                <div class="alert alert-danger">
                    Your account email was not found, go back and try to login again.
                </div>
            {% endif %}
            <form action="{% url 'home:new_activation' %}" method="post">
                {% csrf_token %}
                <h1 class="text-center">Your account is not active</h1>
                <h5 class="text-center">Check your email for an activation link and use it to activate your account.</h5>
                <h2>Did You:</h2>
                <p>
                    <strong>- Change your email address?</strong><br/><br/>
                    <strong>- Not get and activation email?</strong><br/><br/>
                    <strong>- Delete your activation email?</strong><br/><br/>
                    <strong>- Activation link expire?</strong><br/><br/>
                    <button class="btn btn-default"><strong>Click Here</strong></button><br/><br/>
                    <i>You will have a new activation email sent to you so you can activate your account!</i>
                </p>
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="password" value="pass">
            </form>
        {% endif %}
        <a href="{% url 'home:index' %}" class="btn btn-default" style="color:black;">Back to Home</a>
    </div>
{% endblock %}