<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jobin Admin Sie{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.ico' %}"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/admin.css' %}"/>
    {% block stylesheets %}{% endblock %}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" integrity="sha256-ihAoc6M/JPfrIiIeayPE9xjin4UWjsx2mjW/rtmxLM4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script src="{% static 'home/scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'home/scripts/bootstrap.min.js' %}"></script>-->
    {% block scripts %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#homenav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/jobin/site/admin/">
                    Jobin Admin Site
                </a>
            </div>
            <div class="collapse navbar-collapse" id="homenav">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-item" href="/jobin/site/admin/site/statistics/">
                            <h5>Home</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-div">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>