<div id="warning-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4 modal-sm">
        <header class="w3-container w3-yellow">
            <span data-id="warning-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Warning</h3>
        </header>
        <div class="w3-container w3-padding-16">
            <h4 class="warning-message"></h4>
            <p class="warning-notes"></p>
            <div>
                <button class="w3-btn w3-gray close-modal" data-id="warning-modal">
                    Cancel
                </button>
                <button class="w3-btn w3-indigo warning-accepted">
                    Continue
                </button>
            </div>
        </div>

    </div>
</div>