<div id="warning-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container warning-header">
            <span data-id="warning-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Warning</h3>
        </header>
        <div class="w3-container">
            <h4 class="warning-message"></h4>
            <p class="warning-notes"></p>
            <div>
                <button class="w3-btn btn-default close-modal" data-id="warning-modal">
                    Cancel
                </button>
                <button class="w3-btn btn-default warning-accepted">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>
