<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Student Home{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.ico' %}"/>
    <!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
    <link rel="stylesheet" href="{% static 'student/css/w3.css' %}">
    <!--<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'student/css/student.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"
            integrity="sha256-ihAoc6M/JPfrIiIeayPE9xjin4UWjsx2mjW/rtmxLM4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script src="{% static 'home/scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'home/scripts/bootstrap.min.js' %}"></script>-->
</head>
<body class="{% block page_body_class %}{% endblock %}">

<nav class="navbar navbar-default jobin-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jobin-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand jobin-nav-link" href="#">
                <img src="{% static 'home/images/jobinblue.gif' %}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="jobin-nav">
            <ul class="nav navbar-nav">
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'student:index' %}" class="{% if tab == 'home' %}active{% endif %}">
                        <h5>Home</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'post:student_posts' cat='internship' pk=0 %}"
                       class="{% if tab == 'posts' %}active{% endif %}">
                        <h5>Posts</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'event:student_events' pk=0 %}" class="{% if tab == 'events' %}active{% endif %}">
                        <h5>Events</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'resume:index' %}" class="{% if tab == 'resume' %}active{% endif %}">
                        <h5 class="resumes-nav">Resumes</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'student:history' %}" class="{% if tab == 'history' %}active{% endif %}">
                        <h5>History</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'student:profile' %}" class="{% if tab == 'profile' %}active{% endif %}">
                        <h5>Profile</h5>
                    </a>
                </li>
                <li class="nav-item jobin-nav-link">
                    <a href="{% url 'manual:student_index' %}" class="{% if tab == 'manual' %}active{% endif %}">
                        <h5>Help</h5>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="jobin-nav-link">
                    <a href="#" class="walkthrough start-walk">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </li>
                <li class="jobin-nav-link">
                    <a href="{% url 'home:logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-title-div">{% block page_title_div %}{% endblock %}</div>

<div class="container">
    <div id="bodyCol" class="w3-container">
        <div id="messages">
            {% if messages %}
                <div>
                    {% for x in messages %}
                        {% if x.code == 'danger' %}
                            <div class="w3-container message-danger w3-display-container">
                                        <span onclick="this.parentElement.style.display='none'"
                                              class="w3-button w3-display-topright">&times;</span>
                                <p>{{ x.message }}</p>
                            </div>
                        {% elif x.code == 'warning' %}
                            <div class="w3-container message-warning w3-display-container">
                                        <span onclick="this.parentElement.style.display='none'"
                                              class="w3-button w3-display-topright">&times;</span>
                                <p>{{ x.message }}</p>
                            </div>
                        {% elif x.code == 'success' %}
                            <div class="w3-container message-success w3-display-container">
                                        <span onclick="this.parentElement.style.display='none'"
                                              class="w3-button w3-display-topright">&times;</span>
                                <p>{{ x.message }}</p>
                            </div>
                        {% else %}
                            <div class="w3-container message-info w3-display-container">
                                        <span onclick="this.parentElement.style.display='none'"
                                              class="w3-button w3-display-topright">&times;</span>
                                <p>{{ x.message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
        <div class="modals">
            {% include 'student/util/warning_modal.html' %}
            {% block modals %}{% endblock %}
        </div>
        <div class="w3-hide">
            {% block hidden_block %}{% endblock %}
            {% block walkthroughs %}
                {% include 'company/walkthrough/no_walk.html' %}
            {% endblock %}
        </div>
    </div>
</div>
<footer>
    <p>
        This platform is brought to you by JobIn Solutions. Your use of the platform confirms that you are in
        agreement with our <a target="_blank" href="{% url 'home:terms' %}">Terms and Conditions</a>
        and our <a target="_blank" href="{% url 'home:policy' %}">Privacy Policy</a>.
    </p>
</footer>
<div id="page-name" style="display: none;">
    {% block page_name %}
    {% endblock %}
</div>
<script type="text/javascript" src="{% static 'home/scripts/browser_scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'home/scripts/user_utils.js' %}"></script>
<script type="text/javascript" src="{% static 'student/scripts/util_script.js' %}"></script>
<script type="text/javascript" src="{% static 'student/scripts/warning_script.js' %}"></script>
<script type="text/javascript" src="{% static 'home/scripts/walkthrough.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>