{% extends 'student/student_base.html' %}

{% block title %}Student Details{% endblock %}

{% block profileactive %}active{% endblock %}

{% block content %}
    <div class="w3-card-4">
        <header class="w3-container w3-dark-grey">
            <h3>Student Information</h3>
        </header>
        <div class="w3-container">
            <label>First Name:</label><span> {{ student.firstname }}</span><br/>
            <label>Last Name:</label><span> {{ student.lastname }}</span><br/>
            <label>Date of Birth:</label><span> {{ student.dob }}</span><br/>
            <label>Gender:</label><span>{{ student.gender }}</span><br/>
            <label>School:</label><span>{{ student.school }}</span><br/>
            <label>Program:</label><span>{{ student.program }}</span><br/>
            <label>Phone:</label><span>{{ student.phone }}</span><br/>
            <label>Email:</label><span>{{ student.email }}</span><br/>
            <label>Address:</label>
            <p>{{ student.address }}, {{ student.city }},
                {{ student.state }}, {{ student.zipcode }}</p>
        </div>
    </div>
    <a class="w3-btn w3-blue" href="{% url 'student:index' %}">Continue</a>
{% endblock %}