{% extends 'student/student_base.html' %}

{% block title %}Student Home{% endblock %}

{% block homeactive %}active{% endblock %}

{% block content %}
    <div class="w3-row">
        <div class="w3-col s12 m12 l12">
            <div class="w3-container">
                <h4 style="margin:0;" class="title-color w3-center w3-padding-8 w3-text-white">Active Applications</h4>
                {% if apps.count == 0 %}
                    <div class="w3-container w3-orange">
                        You currently have no active applications. <a href="{% url 'post:studentposts' pk=0 pt='internship'%}">Browse the posts</a> to apply.
                    </div>
                {% else %}
                    <table class="w3-table w3-bordered w3-white">
                        <tr>
                            <th>Post Title</th>
                            <th>Resume</th>
                            <th>Status</th>
                        </tr>
                        {% for x in apps %}
                            <tr {% if x.cover_requested %}class="w3-border-green w3-pale-green"{% endif %}>
                                <td><a href="{% url 'post:studentdetails' pk=x.post.pk ak=x.pk%}">{{ x.post_title }}</a></td>
                                <td>{{ x.resume.name }}</td>
                                <td>{{ x.status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="w3-container w3-padding-16">
                <h4 style="margin:0;" class="title-color w3-center w3-padding-8 w3-text-white">Interested Events</h4>
                {% if events.count == 0 %}
                    <div class="w3-container w3-orange">
                        You currently have shown no interest in any events. <a href="{% url 'event:studentevents' pk=0 %}">Browse the events</a> to see which ones interest you.
                    </div>
                {% else %}
                    <table class="w3-table w3-bordered w3-white">
                        <tr>
                            <th>Title</th>
                            <th>Date & Time</th>
                            <th>Address</th>
                        </tr>
                        {% for x in events %}
                            <tr {% if x.cover_requested %}class="w3-border-green w3-pale-green"{% endif %}>
                                <td><a href="{% url 'event:studentevents' pk=x.event.pk %}">{{ x.event.title }}</a></td>
                                <td>{{ x.event.date }} at {{ x.event.time }}</td>
                                <td>{{ x.event.address }}, {{ x.event.city }}, {{ x.event.state }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}