{% extends 'student/student_base.html' %}

{% block title %}Student Profile{% endblock %}

{% block profileactive %}active{% endblock %}

{% block content %}
    <div class="w3-container w3-padding-32">
        <div class="w3-card-4 w3-white">
            <header class="w3-container w3-grey">
                <h3 class="w3-text-white">User Information:</h3>
            </header>
            <div class="w3-container w3-padding-16">
                <label>Username:</label><span> {{ user.username }}</span><br/>
                <label>Date Joined:</label><span> {{ user.date_joined }}</span><br/>
            </div>
            <header class="w3-container w3-grey">
                <h3 class="w3-text-white">Student Information:</h3>
            </header>
            <div class="w3-container w3-padding-16">
                <label>First Name:</label><span> {{ student.firstname }}</span><br/>
                <label>Last Name:</label><span> {{ student.lastname }}</span><br/>
                <label>Date of Birth:</label><span> {{ student.dob }}</span><br/>
                <label>Gender:</label><span>{{ student.gender }}</span><br/>
                <label>School:</label><span>{{ student.school }}</span><br/>
                <label>Program:</label><span>{{ student.program }}</span><br/>
                <label>Phone:</label><span>{{ student.phone }}</span><br/>
                <label>Email:</label><span>{{ student.email }}</span><br/>
                <label>Address:</label><br/>
                <span>{{ student.address }}, {{ student.city }},
                    {{ student.state }}, {{ student.zipcode }}</span>
            </div>
            <div class="w3-container w3-padding-16">
                <a href="{% url 'student:update' pk=student.pk %}" class="w3-btn w3-blue">Edit Profile</a>
                <a href="{% url 'home:updateinfo' utype='student'%}" class="w3-btn w3-blue">Edit Account</a>
            </div>
        </div>
    </div>
{% endblock %}