<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Company Home{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'student/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    {% block styles %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'student/genscript.js' %}"></script>
    <script type="text/javascript" src="{% static 'student/DynamicHtmlScript.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/resize_script.js' %}"></script>
    {% block scripts %}{% endblock %}
    <style>
        body{
            background-image: url("{% static 'home/pattern_max_finshed8.png' %}");
            background-size: 120px 120px;
        }
    </style>
</head>
<body>

    <div class="w3-main">
        <header class="w3-container header-color w3-text-white">
            <div class="w3-row">
                <div class="w3-col s10">
                    <span class="w3-opennav w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</span>
                    <h1 class="w3-center">Jobin</h1>
                </div>
                <div class="w3-col s2 w3-center">
                    <a style="text-decoration: none;" href="{% url 'home:logout' %}">
                        <h4><i class="fa fa-sign-out"></i>Logout</h4>
                    </a>
                </div>
            </div>
        </header>
        <div class="w3-padding-16 w3-row" style="position:relative">
            <div id="navCol" class="w3-col s12 m12 l3" style="height: inherit;">
                <nav class="w3-sidenav w3-collapse w3-white w3-card-2" style="width:100%;" id="mySidenav">
                    <header class="w3-container header-color w3-text-white">
                        <h1>Menu</h1>
                    </header>
                    <a href="javascript:void(0)" onclick="w3_close()"
                    class="w3-closenav w3-large w3-hide-large">Close &times;</a>
                    <a class="{% block homeactive %}{% endblock %}" href="{% url 'student:index' %}">Home</a>
                    <a class="{% block postsactive %}{% endblock %}" href="{% url 'post:studentposts' pk=0 pt='internship'%}">Posts</a>
                    <a class="{% block eventsactive %}{% endblock %}" href="{% url 'event:studentevents' pk=0%}">Events</a>
                    <a class="{% block resumesactive %}{% endblock %}" href="{% url 'resume:index' %}">Resumes</a>
                    <a class="{% block historyactive %}{% endblock %}" href="{% url 'student:history' %}">History</a>
                    <a class="{% block profileactive %}{% endblock %}" href="{% url 'student:profile' %}">Profile</a>
                </nav>
                <div class="w3-padding-8">
                    {% if notifications %}
                        <div class="w3-card-2 w3-white">
                            <header class="w3-container title-color">
                                <h4 class="w3-text-white">Notifications ({{ notifications.count }})</h4>
                            </header>
                            {% for x in notifications %}
                                <div class="notifications-background w3-container">
                                    <a href="{% url 'home:closenote' u='student' pk=x.pk %}">x</a>
                                    <p>{{ x.message }}</p>
                                </div>
                            {% endfor %}
                            <a href="{% url 'home:closeallnotes' u='student' %}"
                               class="w3-btn note-close-btn" style="width:100%;">Close all</a>
                        </div>
                    {% endif %}
                </div>
                <div class="w3-padding-8">
                    {% if nav_student %}
                        <div class="w3-card-2 w3-white">
                            <header class="w3-container title-color">
                                <h3 class="w3-text-white">Student Information</h3>
                            </header>
                            <div class="w3-container">
                                <h5>{{ nav_student.firstname }} {{ nav_student.lastname }}</h5>
                                <span><i>{{ nav_student.school }}</i></span><br/>
                                <span>{{ nav_student.program }}</span><br/>
                                <span>{{ nav_student.major }}</span><br/>
                                <span><i>{{ nav_student.phone }}</i></span><br/>
                                <span><i>{{ nav_student.email }}</i></span><br/>
                                <span>{{ nav_student.address }}, {{ nav_student.city }},
                                    {{ nav_student.state }}, {{ nav_student.zipcode }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="bodyCol" class="w3-col s12 m12 l9">
                {% if msgs %}
                    <div class="w3-container">
                        {% for x in msgs %}
                            {% if x.code == 'danger' %}
                                <div class="danger-message message">
                                    <span class="w3-text-red">{{ x.message }}</span>
                                </div>
                            {% elif x.code == 'warning' %}
                                <div class="warning-message message">
                                    <span class="w3-text-yellow">{{ x.message }}</span>
                                </div>
                            {% else %}
                                <div class="info-message message">
                                    <span>{{ x.message }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
                <div class="w3-container" style="width:100%;">
                    <div class="w3-container w3-padding-16 warning-container hide">
                    </div>
                </div>
            </div>
        </div>
        <footer class="w3-container header-color w3-text-white">
            <h5>Footer</h5>
            <p>This platform is brought to you by Jobin Solutions. Your use of the platform confirms that you are in
                agreement with our <a href="">Terms and Conditions</a> and our <a href="">Privacy Policy</a>.</p>
        </footer>
    </div>


<script>
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}
</script>

</body>
</html>