{% extends 'student/student_base.html' %}

{% block title %}{% if update %}Update{% else %}New{% endif %} Student Form{% endblock %}

{% block profileactive %}active{% endblock %}

{% block content %}
    <div class="w3-container">
        <div class="w3-container title-color w3-center w3-text-white">
            {% if update %}
                <h3 id="form-title">Update Student Form:</h3>
            {% else %}
                <h3 id="form-title">New Student Form:</h3>
            {% endif %}

        </div>
        <form class="w3-container w3-border-left w3-border-right w3-border-bottom w3-white" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'student/form_template.html' %}
            {% if update %}
                <div class="w3-padding-16">
                    <a href="javascript:history.back()" class="w3-btn regular-btn">Cancel</a>
                    <button type="submit" class="w3-btn submit-btn">Submit</button>
                </div>
            {% else %}
                <div class="w3-padding-16">
                    <button type="submit" class="w3-btn submit-btn">Submit</button>
                </div>
            {% endif %}
        </form>


        <script>
            $(function(){

                var t = $('#form-title').html();
                if(t.split(' ')[0].toLowerCase() == 'new' ){
                    var el = $('#id_school');
                    el.parent().hide();
                    el.parent().siblings('p').html('School: {{ school }}');
                }

            });
        </script>
    </div>
{% endblock %}