{% extends 'student/base.html' %}

{% block title %}Student Information Form{% endblock %}

{% load staticfiles %}

{% block scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'home/scripts/form_util.js' %}"></script>
    <script src="{% static 'home/scripts/zipcode_validation.js' %}"></script>
    <script src="{% static 'home/scripts/form_location_script.js' %}"></script>
    <script src="{% static 'home/scripts/form_programs_majors_script.js' %}"></script>
    <script src="{% static 'home/scripts/phone_validation.js' %}"></script>
{% endblock %}

{% block page_body_class %}student-profile edit-profile{% endblock %}

{% block page_title_div %}
    <div class="pagetitle student-profile">
        <h1>{% if new %}New Student{% else %}Edit Profile{% endif %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div>
        <div class="w3-container">
            <form id="student-form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="required" for="student_first_name">First Name:</label>
                    {% if errors.firstname %}
                        <div class="alert alert-danger">
                            {{ errors.firstname }}
                        </div>
                    {% endif %}
                    <input id="student_first_name" class="w3-input w3-border" type="text"
                           name="firstname" value="{{ student.firstname }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_last_name">Last Name:</label>
                    {% if errors.lastname %}
                        <div class="alert alert-danger">
                            {{ errors.lastname }}
                        </div>
                    {% endif %}
                    <input id="student_last_name" class="w3-input w3-border" type="text"
                           name="lastname" value="{{ student.lastname }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_dob">Date of Birth:</label>
                    {% if errors.dob %}
                        <div class="alert alert-danger">
                            {{ errors.dob }}
                        </div>
                    {% endif %}
                    <input id="student_dob" class="w3-input w3-border date-input" type="date"
                           name="dob" data-date="{{ student.dob }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_program">Program:</label>
                    {% if errors.program %}
                        <div class="alert alert-danger">
                            {{ errors.program }}
                        </div>
                    {% endif %}
                    <select id="student_program" class="w3-input w3-border program-input" name="program">
                        {% if student.program %}
                            <option value="{{ student.program }}">{{ student.program }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="student_major">Major:</label>
                    {% if errors.major %}
                        <div class="alert alert-danger">
                            {{ errors.major }}
                        </div>
                    {% endif %}
                    <select id="student_major" class="w3-input w3-border major-input" name="major">
                        {% if student.major %}
                            <option value="{{ student.major }}">{{ student.major }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="student_phone">Phone:</label>
                    {% if errors.phone %}
                        <div class="alert alert-danger">
                            {{ errors.phone }}
                        </div>
                    {% endif %}
                    <input id="student_phone" class="w3-input w3-border" type="text"
                           name="phone" value="{% if student.phone %}{{ student.phone }}{% endif %}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_address">Address:</label>
                    {% if errors.address %}
                        <div class="alert alert-danger">
                            {{ errors.address }}
                        </div>
                    {% endif %}
                    <input id="student_address" class="w3-input w3-border" type="text"
                           name="address" value="{{ student.address }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_city">City:</label>
                    {% if errors.city %}
                        <div class="alert alert-danger">
                            {{ errors.city }}
                        </div>
                    {% endif %}
                    <input id="student_city" class="w3-input w3-border" type="text"
                           name="city" value="{{ student.city }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_state">State:</label>
                    {% if errors.state %}
                        <div class="alert alert-danger">
                            {{ errors.state }}
                        </div>
                    {% endif %}
                    <select id="student_state" class="w3-input w3-border state-input" name="state">
                        {% if student.state %}
                            <option value="{{ student.state }}">{{ student.state }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="required zip-label" for="student_zipcode">Zipcode:</label>
                    {% if errors.zipcode %}
                        <div class="alert alert-danger">
                            {{ errors.zipcode }}
                        </div>
                    {% endif %}
                    <div class="form-error"></div>
                    <input id="student_zipcode" class="w3-input w3-border zip-input" type="text"
                           name="zipcode" value="{{ student.zipcode }}">
                </div>
                <div class="form-group">
                    <label class="required" for="student_country">Country:</label>
                    {% if errors.country %}
                        <div class="alert alert-danger">
                            {{ errors.country }}
                        </div>
                    {% endif %}
                    <select id="student_country" class="w3-input w3-border country-input" name="country">
                        {% if student.country %}
                            <option value="{{ student.country }}">{{ student.country }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="student_graduate">Are you a university graduate?</label>
                    {% if errors.graduate %}
                        <div class="alert alert-danger">
                            {{ errors.graduate }}
                        </div>
                    {% endif %}
                    <p>
                        <input id="is-grad" class="w3-radio" type="radio" name="graduate" value="True"
                               {% if not student.graduate or not student.graduate == 'False' %}checked="checked"{% endif %}>
                        <label for="is-grad">Yes</label>
                    </p>
                    <p>
                        <input id="not-grad" class="w3-radio" type="radio" name="graduate" value="False"
                                {% if student.graduate and student.graduate == 'False' %}checked="checked"{% endif %}>
                        <label for="not-grad">No</label>
                    </p>
                </div>
                <div class="form-group">
                    <label for="student_linkedin">LinkedIn:</label>
                    {% if errors.linkedin %}
                        <div class="alert alert-danger">
                            {{ errors.linkedin }}
                        </div>
                    {% endif %}
                    <input id="student_linkedin" class="w3-input w3-border" type="text"
                           name="linkedin" value="{% if student.linkedin %}{{ student.linkedin }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="student_work">
                        Are you eligible to work in <span class="nsf-country">Canada</span>?
                    </label>
                    <p>
                        <input id="can-work" class="w3-radio" type="radio" name="work_eligible" value="True"
                               {% if not student.work_eligible or not student.work_eligible == 'False' %}checked="checked"{% endif %}>
                        <label for="can-work">Yes</label>
                    </p>
                    <p>
                        <input id="cant-work" class="w3-radio" type="radio" name="work_eligible" value="False"
                                {% if student.work_eligible and student.work_eligible == 'False' %}checked="checked"{% endif %}>
                        <label for="cant-work">No</label>
                    </p>
                </div>
                <div>
                    {% if not new %}<a href="{% url 'student:profile' %}" class="w3-btn btn-default">Cancel</a>{% endif %}
                    <button class="w3-btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block hidden_block %}
    {% include 'home/utils/form_values.html' %}
{% endblock %}