<div id="award-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span class="w3-button w3-display-topright close-modal" data-id="award-modal">&times;</span>
            <h3>Award Form</h3>
        </header>
        <div class="w3-container">
            {% if other_awards %}
                <div>
                    <h4>
                        Add awards from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_awards %}
                            <li>
                                <a href="{% url 'resume:add_award' pk=x.id rk=resume.id %}">Add {{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3>
                    Award Information
                </h3>
            {% endif %}
            <div>
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container message-info">
                        Show off your achievements by adding any awards or certifications you received.
                    </div>
                </div>
                <form id="award-form" action="{% if resume %}{% url 'resume:new_award' pk=resume.id %}{% else %}{% url 'resume:new_award' pk='0' %}{% endif %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="award_title">Title:</label>
                        <input id="award_title" class="w3-input w3-border" type="text"
                               name="title">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_date">Date Received:</label>
                        <input id="award_date" class="w3-input w3-border date-input" type="date"
                               name="date">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_type">Award Type:</label>
                        <input id="award_type" class="w3-input w3-border" type="text"
                               name="award_type">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_description">Description</label>
                        <textarea id="award_description" name="description" class="w3-input w3-border"
                                  rows="5"></textarea>
                    </div>
                    <div class="regular-buttons w3-padding">
                        <button class="w3-btn btn-default close-modal" type="button" data-id="award-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success" type="submit">Submit <i class="fa fa-spinner fa-spin w3-hide"></i></button>
                    </div>
                    <div class="walk-buttons w3-hide">
                        <button class="w3-btn btn-success award-save-another" type="button">
                            Save & Add Another <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-success award-save-continue" type="button">
                            Save & Continue <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-default award-next" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>