<div id="award-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container primary-color">
            <span class="w3-button w3-display-topright close-modal" data-id="award-modal">&times;</span>
            <h3 class="w3-text-white">Award Form</h3>
        </header>
        <div class="w3-container">
            {% if other_awards %}
                <div>
                    <h4 class="secondary-color w3-padding">
                        Add awards from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_awards %}
                            <li>
                                <a href="{% url 'resume:add_award' pk=x.id rk=resume.id %}">Add {{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="w3-padding secondary-color">
                    Award Information
                </h3>
            {% endif %}
            <div class="w3-padding">
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container w3-padding message-info">
                        Show off your achievements by adding any awards or certifications you received.
                    </div>
                </div>
                <form id="award-form" action="{% if resume %}{% url 'resume:new_award' pk=resume.id %}{% else %}{% url 'resume:new_award' pk='0' %}{% endif %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="award_title">Title:</label>
                        <input id="award_title" class="w3-input w3-border" type="text"
                               name="award_title">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_date">Date Received:</label>
                        <input id="award_date" class="w3-input w3-border" type="date"
                               name="award_date">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_type">Award Type:</label>
                        <input id="award_type" class="w3-input w3-border" type="text"
                               name="award_type">
                    </div>
                    <div class="form-group">
                        <label class="required" for="award_description">Description</label>
                        <textarea id="award_description" name="award_description" class="w3-input w3-border"
                                  rows="5"></textarea>
                    </div>
                    <div class="regular-buttons w3-padding">
                        <button class="w3-btn close-modal w3-border w3-border-black" type="button" data-id="award-modal">
                            Cancel
                        </button>
                        <button class="w3-btn w3-border w3-border-green w3-text-green" type="submit">Submit</button>
                    </div>
                    <div class="walk-buttons w3-hide w3-padding">
                        <button class="w3-btn award-save-another w3-border w3-border-black" type="button">
                            Save & Add Another
                        </button>
                        <button class="w3-btn award-save-continue w3-border w3-border-green w3-text-green" type="button">
                            Save & Continue
                        </button>
                        <button class="w3-btn award-next w3-border w3-border-green w3-text-green" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>