{% extends 'student/base.html' %}

{% block title %}{{ resume.name }} Overview{% endblock %}

{% load staticfiles %}


{% block scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="{% static 'home/scripts/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'home/scripts/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/scripts/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'resume/resume_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'resume/file_upload.js' %}"></script>
{% endblock %}

{% block page_body_class %}resume-index resume-overview{% endblock %}

{% block page_title_div %}

    <div class="pagetitle resume-index">
        <h1>Resume Overview</h1>
    </div>

{% endblock %}

{% block content %}
    <div class="resume-details">
        <div class="resume-info jobin-resume">
            <label>Name:</label><span class="name"> {{ resume.name }}</span><br/>
            <label>GPA:</label><span class="gpa"> {% if resume.gpa %}{{ resume.gpa }}{% endif %}</span><br/>
            <label>Last Updated:</label><span> {{ resume.last_updated }}</span><br/>
            <label>Is Active:</label><span> {{ resume.is_active }}</span><br/>
            <a href="{% url 'post:student_app_pdf' rk=resume.id %}" target="_blank" class="w3-btn btn-default">Download PDF Resume</a>
            <div>
                {% if student.transcript %}
                    <label>Transcript:</label>
                    <a href="{{ student.transcript.url }}" target="_blank">{{ student.transcript.name }}</a>
                    <br/>
                    <a href="{% url 'student:delete_transcript' pk=resume.id %}"
                       class="w3-btn btn-danger delete-transcript">
                        Delete Transcript
                        <span class="spinner w3-hide file-progress"><i class="fa fa-spinner fa-spin"></i></span>
                    </a>
                    <button class="w3-btn btn-default edit-resume"
                            data-url="{% url 'resume:edit' pk=resume.id %}" type="button">
                        Edit resume info
                    </button>
                {% else %}
                    <label>Transcript:</label>
                    <span> No transcript uploaded</span>
                    <form class="w3-hide">
                        {% csrf_token %}
                        <input id="transcriptupload" type="file" name="transcript"
                               data-url="{% url 'student:add_transcript' %}">
                    </form>
                    <div>
                        <button class="w3-btn btn-default upload-transcript" type="button">
                            Upload Transcript
                            <span class="spinner w3-hide file-progress"><i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                        <button class="w3-btn btn-default edit-resume"
                                data-url="{% url 'resume:edit' pk=resume.id %}" type="button">
                            Edit resume info
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr/>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-experience">New Experience
                </button>
            </div>
            <div class="panel-heading">
                <h4>Experience</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Company</th>
                        <th></th>
                    </tr>
                    {% if resume.experience %}
                        {% for x in resume.experience %}
                            <tr class="jobin-experience">
                                <td class="title">{{ x.title }}</td>
                                <td class="start">{{ x.start }}</td>
                                <td class="end">
                                    {% if x.is_current %}current job{% else %}{{ x.end }}{% endif %}
                                </td>
                                <td class="company">{{ x.company }}</td>
                                <td>
                                    <a href="#" data-url="{% url 'resume:edit_experience' pk=x.id %}"
                                       class="edit-experience">
                                        Edit</a> |
                                    <a href="{% url 'resume:delete_experience' rk=resume.id pk=x.id %}">Delete</a>
                                    <div class="w3-hide">
                                        <p class="description">{{ x.description }}</p>
                                        <p class="type">{{ x.experience_type }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="table-no-results">You have not added any experience to this resume.
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-school">New School</button>
            </div>
            <div class="panel-heading">
                <h4>Education</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Level</th>
                        <th>Program</th>
                        <th></th>
                    </tr>
                    {% for x in resume.schools %}
                        <tr class="jobin-school">
                            <td class="name">{{ x.name }}</td>
                            <td class="start">{{ x.start }}</td>
                            <td class="end">
                                {% if x.is_current %}Current School{% else %}{{ x.end }}{% endif %}
                            </td>
                            <td class="level">{{ x.level }}</td>
                            <td class="program">{{ x.program }}</td>
                            <td>
                                <a href="#" data-url="{% url 'resume:edit_school' pk=x.id %}" class="edit-school">
                                    Edit</a>
                                | <a href="{% url 'resume:delete_school' rk=resume.id pk=x.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-award">New Award</button>
            </div>
            <div class="panel-heading">
                <h4>Awards/Certifications</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Date Received</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    {% if resume.awards %}
                        {% for x in resume.awards %}
                            <tr class="jobin-award">
                                <td class="title">{{ x.title }}</td>
                                <td class="date">{{ x.date }}</td>
                                <td class="type">{{ x.award_type }}</td>
                                <td>
                                    <a href="#" data-url="{% url 'resume:edit_award' pk=x.id %}" class="edit-award">
                                        Edit</a>
                                    | <a href="{% url 'resume:delete_award' rk=resume.id pk=x.id %}">Delete</a>
                                    <div class="w3-hide">
                                        <p class="description">{{ x.description }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="table-no-results">You have not added any awards to this resume.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-language">New Language</button>
            </div>
            <div class="panel-heading">
                <h4>Languages</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th></th>
                    </tr>
                    {% for x in resume.languages %}
                        <tr class="jobin-language">
                            <td class="name">{{ x.name }}</td>
                            <td class="level">{{ x.level }}</td>
                            <td>
                                <a href="#" data-url="{% url 'resume:edit_language' pk=x.id %}" class="edit-language">
                                    Edit</a>
                                | <a href="{% url 'resume:delete_language' rk=resume.id pk=x.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-skill">New Skill</button>
            </div>
            <div class="panel-heading">
                <h4>Skills</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Proficiency</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% if resume.skills %}
                        {% for x in resume.skills %}
                            <tr class="jobin-skill">
                                <td class="name">{{ x.name }}</td>
                                <td class="level">{{ x.level }}</td>
                                <td class="description">{% if x.description %}{{ x.description }}{% endif %}</td>
                                <td>
                                    <a href="#" data-url="{% url 'resume:edit_skill' pk=x.id %}" class="edit-skill">
                                        Edit</a>
                                    | <a href="{% url 'resume:delete_skill' rk=resume.id pk=x.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="table-no-results">You have not added any skills to this resume.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="panel panel-default panel-primary">
            <div class="newpostdiv">
                <button type="button" class="w3-btn btn-default new-element-button new-reference">New Reference</button>
            </div>
            <div class="panel-heading">
                <h4>References</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    {% if resume.references %}
                        {% for x in resume.references %}
                            <tr class="jobin-reference">
                                <td class="name">{{ x.name }}</td>
                                <td class="affiliation">{{ x.affiliation }}</td>
                                <td class="email">{{ x.email }}</td>
                                <td>
                                    <a href="#" data-url="{% url 'resume:edit_reference' pk=x.id %}"
                                       class="edit-reference">
                                        Edit</a>
                                    | <a href="{% url 'resume:delete_reference' rk=resume.id pk=x.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="table-no-results">You have not added any references to this resume.
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div>
            <a class="w3-btn btn-success" href="{% url 'resume:index' %}">Save &amp; Go Back</a>
        </div>
    </div>
{% endblock %}


{% block modals %}
    {% include 'resume/award_form.html' %}
    {% include 'resume/experience_form.html' %}
    {% include 'resume/language_form.html' %}
    {% include 'resume/school_form.html' %}
    {% include 'resume/skill_form.html' %}
    {% include 'resume/reference_form.html' %}
    {% include 'resume/resume_form.html' %}
{% endblock %}

{% block walkthroughs %}
    {% include 'student/walkthrough/resume.html' %}
{% endblock %}
