<div id="experience-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span data-id="experience-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Experience Form</h3>
        </header>
        <div class="w3-container">
            {% if other_experience %}
                <div>
                    <h4>
                        Add experience from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_experience %}
                            <li>
                                <a href="{% url 'resume:add_experience' pk=x.id rk=resume.id %}">Add {{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3>
                    Experience Information
                </h3>
            {% endif %}
            <div class="w3-padding">
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container message-info">
                        Add in any work experience that you have to help boost your resume.
                    </div>
                </div>
                <form id="experience-form" action="{% if resume %}{% url 'resume:new_experience' pk=resume.id %}{% else %}{% url 'resume:new_experience' pk='0' %}{% endif %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="experience_title">Title:</label>
                        <input id="experience_title" class="w3-input w3-border" type="text"
                               name="title">
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_start">Start:</label>
                        <input id="experience_start" class="w3-input w3-border date-input" type="date"
                               name="start">
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_end">End:</label>
                        <input id="experience_end" class="w3-input w3-border date-input" type="date"
                               name="end">
                    </div>
                    <div class="form-group">
                        <input id="experience_current" class="w3-check skip-form-clear" name="is_current" type="checkbox" value="True">
                        <label for="experience_current">This is my current position</label>
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_company">Company:</label>
                        <input id="experience_company" class="w3-input w3-border" type="text"
                               name="company">
                    </div>
                    <div class="form-group">
                        <label for="experience_type" class="required">Experience Type:</label>
                        <select id="experience_type" name="experience_type" class="w3-input w3-border skip-form-clear">
                            <option value="professional">Professional</option>
                            <option value="academic">Academic</option>
                            <option value="internship">Internship</option>
                            <option value="entrepreneurial">Entrepreneurial</option>
                            <option value="volunteer">Volunteer</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_description">Description</label>
                        <textarea id="experience_description" name="description" class="w3-input w3-border"
                                  rows="5"></textarea>
                    </div>
                    <div class="regular-buttons w3-padding">
                        <button class="w3-btn btn-default close-modal" type="button" data-id="experience-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success"  type="submit">Submit <i class="fa fa-spinner fa-spin w3-hide"></i></button>
                    </div>
                    <div class="walk-buttons w3-hide">
                        <button class="w3-btn btn-success experience-save-another" type="button">
                            Save & Add Another <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-success experience-save-continue" type="button">
                            Save & Continue <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-default experience-next" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>