{% extends 'resume/list_base.html' %}

{% block title %}Experience List{% endblock %}

{% block list %}
    <tr class="table-header-color">
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Company</th>
        <th></th>
        <th></th>
    </tr>
    {% for x in list %}
        <tr>
            <td>{{ x.title }}</td>
            <td>{{ x.start }}</td>
            <td>{% if x.is_current %}Current Job{% else %}{{ x.end }}{% endif %}</td>
            <td>{{ x.experience_type }}</td>
            <td>{{ x.company }}</td>
            <td><a href="{% url 'resume:updateexperience' pk=x.pk %}">Edit</a></td>
            <td>
                <a href="#" class="warning-open">Delete</a>
                <div class="warning hide">
                    <h4>Are you sure you want to delete <u>{{ x.title }}</u> position?</h4>
                    <hr/>
                    <p>This will permanently delete this experience from the resume, the only way to get it back would be
                    to add it from an existing resume or to recreate it.</p>
                    <button class="warning-close w3-btn regular-btn" type="button">Cancel</button>
                    <a class="w3-btn danger-btn" href="{% url 'resume:deleteexperience' pk=x.pk rk=rkey%}">Delete</a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block noresult %}
    <div class="w3-container w3-padding-8 w3-row w3-text-white title-color" style="width:100%;">
        <div class="w3-col s1">
            <div class="w3-dropdown-hover" style="width:100%;">
                <div>
                    <i class="fa fa-info-circle w3-xlarge" style="margin-left:20px;"></i>
                </div>
                <div class="w3-container">
                    <div class="w3-dropdown-content" style="width:600px">
                        <div class="w3-card">
                            <header class="w3-container title-color w3-text-white">
                                <h4>Experience information</h4>
                            </header>
                            <div class="w3-container">
                                <p>
                                    Experience represents professional or any related that you may have had, ranging from community
                                    service to professional experience.<br/>
                                    <strong>Steps to creating a new experience object:</strong>
                                    <ul>
                                        <li>Click create new experience</li>
                                        <li>Enter the title that you held</li>
                                        <li>Enter the start date</li>
                                        <li>Enter the end date</li>
                                        <li>Enter a short description of the experience</li>
                                        <li>Enter the type of the experience</li>
                                        <li>Save your new experience</li>
                                    </ul>
                                </p>
                            </div>
                            <footer class="w3-container w3-light-grey">
                                Any fictive or false information attached to your profile will result in a termination of your account.
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col s8">
                <h4>Experience List</h4>
        </div>
        <div class="w3-col s3 w3-padding-8">
            <a class="w3-btn resume-new-btn w3-border w3-border-white"
               href="{% url 'resume:newexperience' rk=rkey%}">New Experience</a>
        </div>
    </div>
    {% if count == 0 %}
        <div class="w3-container w3-orange">
            <p>
                No experiences found for this resume. <a href="{% url 'resume:newexperience' rk=rkey%}">Click Here</a> to add experiences.
            </p>
        </div>
    {% endif %}
{% endblock %}