<div id="experience-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container primary-color">
            <span data-id="experience-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3 class="w3-text-white">Experience Form</h3>
        </header>
        <div class="w3-container">
            {% if other_experience %}
                <div>
                    <h4 class="secondary-color w3-padding">
                        Add experience from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_experience %}
                            <li>
                                <a href="{% url 'resume:add_experience' pk=x.id rk=resume.id %}">Add {{ x.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="w3-padding secondary-color">
                    Experience Information
                </h3>
            {% endif %}
            <div class="w3-padding">
                <form id="experience-form" action="{% url 'resume:new_experience' pk=resume.id %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="experience_title">Title:</label>
                        <input id="experience_title" class="w3-input w3-border" type="text"
                               name="experience_title">
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_start">Start:</label>
                        <input id="experience_start" class="w3-input w3-border" type="date"
                               name="experience_start">
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_end">End:</label>
                        <input id="experience_end" class="w3-input w3-border" type="date"
                               name="experience_end">
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_company">Company:</label>
                        <input id="experience_company" class="w3-input w3-border" type="text"
                               name="experience_company">
                    </div>
                    <div class="form-group">
                        <label for="experience_type">Experience Type:</label>
                        <select id="experience_type" name="experience_type" class="w3-input w3-border">
                            <option value="professional">Professional</option>
                            <option value="academic">Academic</option>
                            <option value="internship">Internship</option>
                            <option value="entrepreneurial">Entrepreneurial</option>
                            <option value="volunteer">Volunteer</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required" for="experience_description">Description</label>
                        <textarea id="experience_description" name="experience_description" class="w3-input w3-border"
                                  rows="5"></textarea>
                    </div>
                    <div class="w3-padding">
                        <button class="w3-btn close-modal w3-border w3-border-black" type="button" data-id="experience-modal">
                            Cancel
                        </button>
                        <button class="w3-btn w3-border w3-border-green w3-text-green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>