{% for field in form %}
    <div class="form-element">
        {% if field.label == 'hide' %}
            <div class="hide">
                {{ field }}
            </div>
        {% else %}
            <div class="form-error {% if field.errors %}danger-message message{% endif %}">
                {{ field.errors }}
            </div>
            <div class="w3-row">
                {% if field.field.required %}
                    <span class="required">{{ field.label_tag }}</span>
                {% else %}
                    {{ field.label_tag }}
                {% endif %}
                <div class="w3-col s12">
                    {{ field }}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}