{% extends 'student/base.html' %}

{% block title %}{{ student.name }} Resumes{% endblock %}

{% load staticfiles %}
{% block scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'resume/resume_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/scripts/form_util.js' %}"></script>
{% endblock %}

{% block page_body_class %}resume-index{% endblock %}

{% block page_title_div %}

    <div class="pagetitle resume-index">

        <h1>Resumes</h1>

    </div>

{% endblock %}

{% block content %}
	<div class="newpostdiv">
                    <button class="w3-btn btn-default new-resume" data-url="{% url 'resume:new' %}">
                            New Resume
                        </button>
            </div>
    <div class="student-resumes-content">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading resume-list">
            <h4>Resume List</h4>
        </div>
        <div class="panel-body">
                {% if resumes %}
                <table class="table">
                    <tr>
                        <th class="resume-detail">Name</th>
                        <th>Last Updated</th>
                        <th>Is Active</th>
                        <th class="resume-actions">Actions</th>
                    </tr>
                    {% for x in resumes %}
                        <tr class="{% if not x.is_complete %}incomplete-resume{% endif %} jobin-resume">
                            {% if x.is_complete %}
                                <td class="tr-resume-name">
                                    <a href="{% url 'resume:details' pk=x.id %}" class="name">{{ x.name }}</a>
                                    <span class="gpa w3-hide">{% if x.gpa %}{{ x.gpa }}{% endif %}</span>
                                </td>
                                <td>{{ x.last_updated }}</td>
                                <td>
                                    {% if x.is_active %}
                                        <strong><span class="is-active">Active Resume</span></strong>
                                    {% else %}
                                        <a href="#" class="activate-resume is-active"
                                           data-url="{% url 'resume:activate' pk=x.id %}">
                                            Make Active Resume
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <a href="#" data-url="{% url 'resume:edit' pk=x.id %}" class="edit-resume">Edit</a> |
                                        <a href="#" class="warning-open" data-id="delete-resume"
                                           data-url="{% url 'resume:delete' pk=x.id %}" data-name="{{ x.name }}">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            {% else %}
                                <td colspan="2" class="tr-resume-name">{{ x.name }}</td>
                                <td>
                                    <a class="complete-resume" href="#">Complete</a>
                                </td>
                                <td>
                                    <div class="w3-hide">
                                        <span class="school-url">{% url 'resume:new_school' pk=x.id %}</span>
                                        <span class="language-url">{% url 'resume:new_language' pk=x.id %}</span>
                                        <span class="experience-url">{% url 'resume:new_experience' pk=x.id %}</span>
                                        <span class="award-url">{% url 'resume:new_award' pk=x.id %}</span>
                                        <span class="skill-url">{% url 'resume:new_skill' pk=x.id %}</span>
                                        <span class="reference-url">{% url 'resume:new_reference' pk=x.id %}</span>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="w3-container">
                    <p>
                        No resumes found.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}


{% block modals %}
    {% include 'resume/resume_form.html' %}
    {% include 'resume/school_form.html' %}
    {% include 'resume/language_form.html' %}
    {% include 'resume/experience_form.html' %}
    {% include 'resume/award_form.html' %}
    {% include 'resume/skill_form.html' %}
    {% include 'resume/reference_form.html' %}
{% endblock %}



{% block hidden_block %}
    <div class="student-school">{{ student.school }}</div>
    <div class="student-program">{{ student.program }}</div>
    <div class="first-resume">{{ first }}</div>
    <div id="warning-delete-resume">
        <p class="message">Are you sure you want to delete <u><span class="name"></span></u> resume?</p>
        <p class="notes">
            This will permanently delete this resume.
        </p>
    </div>
{% endblock %}

{% block walkthroughs %}
    {% include 'student/walkthrough/resumes.html' %}
{% endblock %}

