<div id="language-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span data-id="language-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Language Form</h3>
        </header>
        <div class="w3-container">
            {% if other_languages %}
                <div>
                    <h4>
                        Add languages from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_languages %}
                            <li>
                                <a href="{% url 'resume:add_language' pk=x.id rk=resume.id %}">Add {{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3>
                    Language Information
                </h3>
            {% endif %}
            <div>
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container message-info">
                        Languages are a quintessential part of your resume; therefore you must add
                        at least one language to complete your resume. Fill in the form below and
                        save to add your first language record. You can choose to add more languages
                        now or add them later.
                    </div>
                </div>
                <form id="language-form"
                      action="{% if resume %}{% url 'resume:new_language' pk=resume.id %}
                                {% else %}{% url 'resume:new_language' pk='0' %}{% endif %}"
                      method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="language_name">Language Name:</label>
                        <input id="language_name" class="w3-input w3-border" type="text"
                               name="name">
                    </div>
                    <div class="form-group">
                        <label for="language_level" class="required">Level:</label>
                        <select id="language_level" name="level" class="w3-input w3-border skip-form-clear">
                            <option value="native">Native</option>
                            <option value="fluent">Fluent</option>
                            <option value="conversational">Conversational</option>
                            <option value="beginner">Beginner</option>
                        </select>
                    </div>
                    <div class="regular-buttons">
                        <button class="w3-btn btn-default close-modal" type="button" data-id="language-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success" type="submit">Submit</button>
                    </div>
                    <div class="walk-buttons w3-hide">
                        <button class="w3-btn btn-success language-save-another" type="button">
                            Save & Add Another
                        </button>
                        <button class="w3-btn btn-success language-save-continue" type="button">
                            Save & Continue
                        </button>
                        <button class="w3-btn btn-default w3-hide next-btn language-next" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>