{% extends 'resume/form_base.html' %}

{% block title %}New Language{% endblock %}

{% block form_title %}New Language Form:{% endblock %}

{% block side_content %}
    {% if icount > 0 %}
        <div class="w3-container w3-padding-32 w3-col s12 m12">
            <div class="w3-container title-color w3-text-white">
                <h5>Add Languages from other resumes:</h5>
            </div>
            <div class="w3-container resume-other-items-background">
                <ul style="margin:0;">
                    {% for x in items %}
                        <li style="margin-top:10px;">
                            <a href="{% url 'resume:linklanguage' pk=x.pk rk=rkey %}">Add {{ x.name }} ({{ x.rname }})</a>
                        </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}