{% extends 'student/student_base.html' %}

{% block title %}{% endblock %}

{% block resumesactive %}active{% endblock %}

{% block content %}
    {% block noresult %}
    {% endblock %}
    <table class="w3-table w3-bordered w3-white">
        {% block list %}
        {% endblock %}
    </table>
    {% if rkey %}
        <div class="w3-padding-16">
            <div class="w3-row">
                <div class="w3-col s12 m6">
                    <a class="w3-btn w3-white" href="{% url 'resume:index' %}">Resume List</a>
                </div>
                <div class="w3-col s12 m6">
                    <a class="w3-btn w3-white" href="{% url 'resume:details' pk=rkey %}">Resume Overview</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}