{% extends 'student/student_base.html' %}

{% block title %}{% endblock %}

{% block resumesactive %}active{% endblock %}

{% block content %}
    <div class="w3-container">
        {% block noresult %}
        {% endblock %}
        <table class="w3-table w3-bordered w3-white">
            {% block list %}
            {% endblock %}
        </table>
        {% if rkey %}
            <div class="w3-padding-16">
                <a class="w3-btn regular-btn" href="{% url 'resume:index' %}">Resume List</a>
                <a class="w3-btn regular-btn" href="{% url 'resume:details' pk=rkey %}">Resume Overview</a>
            </div>
        {% endif %}
    </div>
{% endblock %}