<div id="reference-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span class="w3-button w3-display-topright close-modal" data-id="reference-modal">&times;</span>
            <h3>Reference Form</h3>
        </header>
        <div class="w3-container">
            {% if other_references %}
                <div>
                    <h4>
                        Add references from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_references %}
                            <li>
                                <a href="{% url 'resume:add_reference' pk=x.id rk=resume.id %}">Add {{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3>
                    Reference Information
                </h3>
            {% endif %}
            <div>
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container message-info">
                        Add references so that other people can testify that you can do the job.
                    </div>
                </div>
                <form id="reference-form" action="{% if resume %}{% url 'resume:new_reference' pk=resume.id %}{% else %}{% url 'resume:new_reference' pk='0' %}{% endif %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="reference_name">Full Name:</label>
                        <input id="reference_name" class="w3-input w3-border" type="text"
                               name="name">
                    </div>
                    <div class="form-group">
                        <label class="required" for="reference_affiliation">Affiliation:</label>
                        <input id="reference_affiliation" class="w3-input w3-border" type="text"
                               name="affiliation">
                    </div>
                    <div class="form-group">
                        <label class="required" for="reference_email">Email:</label>
                        <input id="reference_email" class="w3-input w3-border" type="text"
                               name="email">
                    </div>
                    <div class="regular-buttons">
                        <button class="w3-btn btn-default close-modal" type="button" data-id="reference-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success" type="submit">Submit <i class="fa fa-spinner fa-spin w3-hide"></i></button>
                    </div>
                    <div class="walk-buttons w3-hide">
                        <button class="w3-btn btn-success reference-save-another" type="button">
                            Save & Add Another <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-success reference-save-continue" type="button">
                            Save & Continue <i class="fa fa-spinner fa-spin w3-hide"></i>
                        </button>
                        <button class="w3-btn btn-default reference-next" type="button">
                            Finish
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>