{% extends 'student/student_base.html' %}

{% block title %}Resume Details{% endblock %}

{% block resumesactive %}active{% endblock %}

{% block content %}
    <style>
        h4{
            margin: 0;
        }
    </style>
    <div class="w3-container">
        <div class="w3-center title-color w3-padding-8">
            <h3>Resume Overview</h3>
        </div>
        <label>Name:</label><span> {{ resume.name }}</span><br/>
        <label>Last Updated:</label><span> {{ resume.last_updated }}</span><br/>
        <label>Is Active:</label><span> {{ resume.is_active }}</span><br/>
        <label>File:</label>{% if resume.file_resume %}
                                <span> {{ resume.file_resume }}</span>
                            {% else %}
                                <span> No file uploaded</span>
                            {% endif %}
        <div class="w3-container title-color w3-row w3-padding-8 w3-text-white">
            <div class="w3-col s9">
                <h4>Experience</h4>
            </div>
            <div class="w3-col s3">
                <a class="w3-btn w3-indigo w3-right" href="{% url 'resume:experiencelist' rk=resume.pk %}">Manage</a>
            </div>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
                <tr class="table-header-color">
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                {% for x in experience %}
                    <tr>
                        <td>{{ x.title }}</td>
                        <td>{{ x.start }}</td>
                        <td>{% if x.is_current %}Current Job{% else %}{{ x.end }}{% endif %}</td>
                        <td>{{ x.company }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-container title-color w3-row w3-padding-8 w3-text-white">
            <div class="w3-col s9">
                <h4>Education</h4>
            </div>
            <div class="w3-col s3">
                <a class="w3-btn w3-indigo w3-right" href="{% url 'resume:schoollist' rk=resume.pk %}">Manage</a>
            </div>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
                <tr class="table-header-color">
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Level</th>
                    <th>Program</th>
                </tr>
            </thead>
            <tbody>
                {% for x in schools %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.start }}</td>
                        <td>{% if x.is_current %}Current School{% else %}{{ x.end }}{% endif %}</td>
                        <td>{{ x.level }}</td>
                        <td>{{ x.program }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-container title-color w3-row w3-padding-8 w3-text-white">
            <div class="w3-col s9">
                <h4>Awards/Certifications</h4>
            </div>
            <div class="w3-col s3">
                <a class="w3-btn w3-indigo w3-right" href="{% url 'resume:awardlist' rk=resume.pk %}">Manage</a>
            </div>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
                <tr class="table-header-color">
                    <th>Title</th>
                    <th>Date Received</th>
                </tr>
            </thead>
            <tbody>
                {% for x in awards %}
                    <tr>
                        <td>{{ x.title }}</td>
                        <td>{{ x.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-container title-color w3-row w3-padding-8 w3-text-white">
            <div class="w3-col s9">
                <h4>Languages</h4>
            </div>
            <div class="w3-col s3">
                <a class="w3-btn w3-indigo w3-right" href="{% url 'resume:languagelist' rk=resume.pk %}">Manage</a>
            </div>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
                <tr class="table-header-color">
                    <th>Name</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {% for x in languages %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-container title-color w3-row w3-padding-8 w3-text-white">
            <div class="w3-col s9">
                <h4>Skills</h4>
            </div>
            <div class="w3-col s3">
                <a class="w3-btn w3-indigo w3-right" href="{% url 'resume:skilllist' rk=resume.pk %}">Manage</a>
            </div>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
                <tr class="table-header-color">
                    <th>Name</th>
                    <th>Proficiency</th>
                </tr>
            </thead>
            <tbody>
                {% for x in skills %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-padding-16">
            <a class="w3-btn regular-btn" href="{% url 'resume:index' %}">Back to list</a>
        </div>
    </div>

{% endblock %}