<div id="resume-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span data-id="resume-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Resume Form</h3>
        </header>
        <div class="w3-container">
            {% if resumes %}
                <div class="other-resumes">
                    <h4>
                        Create your new resume based of an existing resume:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in resumes %}
                            <li>
                                <a href="{% url 'resume:copy' pk=x.id %}">New resume like {{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3>
                    Resume Information
                </h3>
            {% endif %}

            <div>
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container message-info">
                        Resumes are how you will show off to recruiters. To create your first resume,
                        fill out the form below and submit it.
                    </div>
                </div>
                <form id="resume-form" action="{% url 'resume:new' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="resume_name">Name:</label>
                        <input id="resume_name" class="w3-input w3-border" type="text"
                               name="resume_name">
                    </div>
                    <div class="form-group">
                        <label for="resume_gpa">GPA:</label>
                        <input id="resume_gpa" class="w3-input w3-border" type="text"
                               name="resume_gpa">
                    </div>
                        <button class="w3-btn btn-default close-modal" type="button" data-id="resume-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>