<div id="school-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container primary-color">
            <span data-id="school-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3 class="w3-text-white">School Form</h3>
        </header>
        <div class="w3-container">
            {% if other_schools %}
                <div>
                    <h4 class="secondary-color w3-padding">
                        Add schools from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_schools %}
                            <li>
                                <a href="{% url 'resume:add_school' pk=x.id rk=resume.id %}">Add {{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="w3-padding secondary-color">
                    School Information
                </h3>
            {% endif %}
            <div class="w3-padding">
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container w3-padding message-info">
                        Schools are how your education will be represented in your resume. To add your
                        first school record, fill out the rest of the form below. You can then choose
                        to save and continue (and add the rest later) or you can add in more schools
                        right away.
                    </div>
                </div>
                <form id="school-form"
                      action="{% if resume %}{% url 'resume:new_school' pk=resume.id %}
                                {% else %}{% url 'resume:new_school' pk='0' %}{% endif %}"
                      method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="school_name">School Name:</label>
                        <input id="school_name" class="w3-input w3-border" type="text"
                               name="school_name">
                    </div>
                    <div class="form-group">
                        <label class="required" for="school_program">Program:</label>
                        <input id="school_program" class="w3-input w3-border" type="text"
                               name="school_program">
                    </div>
                    <div class="form-group">
                        <label class="required" for="school_start">Start:</label>
                        <input id="school_start" class="w3-input w3-border" type="date"
                               name="school_start">
                    </div>
                    <div class="form-group">
                        <label class="required" for="school_end">End:</label>
                        <input id="school_end" class="w3-input w3-border" type="date"
                               name="school_end">
                    </div>
                    <div class="form-group">
                        <input id="school_current" class="w3-check" name="school_current" type="checkbox" value="True">
                        <label for="school_current">This is my current school</label>
                    </div>
                    <div class="form-group">
                        <label for="school_level">Level:</label>
                        <select id="school_level" name="school_level" class="w3-input w3-border">
                            <option value="university">University</option>
                            <option value="college">College</option>
                            <option value="high school">High School</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="regular-buttons w3-padding">
                        <button class="w3-btn close-modal w3-border w3-border-black" type="button" data-id="school-modal">
                            Cancel
                        </button>
                        <button class="w3-btn w3-border w3-border-green w3-text-green" type="submit">Submit</button>
                    </div>
                    <div class="walk-buttons w3-hide w3-padding">
                        <button class="w3-btn school-save-another w3-border w3-border-black" type="button">
                            Save & Add Another
                        </button>
                        <button class="w3-btn school-save-continue w3-border w3-border-green w3-text-green" type="button">
                            Save & Continue
                        </button>
                        <button class="w3-btn school-next next-btn w3-hide w3-border w3-border-green w3-text-green" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>