<div id="skill-modal" class="w3-modal resume-item-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container ">
            <span data-id="skill-modal" class="w3-button w3-display-topright close-modal">&times;</span>
            <h3>Skill Form</h3>
        </header>
        <div class="w3-container">
            {% if other_skills %}
                <div>
                    <h4 class=" ">
                        Add skills from other resumes:
                    </h4>
                    <ul class="w3-ul">
                        {% for x in other_skills %}
                            <li>
                                <a href="{% url 'resume:add_skill' pk=x.id rk=resume.id %}">Add {{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class=" ">
                    Skill Information
                </h3>
            {% endif %}
            <div class="">
                <div class="modal-messages"></div>
                <div class="w3-hide first-message">
                    <div class="w3-container  message-info">
                        Add in any skills that you have that can add value to your resume.
                    </div>
                </div>
                <form id="skill-form" action="{% if resume %}{% url 'resume:new_skill' pk=resume.id %}{% else %}{% url 'resume:new_skill' pk='0' %}{% endif %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="required" for="skill_name">Name:</label>
                        <input id="skill_name" class="w3-input w3-border" type="text"
                               name="name">
                    </div>
                    <div class="form-group">
                        <label for="skill_level" class="required">Level:</label>
                        <select id="skill_level" name="level" class="w3-input w3-border">
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="skill_description">Description:</label>
                        <textarea class="w3-input w3-border" name="description" id="skill_description" rows="5"></textarea>
                    </div>
                    <div class="regular-buttons ">
                        <button class="w3-btn btn-default close-modal" type="button"
                                data-id="skill-modal">
                            Cancel
                        </button>
                        <button class="w3-btn btn-success" type="submit">Submit</button>
                    </div>
                    <div class="walk-buttons w3-hide ">
                        <button class="w3-btn btn-success skill-save-another" type="button">
                            Save & Add Another
                        </button>
                        <button class="w3-btn btn-success skill-save-continue" type="button">
                            Save & Continue
                        </button>
                        <button class="w3-btn btn-default skill-next" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>