{% extends 'resume/walkthrough_base.html' %}

{% block title %}New Resume{% endblock %}

{% block form_title %}New Resume Form:{% endblock %}

{% block side_content %}
    {% if rcount > 0 %}
        <div class="w3-container w3-padding-32 w3-col s12 m5">
            <div class="w3-container w3-indigo">
                <h5>Create your new resume based off of an existing resume:</h5>
            </div>
            <div class="w3-container w3-pale-blue">
                <ul style="margin:0;">
                    {% for x in rs %}
                        <li style="margin-top:10px;">
                            <a href="{% url 'resume:copy' rk=x.pk %}">New resume like {{ x.name }}</a>
                        </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block buttons %}
    <div class="w3-third">
        <button type="submit" class="w3-btn w3-blue">Save & Continue</button>
    </div>
{% endblock %}