{% extends 'resume/walkthrough_base.html' %}

{% block title %}New Language{% endblock %}

{% block form_title %}New Language Form:{% endblock %}

{% block info %}
    <div class="w3-container w3-padding-8 form-info-div">
        It is required for you to enter at least one language for this resume before you can continue.
    </div>
{% endblock %}

{% block buttons %}
    <input type="submit" value="Save & Add Another Language" class="w3-btn regular-btn"
           onclick='this.form.action="{% url 'resume:languagewalk' rk=rkey rq='new' %}";'/>
    <button type="submit" class="w3-btn submit-btn">Save & Continue</button>
{% endblock %}