{% extends 'student/student_base.html' %}

{% block title %}{% endblock %}

{% block resumesactive %}active{% endblock %}

{% block content %}
    <div class="w3-row">
        <div class="w3-container w3-col s12 {% if rcount > 0 %}m7{% endif %}">
            <div class="w3-container title-color w3-center w3-text-white">
                <h3>{% block form_title %}{% endblock %}</h3>
            </div>
            {% block info %}
            {% endblock %}
            <form class="w3-container w3-border-left w3-border-right w3-border-bottom w3-white" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'resume/form_template.html' %}
                <div class="w3-padding-16">
                    {% block buttons %}{% endblock %}
                </div>
            </form>
            <div style="display: none">
                {% block hiddenblock %}
                {% endblock %}
            </div>
        </div>
        {% block side_content %}{% endblock %}
    </div>
{% endblock %}