{% extends 'resume/walkthrough_base.html' %}

{% block title %}New School{% endblock %}

{% block form_title %}New School Form:{% endblock %}

{% block info %}
    <div class="w3-container w3-padding-8 form-info-div">
        It is required for you to enter at least one school record for this resume before you can continue. We encourage
        you to enter your whole education history, at least up to and including high school.
    </div>
{% endblock %}

{% block buttons %}
    <input type="submit" value="Save & Add Another School" class="w3-btn regular-btn"
           onclick='this.form.action="{% url 'resume:schoolwalk' rk=rkey rq='new' %}";'/>
    <button type="submit" class="w3-btn submit-btn">Save & Continue</button>
{% endblock %}

{% block hiddenblock %}
    <div class="form-script-title">School</div>

    <script>
        $(function(){

            var sch = $('#id_name');
            var prog = $('#id_program');
            if(!(sch.val() == "")){
                sch.hide();
                $('label[for="id_name"]').html('School: ' + sch.val());
                prog.hide();
                $('label[for="id_program"]').html('Program: ' + prog.val());
            }

            $('.form-info-div').html(
                    'This is your first school record. Please complete the remaining information about your school.' +
                    ' If you are a graduate enter an end date, otherwise chose "is current". Then save and add the rest of' +
                    ' your education history (recommended) or save and continue and add the rest later.'
            );

        });
    </script>
{% endblock %}