{% extends 'resume/walkthrough_base.html' %}

{% block title %}New School{% endblock %}

{% block form_title %}New School Form:{% endblock %}

{% block info %}
    It is required for you to enter at least one school record for this resume before you can continue. We encourage
    you to enter your whole education history up to and including high school at least.
{% endblock %}

{% block buttons %}
    <div class="w3-third">
        <button type="submit" class="w3-btn w3-blue">Submit</button>
    </div>
    <div class="w3-rest">
        <a href="{% url 'resume:nav' rk=rkey rq='school_done' %}" class="w3-btn w3-green">Done</a>
    </div>
{% endblock %}