{% extends 'resume/walkthrough_base.html' %}

{% block title %}New Resume{% endblock %}

{% block form_title %}New Resume Form:{% endblock %}

{% block side_content %}
    {% if rcount > 0 %}
        <div class="w3-container w3-padding-32 w3-col s12 m12">
            <div class="w3-container title-color w3-text-white">
                <h5>Create your new resume based off of an existing resume:</h5>
            </div>
            <div class="w3-container resume-other-items-background">
                <ul style="margin:0;">
                    {% for x in rs %}
                        <li style="margin-top:10px;">
                            <a href="{% url 'resume:copy' rk=x.pk %}">New resume like {{ x.name }}</a>
                        </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block buttons %}
    <a href="{% url 'resume:index' %}" class="w3-btn regular-btn">Cancel</a>
    <button type="submit" class="w3-btn submit-btn">Save & Continue</button>
{% endblock %}