{% extends 'company/company_base.html' %}

{% block title %}Company Home{% endblock %}

{% block homeactive %}active{% endblock %}

{% block side_content %}
    {% include 'company/company_info.html' %}
    {% include 'company/post_legend.html' %}
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'home/page_script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4 style="text-align: center;">Active Posts</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Openings</th>
                    <th>Start</th>
                    <th>Deadline</th>
                    <th></th>
                </tr>
                {% for x in posts %}
                    <tr {% if x.notified %}style="background-color: #c2f9ce"
                        {% elif x.new_apps %}style="background-color: #c9f3fc;"
                        {% endif %}>
                        <td>{{ x.title }}</td>
                        <td>{{ x.openings }}</td>
                        <td>{{ x.start_date }}</td>
                        <td>{{ x.deadline }}</td>
                        <td><a href="{% url 'post:applicants' pk=x.pk%}">Applicants</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
                        <span>Page: </span><span class="hidden page-object">post_page</span>
                        {% for x in ppages %}
                            {% if x == ppage %}
                                <strong><span>{{ x }} </span></strong>
                            {% else %}
                                <span class="app-page-number page-number">{{ x }} </span>
                            {% endif %}|
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4 style="text-align: center;">Upcoming Events</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                {% for x in events %}
                    <tr>
                        <td>{{ x.title }}</td>
                        <td>{{ x.date }}</td>
                        <td>{{ x.time }}</td>
                        <td><a href="{% url 'event:companyevent' pk=x.pk%}">Details</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">
                        <span>Page: </span><span class="hidden page-object">event_page</span>
                        {% for x in epages %}
                            {% if x == epage %}
                                <strong><span>{{ x }} </span></strong>
                            {% else %}
                                <span class="app-page-number page-number">{{ x }} </span>
                            {% endif %}|
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="hidden">
        <form id="page-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="post_page" type="number" name="post_page" value="{{ ppage }}"/>
            <input id="event_page" type="number" name="event_page" value="{{ epage }}"/>
        </form>
        <div id="page-ids">post_page,event_page</div>
        <div id="current-post_page">{{ ppage }}</div>
        <div id="current-event_page">{{ epage }}</div>
        <div id="form-id">page-form</div>
    </div>
{% endblock %}

{% block page_name %}home{% endblock %}
