{% extends 'company/company_base.html' %}

{% block title %}Company Details{% endblock %}

{% block profileactive %}active{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel primary-panel">
            <div class="panel-heading">
                <h3>Company Information</h3>
            </div>
            <div class="panel-body">
                {{ company.logo }}
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ company.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ company.email }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ company.address }}, {{ company.city }}, {{ company.state }}, {{ company.country }}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>{{ company.website }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'company:index' %}" class="btn submit-btn">Continue</a>
{% endblock %}