{% extends 'company/company_base.html' %}

{% block title %}Company Profile{% endblock %}

{% block profileactive %}active{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h2>User Information:</h2>
                <hr/>
                <label>Username:</label><span> {{ user.username }}</span><br/>
                <label>Date joined:</label><span> {{ user.date_joined }}</span>
                <hr/>
                <h2>Company Information:</h2>
                <hr/>
                {{ company.logo }}
                <label>Name:</label><span> {{ company.name }}</span><br/>
                <label>Email:</label><span> {{ company.email }}</span><br/>
                <label>Phone:</label><span> {{ company.phone }}</span><br/>
                <label>Address:</label><span> {{ company.address }}, {{ company.city }}, {{ company.state }}, {{ company.zipcode }}</span><br/>
                <label>Website:</label><span> {{ company.website }}</span><br/>
                <div class="col-md-2">
                    <a href="{% url 'company:update' pk=company.pk %}" class="w3-btn w3-blue">Edit Profile</a>
                </div>
                <div class="col-md-10">
                    <a href="{% url 'home:updateinfo' utype='company'%}" class="w3-btn w3-blue">Edit Account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}