{% if company %}
    <div class="row">
        <div class="col-sm-4">
            Logo area
        </div>
        <div class="col-sm-8">
            <h3>{{ company.name }}</h3>
        </div>
    </div>
    <hr/>
    <label>{{ company.email }}</label><br/>
    <span>{{ company.phone }}</span><br/>
    <label>Address: </label><br/>
    <span>
        {{ company.address }}, {{ company.city }},
        {{ company.state }}, {{ company.zipcode }}
    </span><br/>
    <label>{{ company.website }}</label>
{% endif %}