{% extends 'company/company_base.html' %}

{% block title %}Company Home{% endblock %}

{% block homeactive %}active{% endblock %}

{% block side_content %}
    {% include 'company/company_info.html' %}
    {% include 'company/post_legend.html' %}
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4 style="text-align: center;">Active Posts</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Openings</th>
                    <th>Start</th>
                    <th>Deadline</th>
                    <th></th>
                </tr>
                {% for x in posts %}
                    <tr {% if x.notified %}style="background-color: #c2f9ce"
                        {% elif x.new_apps %}style="background-color: #c9f3fc;"
                        {% endif %}>
                        <td>{{ x.title }}</td>
                        <td>{{ x.openings }}</td>
                        <td>{{ x.start_date }}</td>
                        <td>{{ x.deadline }}</td>
                        <td><a href="{% url 'post:companypost' pk=x.pk%}">Details</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4 style="text-align: center;">Upcoming Events</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                {% for x in events %}
                    <tr>
                        <td>{{ x.title }}</td>
                        <td>{{ x.date }}</td>
                        <td>{{ x.time }}</td>
                        <td><a href="{% url 'event:companyevent' pk=x.pk%}">Details</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}