<div class="panel panel-default regular-panel">
    <div class="panel-heading">
        <h5>Post Legend</h5>
    </div>
    <div class="panel-body" >
        <div class="row" style="padding: 0 15px 0 15px;">
            <div class="col-md-2 legend-green">
                x
            </div>
            <div class="col-md-10">
                A new cover letter was received for this post
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-light-blue">
                x
            </div>
            <div class="col-md-10">
                New applications were received for this post
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-white">
                x
            </div>
            <div class="col-md-10">
                No activity on this post
            </div>
        </div>
    </div>
</div>