{% extends 'company/base.html' %}

{% block title %}Company Profile{% endblock %}

{% block side_content %}
    <div class="panel panel-default secondary-panel">
        <div class="panel-heading">
            <h4 class="text-center">Note</h4>
        </div>
        <div class="panel-body">
            - Your profile is the company information attached to your account.<br/>
            - Your account is the email and password to your account.
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default primary-panel">
            <div class="panel-heading">
                <h4>User Information:</h4>
            </div>
            <div class="panel-body">
                <label>Username:</label><span> {{ user.username }}</span><br/>
                <label>Date joined:</label><span> {{ user.date_joined }}</span>
            </div>

            <div class="panel-heading">
                <h4>Company Information:</h4>
            </div>

            <div class="panel-body">
                {{ company.logo }}
                <label>Name:</label><span> {{ company.name }}</span><br/>
                <label>Email:</label><span> {{ company.email }}</span><br/>
                <label>Phone:</label><span> {{ company.phone }}</span><br/>
                <label>Address:</label><span> {{ company.address }}, {{ company.city }}, {{ company.state }}, {{ company.zipcode }}</span><br/>
                <label>Website:</label><span> {{ company.website }}</span><br/>
                <div class="margined">
                    <a href="{% url 'company:edit' %}"
                       class="btn btn-default">Edit Profile</a>
                    <a href="{% url 'home:change_info' ut='company'%}"
                       class="btn btn-default">Edit Account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}