<div id="warning-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Warning!
                </h4>
            </div>
            <div class="modal-body">
                <h4 class="warning-message"></h4>
                <p class="warning-note"></p>
                <div>
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                        Cancel
                    </button>
                    <button class="btn btn-warning warning-accepted" type="button">
                        Continue
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>