.active{
    background-color: #004E69;
}

body{
    background-color: #E0E0E0;
}

.scrollable{
    overflow: scroll;
}

.info-div{
    margin-top:40px;
}

.mySlides{
    display: block;
    overflow: hidden;
}