.active{
    background-color: grey;
}

body{
    background-color: #E0E0E0;
}

.scrollable{
    overflow: scroll;
}

.info-div{
    margin-top:40px;
}

.mySlides{
    display: block;
    overflow: hidden;
}

.message{
    margin: 5px 0px 10px 0px;
}

.message span{
    padding: 10px;
}

.presentbtn{
    margin-left: 10px;
}

.scrollable{
    overflow: scroll;
}