{% if app.cover %}
    <div class="panel panel-default secondary-panel margined">
        <div class="panel-heading">
            Cover Letter
        </div>
        <div class="panel-body">
            <p>{{ app.cover | linebreaksbr}}</p>
        </div>
    </div>
{% endif %}
{% if resume.file_resume %}
    <div class="panel panel-default secondary-panel margined">
        <div class="panel-heading">
            File Resume
        </div>
        <div class="panel-body">
            {{ resume.file_resume }}
        </div>
    </div>
{% endif %}
<div class="panel panel-default margined primary-panel">
    <div class="panel-heading">
        <h4 style="text-align: center">Student Resume</h4>
    </div>
    <div class="panel-body">
        {% if ecount > 0 %}
            <h3>Experience</h3>
            {% for x in exp %}
                <table class="resume-table">
                    <tr>
                        <th>Title:</th>
                        <td>{{ x.title }}</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td>
                            {{ x.start }} to {% if x.is_current %}Current{% else %}{{ x.end }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ x.experience_type }}</td>
                    </tr>
                </table>
                <label>Description:</label>
                <p>{{ x.description | linebreaksbr}}</p>
                <hr/>
            {% endfor %}
        {% endif %}
        {% if scount > 0 %}
            <h3>Education:</h3>
            <table class="table">
                <tr>
                    <th>School Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Level</th>
                    <th>Program</th>
                </tr>
                {% for x in schools %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.start }}</td>
                        <td>{% if x.is_current %}Current{% else %}{{ x.end }}{% endif %}</td>
                        <td>{{ x.level }}</td>
                        <td>{{ x.program }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if acount > 0 %}
            <h3>Awards:</h3>
            {% for x in aws %}
                <table class="resume-table">
                    <tr>
                        <th>Title:</th>
                        <td>{{ x.title }}</td>
                    </tr>
                    <tr>
                        <th>Date Received:</th>
                        <td>{{ x.date }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ x.award_type }}</td>
                    </tr>
                </table>
                <label>Description:</label>
                <p>{{ x.description | linebreaksbr}}</p>
                <hr/>
            {% endfor %}
        {% endif %}
        {% if lcount > 0 %}
            <h3>Languages:</h3>
            <table class="table">
                <tr>
                    <th>Language</th>
                    <th>Proficiency</th>
                </tr>
                {% for x in lan %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.level }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if kcount > 0 %}
            <h3>Skills:</h3>
            <table class="table">
                <tr>
                    <th>Skill</th>
                    <th>Proficiency</th>
                </tr>
                {% for x in skills %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.level }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <hr/>
        <div class="container" style="width: inherit">
            <button type="button" class="warning-open btn danger-btn">Discard Applicant</button>
            <a href="{% url 'post:app_pdf' ak=app.pk %}" class="btn regular-btn">Download PDF Resume</a>
            {% if app.cover_requested %}
                <div class="alert warning-message margined">
                    A cover letter request was already sent to this applicant.
                </div>
            {% else %}
                <button id="clBtn" type="button"  class="btn btn-default submit-btn">Request Cover Letter</button>
            {% endif %}
            <div class="warning alert alert-warning hidden">
                <h4>Are you sure you want to discard this applicant?</h4>
                <hr/>
                <p>This will permanently remove him from the list of applicants and cancel his application.</p>
                <button class="warning-close btn btn-default regular-btn" type="button">Cancel</button>
                <button id="dBtn" type="button" class="btn btn-default danger-btn">Discard Applicant</button>
            </div>
        </div>
    </div>

    <script>
        $(function(){
           $('body').on('click', '#dBtn')
        });
    </script>
</div>