{% extends 'company/company_base.html' %}

{% block title %}Post Details{% endblock %}

{% block postactive %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3>{{ post.title }}</h3>
            <hr/>
            <label>Start Date: </label><span> {{ post.start_date }}</span><br/>
            <label>End Date: </label><span> {{ post.end_date }}</span><br/>
            <label>Application Deadline: </label><span> {{ post.deadline }}</span><br/>
            <label>Wage: </label><span> {{ post.wage }}</span><br/>
            <label>Openings: </label><span> {{ post.openings }}</span><br/>
            <label>Description: </label><p>{{ post.description }}</p>
            <label>Requirements: </label><p>{{ post.requirements }}</p>
            <label>Schools: </label><p>{{ post.schools }}</p>
            <label>Programs: </label><p>{{ post.programs }}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 style="text-align: center;color: white">Applicants</h4>
                </div>
                <div class="panel-body">
                    <a class="btn btn-default col-md-12" style="margin-bottom: 10px;"
                       href="{% url 'post:applicants' pk=post.pk%}">View Post Applicants</a>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>School</th>
                            <th>Date Applied</th>
                        </tr>
                        {% for x in applicants %}
                            <tr>
                                <td>{{ x.fname }} {{ x.lname }}</td>
                                <td>{{ x.school }}</td>
                                <td>{{ x.date_applied }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="{% url 'post:companyposts' %}">Back to list</a>
{% endblock %}