{% extends 'company/base.html' %}

{% block title %}Post List{% endblock %}

{% block page_body_class %}posts{% endblock %}

{% block page_title_div %}
    <div class="pagetitle posts">
        <h1>Posts</h1>
    </div>
{% endblock %}

{% load staticfiles %}
{% block scripts %}
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
		<div class="newpostdiv">
			<a href="{% url 'post:new' %}" class="new-post">
              <button class="btn btn-primary">New Post</button>
            </a>
		</div>
        <div class="panel-heading active-posts">
            <h4 class="text-center">Active Posts</h4>
        </div>
        <div class="panel-body">
            {% if posts %}
                <table class="table table-hover">
                    <tr>
                        <th>Title</th>
                        <th>Wage</th>
                        <th>Number of positions</th>
                        <th>Start Date</th>
                        <th>Application Deadline</th>
                        <th>View Count</th>
						<th></th>
						<th></th>
                    </tr>
                    {% for p in posts %}
                        <tr class="{% if p.new_apps %}new-applications{% elif p.notified %}notified{% endif %}">
                            <td>
                                <a href="{% url 'post:company_post' p.pk %}" class="post-title">
                                    {{ p.title }}
                                </a>
                            </td>
                            <td>{% if p.wage %}${{ p.wage }}/{{ p.wage_interval }}{% else %}N/A{% endif %}</td>
                            <td>{% if p.openings %}{{ p.openings }}{% else %}N/A{% endif %}</td>
                            <td>{{ p.start_date }}</td>
                            <td>{{ p.deadline }}</td>
                            <td>{{ p.views }}</td>
                            <td><a href="{% url 'post:applicants' p.pk %}">Applicants</a></td>
                            <td><a href="{% url 'post:edit' p.pk %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="8">
                            <span>Page: </span>
                            {% for x in posts.paginator.page_range %}
                                {% if x == posts.number %}
                                    <strong><span>{{ x }} </span></strong>
                                {% else %}
                                    <a href="?pp={{ x }}&xp={{ expired_posts.number }}">{{ x }}</a>
                                {% endif %}|
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            {% else %}
                <div class="alert alert-info">
                    You currently don't have any posts.
                    <strong>
                        <a class="alert-link" href="{% url 'post:new' %}">Create a post</a>
                    </strong>
                    to get started.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default primary-panel">
        <div class="panel-heading expired-posts">
            <h4 class="text-center">Expired Posts</h4>
        </div>
        <div class="panel-body">
            {% if not expired_posts and not posts %}
                <div class="alert alert-info">
                    You currently don't have any posts.
                    <a class="alert-link" href="{% url 'post:new' %}">Create a post</a>
                    to get started.
                </div>
            {% elif expired_posts %}
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Wage</th>
                        <th>Number of positions</th>
                        <th>Start Date</th>
                        <th>Application Deadline</th>
                        <th></th>
                    </tr>
                    {% for p in expired_posts %}
                        <tr  class="{% if p.new_apps %}new-applications{% elif p.notified %}notified{% endif %}">
                            <td>
                                <a href="{% url 'post:company_post' p.pk %}" class="post-title">
                                    {{ p.title }}
                                </a>
                            </td>
                            <td>
                                {% if p.wage %}{{ p.wage }}{% if not p.wage_interval == 'single' %}/{{ p.wage_interval }}{% endif %}{% endif %}
                            </td>
                            <td>{% if p.openings %}{{ p.openings }}{% else %}N/A{% endif %}</td>
                            <td>{{ p.start_date }}</td>
                            <td>{{ p.deadline }}</td>
                            <td><a href="{% url 'post:applicants' pk=p.pk %}">Applicants</a> | <a href="{% url 'post:recover' p.pk %}">Reactivate</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6">
                            <span>Page: </span>
                            {% for x in expired_posts.paginator.page_range %}
                                {% if x == expired_posts.number %}
                                    <strong><span>{{ x }} </span></strong>
                                {% else %}
                                    <a href="?pp={{ posts.number }}&xp={{ x }}">{{ x }}</a>
                                {% endif %}|
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            {% else %}
                <div class="alert alert-info">
                    You don't have any expired posts.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block walkthroughs %}
    {% include 'company/walkthrough/posts.html' %}
{% endblock %}
