{% extends 'company/base.html' %}

{% block page_body_class %}posts post-details{% endblock %}

{% block page_title_div %}
    <div class="pagetitle posts post-details">
        <h1>Post Details</h1>
    </div>
{% endblock %}


{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4>{{ post.title }}</h4>
        </div>
        <div class="panel-body">
            <div>
                <label>Post Status:</label><span> {{ post.status }}</span>
            </div>
            <label>Post Type: </label><span> {{ post.type }}</span><br/>
            <label>Start Date: </label><span> {{ post.start_date }}</span><br/>
            <label>End Date: </label><span> {{ post.end_date }}</span><br/>
            <label>Application Deadline: </label><span> {{ post.deadline }}</span><br/>
            <label>Wage: </label><span> {% if post.wage %}${{ post.wage }}/{{ post.wage_interval }}{% else %}N/A{% endif %}</span><br/>
            <label>Openings: </label><span> {{ post.openings }}</span><br/>
            <label>Why Us:</label>
            <p>{% if post.why_us %}{{ post.why_us | linebreaksbr }}{% else %}N/A{% endif %}</p>
            <label>Responsibilities: </label>
            <p class="formatted-text">{{ post.responsibilities| linebreaksbr }}</p>
            <label>Qualifications: </label>
            <p>{{ post.qualifications | linebreaksbr }}</p>
            <label>Benefits:</label>
            <p>{% if post.benefits %}{{ post.benefits | linebreaksbr }}{% else %}N/A{% endif %}</p>
            {% if post.cover_instructions %}
                <label>Cover Letter Instructions:</label>
                <p>{{ post.cover_instructions }}</p>
            {% endif %}
            <label>Programs: </label>
            <p>{{ post.programs }}</p>
            <label>Transcript Required:</label><span> {% if post.transcript %}True{% else %}False{% endif %}</span><br/>
            {% if post.status == 'open' %}
                <a href="#" class="btn btn-default warning-open" data-name="{{ post.title }}"
                   data-url="{% url 'post:close' pk=post.id %}" data-id="close-post" data-redirect="{% url 'post:company_posts' %}">
                    Close Post
                </a>
            {% elif post.status == 'closed' %}
                <a href="#" class="btn btn-warning warning-open" data-name="{{ post.title }}"
                   data-url="{% url 'post:recover' pk=post.id %}" data-id="open-post" data-redirect="{% url 'post:company_posts' %}">
                    <strong>Re-Open Post</strong>
                </a>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post:company_posts' %}">Back to list</a>
            <a class="btn btn-default" href="{% url 'post:edit' pk=post.id %}">Edit</a>
        </div>
    </div>
{% endblock %}


{% block hidden_block %}
    <div id="warning-close-post">
        <p class="message">
            Are you sure you want to close <u><span class="name"></span></u> post?
        </p>
        <p class="note">
            This will close this post and close all remaining applications.
            <br/>
            <b>Note:</b> posts are closed automatically when the start date is reached.
        </p>
    </div>
    <div id="warning-open-post">
        <p class="message">
            Are you sure you want to re-activate <u><span class="name"></span></u> post?
        </p>
        <p class="note">
            This will make the post visible to applicants again and bring back all the old
            applications that you had not discarded.
            <br/>
            <b>Note:</b> All resumes will be up to date even on old applications, you will
            also be able to request a new cover letter.
        </p>
    </div>
{% endblock %}





