{% extends 'company/base.html' %}

{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'post/company_post_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'post/applicants_filters.js' %}"></script>
{% endblock %}

{% block title %}Post Applicants{% endblock %}

{% block page_body_class %}posts post-applicants{% endblock %}

{% block page_title_div %}
    <div class="pagetitle post-applicants">
        <h1>Post Applicants</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="">
        <div class="panel panel-default primary-panel">
            <div class="panel-heading post-apps">
                <h3 class="text-center">{{ post.title }} Applicants ({{ count }}):</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default secondary-panel">
                    <div class="panel-heading app-filters">
                        <h4 class="text-center">Filters</h4>
                    </div>
                    <div class="panel-body">
                        <form id="filter-form" action="{% url 'post:applicants' pk=post.id %}" method="post">
                            {% csrf_token %}
                            <div class="delete-non-filtered hidden">
                                <strong>
                                    If you opt not to keep applicants outside of the filter, all the applications
                                    that do not meet the filter criteria will be closed permanently.
                                </strong>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 school_filter_group">
                                    <div class="form-group">
                                        <label for="school_filter">School Filter:</label>
                                        <input type="hidden" id="school_filter" name="filter_schools"
                                               value="{{ filters.schools }}">
                                        <input class="form-control school-search-in"
                                               type="text" title="" placeholder="School name...">
                                        <div class="school-search-results hidden">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gpa_filter_group">
                                    <div class="form-group">
                                        <label for="gpa_filter">
                                            GPA Filter:
                                            <a href="#" title="GPA Filter" data-toggle="popover" data-trigger="focus"
                                            data-content="Setting the GPA filter will return any applicants with a GPA greater
                                            than or equal to the specified value." class="gpa-filter-explained">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </label>
                                        <br/>
                                        <input class="form-control" id="gpa_filter" type="text" name="filter_gpa"
                                               value="{{ filters.gpa }}">
										<span class="gpa-error hidden">
                                            GPA value must be a number between 0 and 4.0
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4 majors_filter_group">
                                    <div class="form-group">
                                        <label for="major-select">Majors Filter:</label>
                                        <input type="hidden" id="major_filter" name="filter_majors"
                                               value="{{ filters.majors }}">
                                        <select id="major-select" class="form-control">
                                            {% if majors %}
                                                <option value="">Select a major</option>
                                            {% else %}
                                                <option value="">No majors available</option>
                                            {% endif %}
                                            {% for x in majors %}
                                                <option value="{{ x.name }}">{{ x.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>
                                            Keep applications outside filter?
                                        </label>
                                        <br/>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_keep" id="filter_keep_true"
                                                   checked="checked"
                                                   value="True">
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter_keep" id="filter_keep_false" value="False">
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                    <label>
                                        Only show saved applications?
                                    </label>
                                    <br/>
                                    <label class="radio-inline">
                                        <input type="radio" name="filter_saved" id="filter_saved_true"
                                               value="True"
                                                {% if filters.saved %}checked="checked"{% endif %}>
                                        Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="filter_saved" id="filter_saved_false"
                                               value="False"
                                               {% if not filters.saved %}checked="checked"{% endif %}>
                                        No
                                    </label>
                                </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="apply-filter-button">
                                        <button class="apply-filter filter-button" type="submit">Apply Filter</button>
									</div>
									<div class="clear-filter-button">
                                        <a href="{% url 'post:applicants' pk=post.id %}"
                                           class="clear-filter filter-button">
                                            Clear Filter
                                        </a>
									</div>
                                </div>
                            </div>
                        </form>
                        <div class="filters-div">
                            <div>
                                <h4 class="text-center">Current Filters</h4>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="sub-filter-div school-filters">
                                        <label>Schools</label>
                                        <div class="school-filters-container">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="sub-filter-div major-filters">
                                        <label>Majors</label>
                                        <div class="major-filters-container">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="sub-filter-div gpa-filters">
                                        <label>GPA</label>
                                        <span class="gpa-filter-val"></span>
                                    </div>
                                    <div class="sub-filter-div saved-filters">
                                        <label>Only Saved Applications</label>
                                        <span class="only-saved-val"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table app-list">
                    <tr>
                        <th>Name</th>
                        <th>School</th>
                        <th>Program</th>
                        <th>Major</th>
                        <th>Date Applied</th>
                        <th></th>
                    </tr>
                    {% if applications %}
                        {% for x in applications %}
                            <tr {% if x.resume_notified %}
                                class="app-resume-updated"
                            {% elif x.cover_opened %}
                                class="app-cover-read"
                            {% elif x.cover_submitted %}
                                class="app-cover-submitted"
                            {% elif x.cover_requested %}
                                class="app-cover-requested"
                                {% elif not x.opened %}
                                class="new-app"
                                {% endif %}>
                                <td>
                                    <a href="#" data-url="{% url 'post:applicant' pk=post.pk ak=x.pk %}"
                                       class="to-single-view">
                                        {{ x.student.name }}
                                    </a>
                                </td>
                                <td>{% if x.student.school %}{{ x.student.school }}{% else %}<i class="fa fa-exclamation-circle"></i> Not Verified{% endif %}</td>
                                <td>{{ x.student.program }}</td>
                                <td>{{ x.student.major }}</td>
                                <td>{{ x.date }}</td>
                                <td>

                                    {% if x.saved %}
                                        <span class="remove-save" data-url="{% url 'post:remove_save' pk=x.id %}">
                                            <span class="glyphicon glyphicon-check text-success"></span> Saved
                                        </span> |
                                    {% else %} <span class="save-btn" data-url="{% url 'post:save' pk=x.id %}">Save</span> |{% endif %}
                                    <a href="#" class="warning-open" data-id="close-app" data-name="{{ x.student.name }}"
                                       data-url="{% url 'post:discard' pk=x.id %}">
                                        Discard
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6">
                                <span>Page: </span>
                                {% for x in applications.paginator.page_range %}
                                    {% if x == applications.number %}
                                        <strong><span>{{ x }} </span></strong>
                                    {% else %}
                                        <a href="?page={{ x }}">{{ x }}</a>
                                    {% endif %}|
                                {% endfor %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" style="text-align: left">
                                <span>No applications have been received for this post.</span>
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div>
                    <a href="{% url 'post:company_posts' %}" class="btn btn-default">Back to List</a>
                    <a href="{% url 'post:company_post' pk=post.pk %}" class="btn btn-default">Back to Post Details</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('[data-toggle="popover"]').popover();
            $('.gpa-filter-explained').click(function ( event ) {
                event.preventDefault();
            });
        });
    </script>
{% endblock %}


{% block hidden_block %}
    <div id="warning-close-app">
        <p class="message">
            Are you sure you want to discard candidate <span class="name"></span>'s application?
        </p>
        <p class="note">
            This will permanently remove him/her from the list of applicants and cancel his/her application.
        </p>
    </div>

    <div class="jobin-schools">
        {% for x in schools %}
            <div>
                {{ x.name }}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block walkthroughs %}
    {% include 'company/walkthrough/applications.html' %}
{% endblock %}


