{% extends 'company/company_base.html' %}

{% block title %}Post Applicants{% endblock %}

{% block postactive %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center;">Filters</h4>
                </div>
                <div class="panel-body">
                    <form id="filter-form" class="form form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5>Schools:</h5>
                        <div class="sdiv">
                            {% for x in schools %}
                                <input class="school-val" type="checkbox" name="{{ x.name }}" value="{{ x.name }}">
                                <span> - {{ x.name }}</span><br/>
                            {% endfor %}
                        </div>
                        <h5>Majors:</h5>
                        <div class="mdiv">
                            {% for x in majors %}
                                <input class="major-val" type="checkbox" name="{{ x.name }}" value="{{ x.name }}">
                                <span> - {{ x.name }}</span><br/>
                            {% endfor %}
                        </div>
                        <input id="school-input" style="display: none;" name="schools" value="">
                        <input id="major-input" style="display: none;" name="majors" value="">
                        <input style="margin-top:10px;" type="checkbox" name="keep" checked/>
                        <span>Keep applications that are not in filtered values.</span><br/>
                        <a href="{% url 'post:applicants' pk=post.pk %}" class="btn btn-default">Remove Filter</a>
                        <button class="btn btn-default" type="submit">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <a href="{% url 'post:applicant' pk=post.pk%}" class="btn btn-default col-md-12" style="margin-bottom:20px;">Single Applicant View</a>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>School</th>
                    <th>Program</th>
                    <th>Date Applied</th>
                    <th></th>
                </tr>
                {% for x in list %}
                    <tr {% if x.cover_submitted %}style="background-color: #c2f9ce"{% endif %}>
                        <td><a href="{% url 'post:applicantdetails' pk=x.pk%}">{{ x.fname }} {{ x.lname }}</a></td>
                        <td>{{ x.school }}</td>
                        <td>{{ x.program }}</td>
                        <td>{{ x.date_applied }}</td>
                        <td><a href="{% url 'post:discard' pk=post.pk ak=x.pk %}">Discard</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 style="text-align: center;">Post Information</h4>
                </div>
                <div class="panel-body">
                    <label>Title</label><span> {{ post.title }}</span><br/>
                    <label>Start Date</label><span> {{ post.start_date }}</span><br/>
                    <label>End Date</label><span> {{ post.end_date }}</span><br/>
                    <label>Openings</label><span> {{ post.openings }}</span><br/>
                    <label>Wage</label><span> {{ post.wage }}</span>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'post:companypost' pk=post.pk %}" class="btn btn-default">Back to post</a>

    <script>
        $(function(){
           $("#filter-form").submit(function(){
               var schools = "";
               var majors = "";
               $(".sdiv").children("input:checked").each(function(){
                  schools = schools + this.value + ",";
               });
               $(".mdiv").children("input:checked").each(function(){
                  majors = majors + this.value + ",";
               });
               $("#school-input").val(schools.substring(0,schools.length-1));
               $("#major-input").val(majors.substring(0,majors.length-1));
           });
        });
    </script>
{% endblock %}