{% extends 'company/company_base.html' %}

{% block title %}Post Applicants{% endblock %}

{% block postactive %}active{% endblock %}

{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'post/single_applicant_nav.js' %}"></script>
{% endblock %}


{% block side_content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h3 class="text-center">Student</h3>
        </div>
        <div class="panel-body" style="word-wrap: break-word;">
            <label>Name:</label><span> {{ app.fname }} {{ app.lname }}</span><br/>
            <label>Email:</label><span> {{ app.email }}</span><br/>
            <label>Phone:</label><span> {{ app.phone }}</span><br/>
            <label>Address:</label><span> {{ app.address }}</span><br/>
            <label>School:</label><span> {{ app.school }}</span><br/>
            <label>Program:</label><span> {{ app.program }}</span><br/>
            <label>Major:</label><span> {{ app.major }}</span><br/>
            <label>GPA:</label><span> {{ app.gpa }}</span>
        </div>
    </div>
    {% include 'company/post_info.html' %}
{% endblock %}

{% block content %}
    <form id="hiddenform" style="display:none;" action="{% url 'post:applicant' pk=post.pk ak=0 %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="keep" type="hidden" name="keep" value="True"/>
        <input id="page" type="hidden" name="page" value="{{ page }}"/>
        <input id="cover" type="hidden" name="cover" value="False"/>

        <input id="schools" type="hidden" name="schools" value="{{ school_val }}">
        <input id="majors" type="hidden" name="majors" value="{{ major_val }}">
        <input type="hidden" name="gpa_filter" value="{{ gpa_val }}">
    </form>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="#" data-url="{% url 'post:applicants' pk=post.pk %}"
               class="btn applicant-view-btn multiple-app-view" style="border-right: none;">
                Multiple Applicants View
            </a>
        </div>
        <div class="btn-group">
            <button class="btn applicant-view-btn active-applicant-view-btn" style="border-left: none;">
                Single Applicant View
            </button>
        </div>
    </div>
    <div class="row margined">
        <div class="col-md-6">
            <button id="prevBtn" type="button" class="btn move-btn btn-block">
                <span class="glyphicon glyphicon-arrow-left" style="float:left"></span>
                Previous Applicant
            </button>
        </div>
        <div class="col-md-6">
            <button id="nBtn" type="button" class="btn move-btn btn-block">
                Next Applicant
                <span class="glyphicon glyphicon-arrow-right" style="float:right"></span>
            </button>
        </div>
    </div>

    {% include 'post/applicant_info.html' %}
    <script>
        $(function(){

            $("#prevBtn").click(function(){
                var page = $("#page");
                page.val(parseInt(page.val()) - 1);
                $("#hiddenform").submit();
            });

            $("#nBtn").click(function(){
                var page = $("#page");
                page.val(parseInt(page.val()) + 1);
                $("#hiddenform").submit();
            });

            $('body').on('click', '#dBtn', function(){
                $("#keep").val("Delete");
                $("#hiddenform").submit();
            });

            $("#clBtn").click(function(){
                $("#cover").val("True");
                $("#hiddenform").submit();
            });

            $('#hiddenform').submit(function(){
                var schools = $('#schools');
                var majors = $('#majors');

                schools.val(schools.val().substring(0,schools.val().length-1));
                majors.val(majors.val().substring(0,majors.val().length-1));
            });

        });
    </script>

    <div class="hidden">
        <form id="multiple-view-form" method="post" action="{% url 'post:applicants' pk=post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="page" value="0">
            <input type="hidden" name="keep" value="True">

            <input id="multi-schools" type="hidden" name="schools" value="{{ school_val }}">
            <input id="multi-majors" type="hidden" name="majors" value="{{ major_val }}">
            <input type="hidden" name="gpa_filter" value="{{ gpa_val }}">
        </form>
    </div>
{% endblock %}