{% extends 'company/base.html' %}

{% block title %}Post Applicants{% endblock %}

{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'post/company_post_util.js' %}"></script>
{% endblock %}

{% block page_body_class %}posts post-applicant{% endblock %}

{% block page_title_div %}
    <div class="pagetitle post-applicant">
        <h1>Post Applicant</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div>
                <button data-url="{% url 'post:applicants' pk=post.id %}"
                        class="btn btn-default btn-block to-multiple-view">
                    Multiple Applicants View
                </button>
            </div>
            <div class="panel panel-default secondary-panel">
                <div class="panel-heading">
                    <h4 class="text-center">Student</h4>
                </div>
                <div class="panel-body" style="word-wrap: break-word;">
                    <h2> {{ app.name }}</h2><br/>
                    <label>Email:</label><span> {{ app.email }}</span><br/>
                    <label>Phone:</label><span> {{ app.phone }}</span><br/>
                    <label>Address:</label><span> {{ app.address }}</span><br/>
                    <label>School:</label>{% if app.school %}<span> {{ app.school }}</span>{% else %}
                    <span class="app-school-not-verified"><i
                            class="fa fa-exclamation-circle"></i> Not Verified</span>{% endif %}<br/>
                    <label>Program:</label><span> {{ app.program }}</span><br/>
                    <label>Major:</label><span> {{ app.major }}</span><br/>
                    <label>GPA:</label><span> {{ app.gpa }}</span>
                </div>
            </div>
            <div class="panel panel-default secondary-panel filters-side-panel {% if not filters %}hidden{% endif %}">
                <div class="panel-heading">
                    <h4 class="text-center">Filters</h4>
                </div>
                <div class="panel-body">
                    <div class="display-school-filter">
                        <div>
                            <span><strong>Schools:</strong></span>
                            {% for x in filter_schools %}
                                {% if x %}
                                    <div class="display-filter-value">
                                        <span class="val">{{ x }}</span>
                                        {% if applicants %}
                                            <span class="remove-display-filter right school pointer">&times;</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="display-major-filter">
                        <div>
                            <span><strong>Majors:</strong></span>
                            {% for x in filter_majors %}
                                {% if x %}
                                    <div class="display-filter-value">
                                        <span class="val">{{ x }}</span>
                                        {% if applicants %}
                                            <span class="remove-display-filter right major pointer">&times;</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="display-gpa-filter">
                        <div>
                            <span><strong>GPA:</strong></span>
                            <div>
                                <span class="gpa-filter-val">
                                    {{ filters.gpa }}
                                </span>
                                <span class="remove-gpa-filter right pointer {% if not filters.gpa %}hidden{% endif %}">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="display-saved-filter {% if not filters.saved %}hidden{% endif %}">
                        <strong><span>Only saved applications.</span></strong>
                        {% if applicants %}
                            <span class="remove-saved-only right pointer">&times;</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default secondary-panel">
                <div class="panel-heading">
                    <h4 class="text-center">Post Information</h4>
                </div>
                <div class="panel-body">
                    <label>Title:</label><span> {{ post.title }}</span><br/>
                    <label>Deadline:</label><span> {{ post.deadline }}</span><br/>
                    <label>Start Date:</label><span> {{ post.start_date }}</span><br/>
                    <label>End Date:</label><span> {{ post.end_date }}</span><br/>
                    <label>Openings:</label><span> {{ post.openings }}</span><br/>
                    <label>Wage:</label><span> ${{ post.wage }}/{{ post.wage_interval }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-default btn-block single-prev"
                            data-url="{% url 'post:applicant' pk=post.id ak=prev_app %}">
                        <span class="glyphicon glyphicon-arrow-left left"></span>
                        Previous Applicant
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default btn-block single-next"
                            data-url="{% url 'post:applicant' pk=post.id ak=next_app %}">
                        <span class="glyphicon glyphicon-arrow-right right"></span>
                        Next Applicant
                    </button>
                </div>
            </div>

            <div>
                {% if app.cover %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Cover Letter</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ app.cover | linebreaksbr }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if app.transcript %}
                    <h3>Student Transcript</h3>
                    <div>
                        <a href="{{ app.transcript.url }}" target="_blank">Click Here</a> to
                        view {{ app.name }}'s transcript.
                    </div>
                {% endif %}
                {% if app.resume.experience %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Experience</h4>
                        </div>
                        <div class="panel-body">
                            {% for x in app.resume.experience %}
                                <div>
                                    <div>
                                        <label>Title:</label>
                                        <span class="label-information capital">{{ x.title }}</span>
                                        <br/>
                                        <label>Duration:</label>
                                        <span class="label-information">
                                        {{ x.start }} to {% if x.is_current %}Current{% else %}{{ x.end }}{% endif %}
                                    </span>
                                        <br/>
                                        <label>Type:</label>
                                        <span class="label-information capital">{{ x.experience_type }}</span>
                                    </div>
                                    <label>Description:</label>
                                    <p>{{ x.description | linebreaksbr }}</p>
                                    <hr/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if app.resume.schools %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Education:</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>School Name</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Level</th>
                                    <th>Program</th>
                                </tr>
                                {% for x in app.resume.schools %}
                                    <tr>
                                        <td class="capital">{{ x.name }}</td>
                                        <td>{{ x.start }}</td>
                                        <td>{% if x.is_current %}Current{% else %}{{ x.end }}{% endif %}</td>
                                        <td class="capital">{{ x.level }}</td>
                                        <td class="capital">{% if x.program %}{{ x.program }}{% else %}N/A{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if app.resume.awards %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Awards:</h4>
                        </div>
                        <div class="panel-body">
                            {% for x in app.resume.awards %}
                                <div>
                                    <div>
                                        <label>Title:</label><span
                                            class="label-information capital"> {{ x.title }}</span><br/>
                                        <label>Date Received:</label><span
                                            class="label-information"> {{ x.date }}</span><br/>
                                        <label>Type:</label><span
                                            class="label-information capital"> {{ x.award_type }}</span>
                                    </div>
                                    <label>Description:</label>
                                    <p>{{ x.description | linebreaksbr }}</p>
                                    <hr/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if app.resume.languages %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Languages:</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>Language</th>
                                    <th>Proficiency</th>
                                </tr>
                                {% for x in app.resume.languages %}
                                    <tr>
                                        <td class="capital">{{ x.name }}</td>
                                        <td class="capital">{{ x.level }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if app.resume.skills %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>Skills:</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>Skill</th>
                                    <th>Proficiency</th>
                                    <th>Description</th>
                                </tr>
                                {% for x in app.resume.skills %}
                                    <tr>
                                        <td class="capital">{{ x.name }}</td>
                                        <td class="capital">{{ x.level }}</td>
                                        <td>{{ x.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if app.resume.references %}
                    <div class="panel panel-default primary-panel">
                        <div class="panel-heading">
                            <h4>References:</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Affiliation</th>
                                    <th>Email</th>
                                </tr>
                                {% for x in app.resume.references %}
                                    <tr>
                                        <td class="capital">{{ x.name }}</td>
                                        <td class="capital">{{ x.affiliation }}</td>
                                        <td>{{ x.email }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                <hr/>
                <div>
                    {% if app.saved %}
                        <button class="btn btn-warning remove-save"
                                data-url="{% url 'post:remove_save' pk=app.id %}">
                            Remove from saved
                        </button>
                    {% else %}
                        <button class="btn btn-info save-btn" data-url="{% url 'post:save' pk=app.id %}">
                            Save Application
                        </button>
                    {% endif %}
                    {% if app.cover_requested %}
                        <button disabled class="btn btn-default-info">
                            Cover already requested
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-info request-cover"
                                data-url="{% url 'post:request_cover' pk=app.id %}">
                            Request Cover Letter
                        </button>
                    {% endif %}
                    <a href="{% url 'post:app_pdf' ak=app.id %}" class="btn btn-default">
                        Download PDF Resume
                    </a>
                    <button type="button" class="discard-single-applicant btn btn-danger"
                            data-name="{{ app.name }}" data-url="{% url 'post:discard' pk=app.id %}">
                        Discard Applicant
                    </button>
                </div>


                <div id="discard-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    Warning!
                                </h4>
                            </div>
                            <div class="modal-body">
                                <h4 class="warning-message">
                                    Are you sure you want to discard applicant:
                                    <span class="name"></span>?
                                </h4>
                                <p class="warning-note">
                                    <strong>Note: </strong><span> This application will be discarded permanently.</span>
                                </p>
                                <div>
                                    <button class="btn btn-default" data-dismiss="modal" type="button">
                                        Cancel
                                    </button>
                                    <button class="btn btn-warning discard-accepted" type="button">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block hidden_block %}
    <form id="filter-form" action="{% url 'post:applicant' pk=post.id ak=app.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="school_filter" name="filter_schools" value="{{ filters.schools }}">
        <input id="gpa_filter" type="hidden" name="filter_gpa" value="{{ filters.gpa }}">
        <input type="hidden" id="major_filter" name="filter_majors" value="{{ filters.majors }}">
        <input type="hidden" id="filter_saved" name="filter_saved" value="{{ filters.saved }}">
        <input type="hidden" name="filter_keep" value="True">
    </form>

    <div id="warning-close-app">
        <p class="message">
            Are you sure you want to discard candidate <span class="name"></span>'s application?
        </p>
        <p class="note">
            This will permanently remove him/her from the list of applicants and cancel his/her application.
        </p>
    </div>
{% endblock %}
