{% extends 'company/company_base.html' %}

{% block title %}New post{% endblock %}

{% block postactive %}active{% endblock %}

{% block side_content %}
    {% include 'company/company_info.html' %}
{% endblock %}

{% block content %}
    <div class="panel panel-default primary-panel">
        <div class="panel-heading">
            <h4>Post Information Form</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'post/form_template.html' %}
                <a class="btn regular-btn" href="{% url 'post:companyposts' %}">Cancel</a>
                <button class="btn submit-btn" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}