<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Wage</th>
            <th>Openings</th>
            <th>Start Date</th>
            <th>Application Deadline</th>
            <th></th>
            <th><a href="{% url 'post:new' %}"><button class="btn new-btn">New Post</button></a></th>
        </tr>
    </thead>
    <tbody>
    {% for p in posts %}
        <tr {% if p.notified %}style="background-color: #c2f9ce"
            {% elif p.new_apps %}style="background-color: #c9f3fc;"
            {% endif %}>
            <td>
                <a href="{% url 'post:companypost' p.pk %}">
                    {{ p.title }}
                </a>
            </td>
            <td>{{ p.wage }}</td>
            <td>{{ p.openings }}</td>
            <td>{{ p.start_date }}</td>
            <td>{{ p.deadline }}</td>
            <td><a href="{% url 'post:applicants' p.pk %}">Applicants</a></td>
            <td><a href="{% url 'post:update' p.pk %}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>