{% extends 'student/base.html' %}

{% block page_body_class %}posts post-details{% endblock %}

{% block page_title_div %}
    <div class="pagetitle posts post-details">
        <h1>Post Details</h1>
    </div>
{% endblock %}

{% block messages %}
    {% if application.cover_submitted %}
        <div class="w3-container message-success">
            <p>Your cover letter for this post was successfully submitted.</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if application.cover_requested and not application.cover_submitted %}
            <div class="w3-container message-info">
                <p>
                    A cover letter was requested for this application! Submit your cover letter using the form below.
                    Good luck!
                </p>
            </div>
            <div>
                <div>
                    <h4>Insert your cover letter here:</h4>
                </div>
                {% if post.cover_instructions %}
                    <div class=" w3-container">
                        <h5>Cover letter instructions:</h5>
                        <p>
                            {{ post.cover_instructions | linebreaksbr }}
                        </p>
                    </div>
                {% endif %}
                <form id="coverForm" action="{% url 'post:submit_cover' pk=application.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea rows="10" class="w3-input w3-border" name="cover"
                              placeholder="Cover Letter Here..."></textarea>
                    <div class="w3-padding-16">
                        <button class="w3-btn btn-success" type="submit">
                            Submit Cover Letter
                        </button>
                    </div>
                    <script>
                        $(function () {
                            $('#coverForm').submit(function (event) {
                                event.preventDefault();
                                send_post($(this).attr('action'), $(this));
                            });
                        });
                    </script>
                </form>
            </div>
        {% endif %}
        {% if application.cover_submitted %}
            <div>
                <h4>Cover Letter:</h4>
            </div>
            <p>
                {{ application.cover | linebreaksbr }}
            </p>
        {% endif %}
        <div>
            <div class="w3-container">
                <h4>{{ post.title }}</h4>
            </div>
            <div class="w3-container">
                <div class="w3-container">
                    <label><u>Company</u>:</label><span> {{ post.company.name }}</span><br/>
                    <label><u>Address</u>:</label>
                    <span> {{ post.company.address }}, {{ post.company.city }}, {{ post.company.state }}</span><br/>
                    <label><u>Website</u>:</label>
                    <span>
                        {% if post.company.website %}
                            <a target="_blank" href="{{ post.company.website }}">{{ post.company.website }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                    <br/>
                </div>
                <hr/>
                <div class="w3-container">
                    <label>Start Date:</label><span> {{ post.start_date }}</span><br/>
                    {% if post.end_date %}<label>End Date:</label><span> {{ post.end_date }}</span>
                        <br/>{% endif %}
                    <label>Wage:</label><span> {% if post.wage %}{{ post.wage }}$/hr{% else %}
                    N/A{% endif %}</span><br/>
                    <label>Number of positions:</label><span> {% if post.openings %}{{ post.openings }}{% else %}
                    N/A{% endif %}</span><br/>
                    <label>Application Deadline:</label><span> {{ post.deadline }}</span><br/>
                    {% if post.why_us %}
                        <label>Why Us:</label>
                        <p class="string-to-html">{{ post.why_us }}</p>
                    {% endif %}
                    <label>Qualifications:</label>
                    <p class="string-to-html">{{ post.qualifications }}</p>
                    <label>Responsibilities:</label>
                    <p class="string-to-html">{{ post.responsibilities }}</p>
                    {% if post.benefits %}
                        <label>Benefits:</label>
                        <p class="string-to-html">{{ post.benefits }}</p>
                    {% endif %}
                    <div>
                        <a href="{% url 'student:index' %}" class="w3-btn btn-default">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}