{% extends 'student/student_base.html' %}

{% block title %}Post List{% endblock %}

{% block postsactive %}active{% endblock %}

{% block content %}
    <div class="job-nav w3-container" style="padding-bottom: 0;">
        <div class="w3-container title-color" style="padding-bottom: 0;">
            <h3 class="w3-center">({{ count }}) {{ ptype }} Job Posts</h3>
        </div>
        <div class="w3-btn-group w3-light-grey w3-border-top w3-border-black">
            <a href="{% url 'post:studentposts' pk=0 pt='volunteer' %}" class="w3-btn {{ vact }}" style="width:20%;">
                ({{ vcount }}) Volunteer
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='internship' %}" class="w3-btn {{ iact }}" style="width:20%;">
                ({{ icount }}) Internships
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='parttime' %}" class="w3-btn {{ pact }}" style="width:20%;">
                ({{ ptcount }}) Part-Time
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='startup' %}" class="w3-btn {{ sact }}" style="width:20%;">
                ({{ scount }}) Start Up
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='newgrad' %}" class="w3-btn {{ nact }}" style="width:20%;">
                ({{ ngcount }}) New Grad
            </a>
        </div>
        <div class="w3-content w3-container w3-padding-16" style="position:relative">
            {% include 'post/student_post_view.html' %}
            <span style="display: none;" class="post-type">{{ pt }}</span>
            <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:50%;left:0" onclick="plusDivs(-1)">❮</a>
            <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:50%;right:0" onclick="plusDivs(1)">❯</a>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            $('.viewed-post').removeClass('viewed-post');
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex-1].style.display = "block";
            var cp = $(x[slideIndex - 1]);
            cp.addClass('viewed-post');
        }
    </script>

    <script>
        $(function(){
            $(".w3-btn-group a").each(function(){
                $(this).css({"background-color": "#A7ADC6", "color": "black"});
            });

            $(".w3-btn-group .pnb-active").css({"background-color": "#5F4B66", "color": "white"});

            $('html, body').animate({
                scrollTop: $('.job-nav').offset().top
            }, 'slow');
        });
    </script>

{% endblock %}

{% block page_name %}posts{% endblock %}
