{% extends 'student/student_base.html' %}

{% block title %}Post List{% endblock %}

{% block postsactive %}active{% endblock %}

{% block content %}
    <div class="w3-container w3-padding-8">
        <div class="container">
            <h3 class="w3-center">({{ count }}) {{ ptype }} Job Posts</h3>
        </div>
        <div class="w3-btn-group w3-light-grey w3-border w3-border-black" style="margin-bottom: 20px;">
            <a href="{% url 'post:studentposts' pk=0 pt='volunteer' %}" class="w3-btn {{ vact }}" style="width:25%;">
                ({{ vcount }}) Volunteer Jobs
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='internship' %}" class="w3-btn {{ iact }}" style="width:25%;">
                ({{ icount }}) Internships
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='parttime' %}" class="w3-btn {{ pact }}" style="width:25%;">
                ({{ ptcount }}) Part-Time Jobs
            </a>
            <a href="{% url 'post:studentposts' pk=0 pt='newgrad' %}" class="w3-btn {{ nact }}" style="width:25%;">
                ({{ ngcount }}) New Grad Jobs
            </a>
        </div>
        <div class="w3-content w3-container" style="position:relative">
            {% include 'post/student_post_view.html' %}
            <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:50%;left:0" onclick="plusDivs(-1)">❮</a>
            <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:50%;right:0" onclick="plusDivs(1)">❯</a>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          x[slideIndex-1].style.display = "block";
        }
    </script>

    <script>
        $(function(){
            $(".w3-btn-group a").each(function(){
                $(this).css({"background-color": "lightgrey", "color": "black"});
            });

            $(".w3-btn-group .active").css({"background-color": "grey", "color": "white"});
        });
    </script>

{% endblock %}
