{% extends 'student/student_base.html' %}

{% block title %}Post Details{% endblock %}

{% block postsactive %}active{% endblock %}

{% block content %}
    <div class="w3-container">
        {% if app.cover_requested and not app.cover_submitted %}
            <div class="w3-container student-cover-letter-message w3-padding-8">
                <p>
                    A cover letter was requested for this application! Submit your cover letter using the form below.
                    Good luck!
                </p>
            </div>
            <div class="w3-container w3-card-8 student-cover-letter w3-padding-8">
                <header>
                    <h4>Insert your cover letter here:</h4>
                </header>
                {% if post.cover_instructions %}
                    <div class=" w3-container">
                        <h5>Cover letter instructions:</h5>
                        <p>
                            {{ post.cover_instructions | linebreaksbr}}
                        </p>
                    </div>
                {% endif %}
                <form id="coverForm" class="w3-white" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea rows="15" class="w3-input" name="cover" placeholder="Cover Letter Here..."></textarea>
                </form>
                <button form="coverForm" class="w3-btn submit-btn margined" type="submit">Submit Cover Letter</button>
            </div>
        {% endif %}
        {% if app.cover_submitted %}
            <div class="w3-container student-cover-letter-message w3-padding-8">
                <p>Your cover letter for this post was successfully submitted.</p>
            </div>
        {% endif %}
        <div class="w3-container title-color w3-padding-8 w3-text-white"
        {%if app.cover_requested or app.cover_submitted%}
            style="margin-top: 16px;"
        {% endif %}>
            <h4 class="w3-center">{{ post.title }}</h4>
        </div>
        <div class="w3-container w3-card-8 w3-white w3-padding-16">
            <div class="w3-container">
                <label><u>Company</u>:</label><span> {{ comp.name }}</span><br/>
                <label><u>Address</u>:</label>
                <p> {{ comp.address }}, {{ comp.city }}, {{ comp.state }}</p>
                <label><u>Website</u>:</label><span> <a href="{{ comp.website }}">{{ comp.website }}</a></span><br/>
            </div>
            <hr/>
            <div class="w3-container">
                <label><u>Start Date</u>:</label><span> {{ post.start_date }}</span><br/>
                <label><u>End Date</u>:</label><span> {{ post.end_date }}</span><br/>
                <label><u>Wage</u>:</label><span> {{ post.wage }}$/hr</span><br/>
                <label><u>Openings</u>:</label><span> {{ post.openings }}</span><br/>
                <label><u>Appliation Deadline</u>:</label><span> {{ post.deadline }}</span><br/>
                <label><u>Requirements</u>:</label><br/>
                <span>{{ post.requirements | linebreaksbr}}</span><br/>
                <label><u>Description</u>:</label><br/>
                <span>{{ post.description | linebreaksbr}}</span><br/>
                <a href="{% url 'student:index' %}" class="w3-btn regular-btn margined">Back</a>
            </div>
        </div>
    </div>
{% endblock %}