{% for x in list%}
    <div class="w3-display-container mySlides w3-animate-right  w3-white" style="margin: 0 30px 0 30px;">
        <div class="row">
            <div class="w3-col s4" style="min-height:500px">
                <div class="w3-container w3-padding-8 title-color">
                    <h4 class="w3-text-white">Company</h4>
                </div>
                <div class="w3-container">
                    {{ x.logo }}
                    <h5>{{ x.name }}</h5>
                    <label>Address:</label><span> {{ x.address }}</span><br/>
                    <label>Website:</label><a href="{{ x.website }}"> {{ x.website }}</a>
                </div>
                <div class="w3-container title-color">
                    <h6 class="w3-text-white">Resumes</h6>
                </div>
                <table class="w3-table w3-bordered">
                    {% for x in resumes %}
                        <tr>
                            {% if x.is_active %}
                                <td style="background-color: #d0ddd7;">
                                    <strong>{{ x.name }}</strong>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'resume:makeactive' pk=x.pk rq='post' %}">{{ x.name }}</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="w3-col s8">
                <div class="w3-container w3-padding-8 title-color">
                    <h4 class="w3-text-white">Post Information</h4>
                    <span style="display: none;" class="pk">{{ x.pk }}</span>
                </div>
                <div class="slide-container w3-container scrollable">
                    <h5>{{ x.title }}</h5>
                    <label>Start Date:</label><span> {{ x.start_date }}</span><br/>
                    <label>End Date:</label><span> {{ x.end_date }}</span><br/>
                    <label>Wage:</label><span> {{ x.wage }}$/hr</span><br/>
                    <label>Openings:</label><span> {{ x.openings }}</span><br/>
                    <label><strong>Application Deadline:</strong></label><span> {{ x.deadline }}</span><br/>
                    <label><strong>Requirements:</strong></label><br/>
                    <span>{{ x.requirements | linebreaksbr}}</span><br/>
                    <label><strong>Description:</strong></label><br/>
                    <span>{{ x.description | linebreaksbr}}</span>
                </div>
            </div>
        </div>
        <div class="w3-display-topright w3-medium w3-container w3-padding-16">
            {% if not x.applied %}
                <a class="w3-btn apply-btn w3-text-black w3-padding-8 w3-border w3-border-white"
                   href="{% url 'post:apply' pk=x.pk pt=pt %}">Apply for this post</a>
            {% else %}
                <div class="w3-container w3-padding-8 already-applied">
                    Already applied for this post.
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% if count == 0 %}
    <div class="w3-display-container mySlides w3-white" style="margin: 0 30px 0 30px;">
        <div class="w3-card-16" style="padding: 100px;">
            <h3 class="w3-center">
                There are currently no {{ ptype }} opportunities listed.
            </h3>
            <h4 class="w3-center">
                Check back again later.
            </h4>
        </div>
    </div>
{% endif %}