{% extends 'student/student_base.html' %}

{% block title %}Post Details{% endblock %}

{% block postsactive %}active{% endblock %}

{% block content %}
    <div class="w3-container w3-card-8 w3-white">
        <h4 class="w3-center w3-dark-grey w3-padding-8">{{ x.title }}</h4>
        <div class="w3-container">
            <label><u>Start Date</u>:</label><span> {{ x.start_date }}</span><br/>
            <label><u>End Date</u>:</label><span> {{ x.end_date }}</span><br/>
            <label><u>Wage</u>:</label><span> {{ x.wage }}$/hr</span><br/>
            <label><u>Openings</u>:</label><span> {{ x.openings }}</span><br/>
            <label><u>Appliation Deadline</u>:</label><span> {{ x.deadline }}</span><br/>
            <label><u>Description</u>:</label><br/>
            <span>{{ x.description }}</span><br/>
            <label><u>Requirements</u>:</label><br/>
            <span>{{ x.requirements }}</span>
        </div>
    </div>
{% endblock %}