/*
body{
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Catamaran', sans-serif;
    font-weight: 700;
}
*/

.capital{
    text-transform: capitalize;
}

.right{
    float: right;
}

.left{
    float: left;
}

.main-container{
    background-color: #ffffff;
    padding-top: 20px;
}

.walk-container{
    padding: 8px 20px 8px 0;
}

.content-container{
    padding-bottom: 20px;
}

.bg-grey{
    background-color: #f6f6f6;
}

.primary-color{
    background-color: #255c99;
}

.secondary-color{
    background-color: #eeeeee;
}

.jobin-nav{
    border-radius: 0;
    background-color: #255c99;
    border: none;
    margin: 0;
}

.jobin-nav .navbar-nav>li>a{
    border-bottom: 4px solid transparent;
}

.jobin-nav .navbar-nav>li>a, .jobin-nav h2{
    color: #FFFFFF;
}

.navbar-header img{
    max-width: 100px;
}

.navbar-brand{
    padding: 5px 0 0 0;
    margin-right: 10px;
}

.jobin-nav .navbar-nav>li>a:hover, .jobin-nav .navbar-nav>li>a.active{
    color: #efefef;
    border-bottom: 4px solid #FFFFFF;
}

footer{
    padding: 32px;
}

footer a{
    color: #2782be;
}

footer a:hover{
    color: #2782be;
    text-decoration: underline;
}

.required:after{
    content: '*';
}

.padding{
    padding: 8px 0;
}

.padding-1{
    padding: 16px 0;
}

.horizontal-padding{
    padding-left: 16px;
    padding-right: 16px;
}

.btn{
    border-radius: 0;
}

/* PANELS */

.primary-panel{
    border: 1px solid #255c99;
    color: #000000;
    border-radius: 0;
}

.primary-panel .panel-heading{
    background-color: #255c99;
    color: #FFFFFF;
    border-radius: 0;
}

.primary-panel .btn, .primary-panel input, .primary-panel textarea{
    border-radius: 0;
}

.secondary-panel{
    border: 1px solid #eeeeee;
    color: #000000;
    border-radius: 0;
}

.secondary-panel .panel-heading{
    background-color: #eeeeee;
    color: #000000;
    border-radius: 0;
}

.secondary-panel .btn, .secondary-panel input, .secondary-panel textarea{
    border-radius: 0;
}

/* MODALS CSS */

#warning-modal .modal-content, #welcome-modal .modal-content{
    border-radius: 0;
}

#welcome-modal .modal-header {
    color: #FFFFFF;
}

.popover-content{
    min-width: 300px;
}


/* LEGEND COLORS */

.legend-green{
    background-color: #c2f9ce;
    color: #c2f9ce;
}

.legend-yellow{
    background-color: #fdffb2;
    color: #fdffb2;
}

.legend-light-blue{
    background-color: #c9f3fc;
    color: #c9f3fc;
}

.legend-darker-blue{
    background-color: #96beff;
    color: #96beff;
}

.legend-purple{
    background-color: #E3DAFF;
    color: #E3DAFF;
}

.legend-white{
    background-color: white;
    color: white;
    border: 1px solid black;
}

/* SEARCH RESULTS CSS */

.search-results{
    border: 1px solid #aaaaaa;
    padding: 8px;
    z-index: 100;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
}

.search-result{
    padding: 8px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer
}

/*  LOGO IMAGE */

.logo-side {
    display: block;
    overflow: hidden;
}

.logo-container {
    display: block;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
}

.logo-container img {
    max-width: 100%;
    max-height: 150px;
}