.mySlides{
    margin: 0 30px 0 30px;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
}

.scrollable{
    overflow: scroll;
}

.filter-btn{
    min-width: 150px;
    padding: 4px 16px;
}

.logo-container {
    display: block;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
    padding-top: 10px;
}

.logo-container img {
    max-width: 100%;
    max-height: 150px;
}

.slider-nav-btn {
    padding: 25px;
    background-color: #eeeeee;
}
