<div class="panel panel-default secondary-panel">
    <div class="panel-heading">
        <h5 style="text-align: center;">Legend</h5>
    </div>
    <div class="panel-body" >
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-purple">
                x
            </div>
            <div class="col-md-10">
                Resume updated
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;">
            <div class="col-md-2 legend-darker-blue">
                x
            </div>
            <div class="col-md-10">
                Cover letter received and read
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-green">
                x
            </div>
            <div class="col-md-10">
                Cover letter received
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-yellow">
                x
            </div>
            <div class="col-md-10">
                Cover letter requested
            </div>
        </div>
        <hr/>
        <div class="row" style="padding: 0 15px 0 15px;margin-top: 5px;">
            <div class="col-md-2 legend-white">
                x
            </div>
            <div class="col-md-10">
                No activity
            </div>
        </div>
    </div>
</div>