<div class="padding-1 logo-side">
    {% if company.logo %}
        <div class="left">
            <a href="{% url 'company:delete_logo' %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
        <div class="logo-container left">
            <img src="{{ company.logo.url }}">
        </div>
    {% else %}
        <p>
            You have not yet uploaded a logo.
        </p>
        <form class="hidden">
            {% csrf_token %}
            <input id="logoupload" name="logo" type="file" data-url="{% url 'company:upload_logo' %}">
        </form>
        <div class="logo-progress hidden">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    0%
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-default upload-logo" type="button">Upload Logo</button>
        </div>
    {% endif %}
</div>