<div class="panel panel-default secondary-panel">
    <div class="panel-heading">
        <h4 class="text-center">Post Information</h4>
    </div>
    <div class="panel-body">
        <label>Title:</label><span> {{ post.title }}</span><br/>
        <label>Deadline:</label><span> {{ post.deadline }}</span><br/>
        <label>Start Date:</label><span> {{ post.start_date }}</span><br/>
        <label>End Date:</label><span> {{ post.end_date }}</span><br/>
        <label>Openings:</label><span> {{ post.openings }}</span><br/>
        <label>Wage:</label><span> ${{ post.wage }}/{{ post.wage_interval }}</span>
    </div>
</div>