<div>
    <div id="walkthrough-walkthrough" class="first-walk"
         data-walk="walkthrough" data-pos="bottom">
        <div class="walk-container">
            <p>
                If you need a quick tutorial on any page, click on this icon and I will walk you through it.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="active-applications"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="active-applications-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view your active applications. You also have a quick links to: view that posts' details,
                change the application resume, or withdraw you application.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="saved-events"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="saved-events-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view your saved upcoming events. You also have a quick links to view that events' details,
                or remove it from your saved events.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="latest-posts"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="latest-posts-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view all the latest posts on Jobin. You can open them by clicking on the post
                title.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="resumes-nav"
                        data-pos="bottom" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="resumes-nav-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                <strong>Last but not least!</strong>
                <br/>
                Click on this link to go create your first resume and start applying for jobs!
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-black" data-next="walkthrough"
                        data-pos="bottom" type="button">Restart</button>
                <button class="skip-walk w3-btn w3-border w3-border-green w3-text-green" type="button">Got it</button>
            </div>
        </div>
    </div>
</div>