<div>
    <div id="job-navbar-walkthrough" class="first-walk"
         data-walk="job-navbar" data-pos="bottom">
        <div class="walk-container">
            <p>
                Use this navigation bar to select which type of job offers you would like to view.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="job-filters"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="job-filters-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can filter the job results by location, or by specific job title.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="left-arrow"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="left-arrow-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Use this button to navigate to previous posts.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="right-arrow"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="right-arrow-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Use this button to navigate to next posts.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="resumes-section"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="resumes-section-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can see the active resume (in bold) and you can also choose to change active resume
                by clicking on one of the other resumes.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="apply-btn"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="apply-btn-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                <strong>Last but not least!</strong>
                <br/>
                Use this button to apply to send an application for a job post.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-black" data-next="job-nav"
                        data-pos="top" type="button">Restart</button>
                <button class="skip-walk w3-btn w3-border w3-border-green w3-text-green" type="button">Got it</button>
            </div>
        </div>
    </div>
</div>