<div>
    <div id="resume-overview-walkthrough" class="first-walk"
         data-walk="resume-overview" data-pos="left">
        <div class="walk-container">
            <p>
                In this section you will see all the information pertaining to your resume.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="resume-info"
                        data-pos="left" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="resume-info-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Here you can view the base information of the resume.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="new-experience"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="new-experience-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                For each section in the resume; click on the 'New' button to create a new entry in that
                section. You will be guided through providing the appropriate information for each entry.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-black" data-next="resume-overview"
                        data-pos="left" type="button">Restart</button>
                <button class="skip-walk w3-btn w3-border w3-border-green w3-text-green" type="button">Got it</button>
            </div>
        </div>
    </div>
</div>