<div>
    <div id="new-resume-walkthrough" class="first-walk"
         data-walk="new-resume" data-pos="left">
        <div class="walk-container">
            <p>
                Use the 'New Resume' button to create a new resume, then fill and submit in the proposed forms
                to create a new resume.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="resume-detail"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="resume-detail-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Click on the resume name to navigate to the detail view, where you will be able to update
                and manage all aspects of your resume.
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-blue w3-text-blue" data-next="resume-actions"
                        data-pos="top" type="button">Next</button>
                <button class="skip-walk w3-btn w3-border w3-border-black" type="button">Skip</button>
            </div>
        </div>
    </div>
    <div id="resume-actions-walkthrough" class="walkthrough-message">
        <div class="walk-container">
            <p>
                Use the 'Edit' link to change the resume's base information (gpa, name, ...)
            </p>
            <div>
                <button class="next-walk w3-btn w3-border w3-border-black" data-next="new-resume"
                        data-pos="top" type="button">Restart</button>
                <button class="skip-walk w3-btn w3-border w3-border-green w3-text-green" type="button">Got it</button>
            </div>
        </div>
    </div>
</div>