body{
    background-color: #E0E0E0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.bg-grey{
    background-color: #f6f6f6;
}

.content-container{
    padding-top: 16px;
    background-color: #ffffff;
}

.no-back{
    background: none!important;
}

.jobin-nav{
    background-color: #255c99;
    border: none;
    padding-right: 16px;
}

.jobin-nav img{
    max-width: 100px;
}

.jobin-nav .nav-link{
    padding: 15px 16px;
    color: #FFFFFF;
}

.jobin-nav .nav-link:hover, .jobin-nav .nav-link.active{
    color: #efefef!important;
    text-decoration: none;
    border-bottom: 4px solid #FFFFFF;
    background-color: #255c99!important;
}

.nav-header:hover{
    background-color: #255c99!important;
}

.required:after{
    content: '*';
}

/* COLORS */

.primary-color{
    background-color: #255c99;
}

.secondary-color{
    background-color: #eeeeee;
}

/* MODALS */

.modal-sm{
    max-width: 500px;
}

.modal-md{
    max-width: 900px;
}

/* NOTIFICATIONS */

#notifications .w3-button{
    padding: 8px 0;
}

/* POPOVERS */

.popover-content {
    color: #000000;
}

/* ALERTS */

.message-warning {
    border-left: 5px solid #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b
}

.message-danger {
    border-left: 5px solid #ebccd1;
    background-color: #f2dede;
    color: #a94442
}

.message-success {
    border-left: 5px solid #d6e9c6;
    background-color: #dff0d8;
    color: #3c763d;
}

.message-info {
    border-left: 5px solid #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
}





