

.home-section{
    background: linear-gradient(#e9f1fb, #FFFFFF);
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee;
}

.home-info-div{
    padding-top: 5%;
}

.login-panel{
    border: 1px solid #8c8c8c;
}

.login-panel h3{
    margin-top: 0;
}

#login-form{
    margin-bottom: 10px;
}

.error-alert{
    border: 1px solid #FF8484;
    color: #FE5F55;
}

.signup-div{
    padding-top: 5px;
    padding-bottom: 5px;
}


