


.register-container{
    padding-top: 20px;
    background: linear-gradient(#e9f1fb, #FFFFFF);
}

.register-panel{
    border: 1px solid #2374AB;
}

.register-panel .panel-heading{
    background-color: #2374AB;
    color: #FFFFFF;
}



