
body{
    color: #231651;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
}

.navbar{
    border-radius: 0;
    margin: 0;
    border: none;
}

.jobin-nav{
    background-color: #f2f2f2;
    border-bottom: 1px solid #231651;
}

.jobin-nav h4{
    margin: 0;
}

.jobin-nav li{
    padding: 16px;
}

.jobin-nav-link{
    color: #231651 !important;
}

.section{
    padding-bottom: 20px;
    width: 100%;
}

.less-font-weight{
    font-weight: normal;
}

footer{
    background-color: #f2f2f2;
    padding: 32px;
    color: #231651;
}

footer a{
    color: #2782be;
}

footer a:hover{
    color: #2782be;
    text-decoration: underline;
}


.div-image img{
    max-width: 100%;
    height: auto;
}

