body{
    background-color: #E0E0E0;
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

span.required:after{
    content: '*';
}

.hide{
    display: none;
}

.margined{
    margin-top: 16px;
}

.center{
    text-align: center;
}

.resume-table td{
    padding-left: 16px;
}

.control-label{
    text-align: left!important;
}

.warning-container{
    background-color: #fcfdaf;
    color: #3c3744;
    position: fixed;
    z-index: 1;
    top:30%;
    border: 1px solid #f4e04d;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}


.main-container{
    background: #FFFFFF;
    max-width: 1200px;
    min-width: 400px;
    margin: 30px auto 30px auto;
}

@media screen and (max-width: 1280px){
    .main-container{
        background: #FFFFFF;
        min-width: 400px;
        margin: 30px 30px 30px 30px;
    }
}

@media screen and (max-width: 700px){
    .main-container{
        background: #FFFFFF;
        min-width: 400px;
        margin: 30px 0 30px 0;
    }
}

/* PANEL STYLES */

.primary-panel{
    border: 1px solid #468189;
}

.primary-panel .panel-heading{
    background-color: #468189;
    color: #FFFFFF;
}

.secondary-panel{
    border: 1px solid #9dbebb;
}

.secondary-panel .panel-heading{
    background-color: #9dbebb;
    color: #FFFFFF;
}

.regular-panel{
    border: 1px solid #DDDDDD;
}

.regular-panel .panel-heading{
    background-color: #F8F8F8;
    color: #000000;
}

/* MESSAGE STYLES */

.warning-message{
    border: 1px solid #f4e04d;
    color: #3c3744;
    background-color: #fcfdaf;
}

.danger-message{
    border: 1px solid #ff3e41;
    background-color: #ffccc9;
    color: #3c3744;
}

.info-message{
    border: 1px solid #7a9cc6;
    background-color: #c6e0ff;
    color: #3c3744;
}

/* BUTTON STYLES */

.danger-btn{
    border: none;
    background-color: #e63946;
    color: #FFFFFF;
}

.danger-btn:hover{
    border:none;
    background-color: #902923;
    color: #FFFFFF;
}

.submit-btn{
    border: none;
    background-color: #339989;
    color: #FFFFFF;
}

.submit-btn:hover{
    border: none;
    background-color: #29524a;
    color: #FFFFFF;
}

.regular-btn{
    border: 1px solid #9c9583;
    background-color: #FFFFFF;
    color: #3c3744;
}

.regular-btn:hover{
    border: 1px solid #9c9583;
    background-color: #F8F8F8;
    color: #3c3744;
}

.new-btn{
    border: none;
    background-color: #4e8098;
    color: #FFFFFF;
}

.new-btn:hover{
    background-color: #485665;
    color: #FFFFFF;
}

.applicant-view-btn{
    border: 1px solid #000000;
    background-color: #F8F8F8;
    color: #000000;
}

.applicant-view-btn:hover{
    background-color: #bbcbcb;
    border: 1px solid #000000;
}

.active-applicant-view-btn{
    background-color: #485665;
    color: #FFFFFF;
}

.move-btn{
    border: 1px solid #000000;
    background-color: #F8F8F8;
}

/* LEGEND COLORS */

.legend-green{
    background-color: #c2f9ce;
    color: #c2f9ce;
}

.legend-yellow{
    background-color: #fdffb2;
    color: #fdffb2;
}

.legend-light-blue{
    background-color: #c9f3fc;
    color: #c9f3fc;
}

.legend-darker-blue{
    background-color: #96beff;
    color: #96beff;
}

.legend-purple{
    background-color: #E3DAFF;
    color: #E3DAFF;
}

.legend-white{
    background-color: white;
    color: white;
    border: 1px solid black;
}